/* @override  http://folio.local/workspace/assets/css/folio.css */

/*@import 'common.css';*/

/* @group Layout */
#container {
	width: 740px;
	margin: 0 auto;
	display: block;
/*	overflow-y: hidden;*/
}
#header {
/*	margin: 0;*/
/*	min-height: 2em;*/
	margin: 4em 20px 2em 20px;
/*	padding: 0 40px;*/
	position: relative;
}
#header h2 {
	margin: 1.5em 0 0 0;
	line-height: 1;
	text-indent: -2px;
}
#header a, h2 a, h3 a {
	text-decoration: none;
}
/*
#header ul li {
	display: inline;
}
#header ul li.active {
	font-weight: bolder;
}
#header ul li a {
	display: inline-block;
	margin-right: 1.5em;
}
.navigation {
	margin: 2em 0 48px 0;
	height: 2em;
}*/
#footer {
	clear: both;
	margin-top: 40px;
	margin-left: 20px;
	margin-right: 20px;
}
/* @end */

/* @group #keywords #bundles*/
#main {
	margin-left: 20px;
	margin-right: 220px;
	margin-bottom: 10px;
	clear: both;
}
#navigation {
	margin-left: 20px;
	margin-right: 320px;
	margin-bottom: 10px;
	position: relative;
}
#nav-sidebar {
	width: 280px;
	margin-right: 20px;
	margin-bottom: 10px;
	float: right;
}
#bd-nav {
	font-size: 150%;
}
#bd-nav a {
	display: block;
	position: relative;
	margin-left: 1.25em;
}
#bd-nav a:before {
	display: block;
	position: absolute;
	left: -1.25em;
}
#bd-nav a#preceding-bundle:before {
	content: "\2190";
}
#bd-nav a#following-bundle:before {
	content: "\2192";
}
#bd-nav a#close-bundle:before {
	content: "\2715";
}
#bd-detail {
	margin: 2em 0;
}
#bd-detail .completed {
	margin: 2em 0 1em;
}
/*#bd-content {
	display: none;
}*/
/* @end */

/* DEBUG */
/*#container, #main,  #navigation, #nav-sidebar { outline: 1px solid hsla(0, 0%, 0%, .2); }*/

#header, #footer, #keywords, #bundles { background-color: hsla(0, 0%, 0%, .05); }
#bd-nav		{ background-color: hsla(  0, 75%, 75%, .2); }
#bd-detail	{ background-color: hsla(180, 75%, 75%, .2); }
#bd-images	{ background-color: hsla(270, 75%, 75%, .2); }



/* @group .mapped .item */
.mapped {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}
.mapped a {
	color: inherit;
	display: block;
	width: 100%;
}
.mapped .item {
	margin: 0;
	padding: 0;
	display: block;
/*	background-color: #f0f0f0;*/
}
.mapped .item.selected {
	color: hsl(10, 85%, 50%);
}
.mapped.collapsed .item.selected {
	color: inherit;
}

#keywords {
	margin-bottom: 20px;
}
#bundles {
	min-height: 40px;
	margin-bottom: 20px;
}
#bundles .item .bundle-name {
	padding: 0 0 0.1em 0;
	margin: 0;
}
#bundles .item .completed {
	display: none;
}
/* @end */

/* @group .mapped animated props */

#bundles .item {
	opacity: 1;
	max-height: 33px;
	visibility: visible;
}
#bundles.collapsed .item.selected {
	opacity: 1;
	max-height: 0; /* watch out !!! */
	visibility: visible;
}
#bundles.collapsed .item:not(.selected) {
	opacity: 0;
	max-height: 0;
	visibility: hidden;
}
#keywords.has-highlight:not(.collapsed) .group:not(.highlight) h3,
#keywords.has-highlight:not(.collapsed) .item:not(.highlight),
#bundles.has-highlight:not(.collapsed) .item:not(.highlight) {
	opacity: 0.4;
}

#keywords .item {
	opacity: 1;
	max-height: 18px;
	visibility: visible;
}
#keywords.collapsed .item.highlight {
	opacity: 1;
	max-height: 18px;
	visibility: visible;
}
#keywords.collapsed .item:not(.highlight) {
	opacity: 0;
	max-height: 0;
	visibility: hidden;
}

#bundles .item,
#keywords .item {	
	-webkit-transition: max-height 0.4s, opacity 0.4s, visibility 0.4s;
	   -moz-transition: max-height 0.4s, opacity 0.4s, visibility 0.4s;
	    -ms-transition: max-height 0.4s, opacity 0.4s, visibility 0.4s;
	     -o-transition: max-height 0.4s, opacity 0.4s, visibility 0.4s;
	        transition: max-height 0.4s, opacity 0.4s, visibility 0.4s;
}
/* @end */

/* @group #keywords .group */
#keywords .group {
	margin-left: 100px;
	position: relative;
}
#keywords .group h3 {
/* layout */
	display: block;
	position: absolute;
	width:  80px;
	left: -100px;
	margin: 0; padding: 0;
	
/*	Typography */
	font-size: 85%;
	line-height: 18px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
/* Transitions */
#keywords .group h3 {
	opacity: 1;
}
#keywords.collapsed .group.highlight h3 {
	opacity: 1;
}
#keywords.collapsed .group:not(.highlight) h3 {
	opacity: 0;
}
#keywords .group h3 {
	-webkit-transition: opacity 0.4s;
	   -moz-transition: opacity 0.4s;
	    -ms-transition: opacity 0.4s;	
	     -o-transition: opacity 0.4s;
	        transition: opacity 0.4s;
}
/* @end */


/* @group #keywords .item animation */
/*#keywords .item,
#keywords.collapsed .item.highlight {
	opacity: 1;
	max-height: 18px;
 	animation: itemExpand 0.4s linear forwards;
}
#keywords.collapsed .item:not(.highlight) {
	opacity: 0;
	max-height: 0;
	animation: itemCollapse 0.4s linear forwards;
}
@keyframes itemExpand {
	0%	{
		max-height: 0;
		opacity: 0;
	}
	30% {
		max-height: 0;
		opacity: 0;
	}
	70% {
		max-height: 18px;
		opacity: 0;
	}
	100% {
		max-height: 18px;
		opacity: 1;
	}
}
@keyframes itemCollapse {
	0% {
		max-height: 18px;
		opacity: 1;
	}
	30% {
		max-height: 18px;
		opacity: 0;
	}
	70% {
		max-height: 0px;
		opacity: 0;
	}
	100% {
		max-height: 0px;
		opacity: 0;
	}
}*/
/* @end */

/* @group .bd-nav */
/*.bd-nav {
	clear: left;
}
.bd-nav li#close-bundle {
	display: inline-block;
	clear: left;
}
.bd-nav li#preceding-bundle {
	display: inline-block;
	clear: left;
}
.bd-nav li#following-bundle {
	float: right;
}*/
/* @end */

/* @group .bd-content */
/*.bd-content {
	font-size: 100%;
	margin-top: 2em;
}
.bd-content ul,
.bd-content ol {
	margin: 2em 0 2em 10px;
	padding: 0 20px;
}

.bd-content ul ul,
.bd-content ul ol,
.bd-content ol ul {
	margin: 0 0 0 10px;
}

.bd-content ul li {
	list-style-type: square;
}

.bd-content ol li {
	list-style-type: decimal;
}

.bd-content a:hover {
	color: 				hsl(10, 75%, 50%);
	background-color: 	hsl(0, 0%, 94%);
}

.bd-content .description {
}
*/
/* @end */

/*
.meta {
	font-weight: 600;
}
p.meta {
	margin: 0;
}
.meta:after,
.clear:after {
	content: " ";
	clear: both;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.textcenter {
	text-align: center;
}*/

/* @group .pageable */
.pageable {
	display: block;
	position: relative;
	background: transparent;
	line-height: normal;
	margin: 1.5em 0 3em;
}
.pageable ul {
	margin: 0; padding: 0;
}
.pageable ul > li {
	display: block;
	position: absolute;
	list-style: none;
}
.pageable li a {
	display: block;
}
.pageable li img {
	display: block;
/*	position: absolute;*/
	background-color: #999999;
	box-shadow: 0 4px 5px -2px hsla(0, 0%, 0%, 0.5);
}
.pageable .caption {
	display: block;
	position:absolute;
	top: 35px;
	right: -220px;
	width: 180px;
}
.pageable-ctls {
	display: block;
	position: absolute;
	right: -220px;
	width: 180px;
}
.pageable-ctls a.button {
	display: inline-block;
	overflow: hidden;
	width: 23px; 
	height: 23px;
	margin: 0 5px 0 0;
	padding: 0;
	border-radius: 3px;
	border: 1px solid #ffffff;
	text-decoration: none;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-color: hsl(10, 0%, 90%);
	-webkit-transition: background-color 0.1s;
	   -moz-transition: background-color 0.1s;
	    -ms-transition: background-color 0.1s;	
	     -o-transition: background-color 0.1s;
	        transition: background-color 0.1s;
}
.pageable-ctls a.button:hover {
	background-color: hsl(10, 85%, 50%);
}
.pageable-ctls a.button:active {
	background-color: hsl(10, 100%, 30%);
}
.pageable-ctls a.preceding-button {
	background-image: url('../images/larr.svg');
}
.pageable-ctls a.following-button {
	background-image: url('../images/rarr.svg');
}
/* @end */

/* @group .admin */
.admin a {
	color: 	hsl(0, 0%, 60%);
	margin: -2px -4px;
	padding: 2px  4px;
}
.admin dt {
	float: left;
	display: inline;
	font-weight: bold;
	color: hsl(0, 0%, 60%);
}
.admin dd {
	display: inline;
	margin-left: 10px;
}
/* @end */


@media print {
	#header, #footer, #sidebar, .navigation, #respond {
		display:none;
	}
	div#main, div#container {
		width:auto!important;
		float:none!important;
		color:#000!important;
	}
	a {
		color:#000!important;
	}
}


