/* @group file: _buttons.scss */
.rsquare-pager {
	.button {
		color: transparent;
		display: inline-block;
		vertical-align: middle;
		overflow: hidden;
		width: 23px; max-width: 23px;
		height: 23px; max-height: 23px;
		margin: 0 1px 0 0;
		padding: 0;
		border-radius: 3px;
		border: 0px solid #ffffff;
		text-decoration: none;
		background-position: 0 0;
		background-repeat: no-repeat;
		transition: background-color 0.1s;
	}
	.preceding-button {
		background-image: url('../images/rsquare-larr.svg');
	}
	.following-button {
		background-image: url('../images/rsquare-rarr.svg');
	}
	.close-button {
		background-image: url('../images/rsquare-close.svg');
	}
	.button {
		background-color: hsl(10, 0%, 80%);
	}
	.button:hover {
		background-color: $link-color;
	}
	.button:active {
		background-color: $link-down-color;
	}
}

.text-pager {
	font-size: 150%;
	line-height: 2;

	.button {
		display: block;
		position: relative;
		margin-left: -0.5em;
		padding-left: 2.0em;
		padding-right: 0.5em;
	}
	.button:hover {
		color: white;
		background-color: $link-color;
	}
	.button:active {
		color: white;
		background-color: $link-down-color;
	}
	.button:before {
		text-align: center;
		display: block;
		position: absolute;
		left: 0.5em;
		width: 1em;
	}
	.preceding-button:before {
		content: "\2190";
	}
	.following-button:before {
		content: "\2192";
	}
	.close-button:before {
		content: "\2715";
	}
}

/* @end */

// Bulleted text-list-style
.fontello-pager {
	.button {
		color: inherit;
		// display: block;
		font-weight: 600;
		font-size: 115%;
		line-height: 2rem;
	}
	.button:hover {
		color: $link-hover-color;
	}
	.button:active {
		color: $link-down-color;
	}
}
// Inline pill-style
.fontello-pill-pager {
	/* flexbox setup */
	display: -webkit-flex;
	-webkit-flex-direction: row;
	display: flex;
	flex-direction: row;

	.button {
		// width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
		font-weight: 600;
		font-size: 100%;
		line-height: 1em;
		padding: 0.5em 0.75em;
		// padding: 0.4em 0.85em 0.45em 0.75em;
		border-radius: 0.2em;
		margin-right: 0.35em;
		&:last-child {
			margin-right: 0;
		}
	}
	.preceding-button,
	.following-button {
		/* flexbox setup */
		-webkit-flex: 1 0 0%;
    	flex: 1 0 0%;
	}
	.close-button {
		/* flexbox setup */
		-webkit-flex: 0 1 auto;
    	flex: 0 1 auto;
	}
	.button {
		color: inherit;
		background-color: hsl(10, 0%, 95%);
		border-width: 1px;
		border-style: solid;
		border-color: scale_color(hsl(10, 0%, 95%), $lightness: -5%);
	}
	.button:hover {
		color: white;
		background-color: $link-hover-color;
		border-color: scale_color($link-hover-color, $lightness: -30%);
	}
	.button:active {
		color: white;
		background-color: $link-down-color;
		border-color: scale_color($link-down-color, $lightness: -30%);
	}
}

// Fontello Icons
@mixin fontello-icon-base() {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	content: '\e805';
	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;
}
@mixin fontello-icon-after() {
	@include fontello-icon-base();
	margin-right: -0.1em;
	margin-left: .4em;
}
@mixin fontello-icon-before() {
	@include fontello-icon-base();
	margin-left: -0.1em;
	margin-right: .4em;
}

.fontello-pill-pager,
.fontello-pager {
	.button:before {
		@include fontello-icon-before();
	}
}
// circled icons
.fontello-pager {
	.button:before {
		font-size: 95%;
	}
	.preceding-button:before {
		content: '\e800';
	}
	.following-button:before {
		content: '\e801';
	}
	.close-button:before {
		content: '\e805';
	}
}

// big icons
.fontello-pill-pager {
	.button:before {
		font-size: 80%;
	}
	.preceding-button:before {
		content: '\e808';
	}
	.following-button:before {
		content: '\e809';
	}
	.close-button:before {
		content: '\e80b';
	}
}
