
.selectable-list {
	position: relative;

	.item {
		display: block;
		width: 100%;
		// white-space: nowrap;
		// overflow: hidden;
		// text-overflow: ellipsis;
		a {
			color: inherit;
			-webkit-transition: translate3d(0,0,0);
		}
	}
	.group {
		-webkit-transition: translate3d(0,0,0);
	}
	.selected {
		color: $link-color;
	}
	&.collapsed .selected {
		color: inherit;
	}
	&:not(.collapsed) .excluded {
		color: scale_color($color, $lightness: 50%);
	}
}

#bundle-list {
	padding-top: 0.5rem;
	min-height: 3rem;

	.item {
		@include heading-text;
		@include translateX(-2px);
		.completed {
			display: none;
		}
	}
}

#keyword-list {
	padding-top: 1rem;

	.item {
		width: 62%;
		margin-left: 38%;
		line-height: 1.5rem;
	}
	.group {
		@include small-caps;
		// @include translateY(1px);
		line-height: 1.5rem;
		position: absolute;
		width: calc(38% - 2rem);
		left: 0;
	}
}

/*
 * Animations/Transitions
 */

$ease-fn: ease;
$collapse-params: 1s $ease-fn;

#bundle-list {
	.item {
		max-height: 1.5em;
		visibility: visible;
		opacity: 1;
	}
	&.collapsed {
		.item {
			max-height: 0;// watch out!!!
		}
		// .item.selected {
		// 	max-height: 1.5em;
		// 	visibility: visible;
		// 	opacity: 1;
		// }
		.item:not(.selected) {
			// max-height: 0;
			visibility: hidden;
			opacity: 0;
		}
	}
}

#keyword-list {
	.item {
		max-height: 1.5em;
		visibility: visible;
		opacity: 1;
	}
	.group {
		visibility: visible;
		opacity: 1;
	}
	&.collapsed {
		.item.excluded {
			max-height: 0;
			visibility: hidden;
			opacity: 0;
		}
		.group.excluded {
			visibility: hidden;
			opacity: 0;
		}
	}
}

// #bundle-list.animate,
#keyword-list.animate  {
	.group, .item {
		transition-property: opacity, visibility, max-height;
		transition-timing-function: $ease-fn, step-start, $ease-fn;
		transition-duration: 0.3s, 1s, 0.3s;
		transition-delay: 0.7s, 0s, 0.35s;// wait, expand, fadein
	}
	&.collapsed {
		.group.excluded, .item.excluded {
			transition-timing-function: $ease-fn, step-end, $ease-fn;
			transition-delay: 0s, 0s, 0.35s;// fadeout, collapse, wait
		}
	}
}

#bundle-list.animate {
	.item {
		transition-property: opacity, visibility, max-height;
		transition-timing-function: $ease-fn, step-start, $ease-fn;
		transition-duration: 0.3s, 1s, 0.3s;
		transition-delay: 0.7s, 0s, 0.35s;// wait, expand, fadein
	}
	&.collapsed {
		// .item.selected {
		// 	transition-timing-function: $ease-fn, step-start, $ease-fn;
		// 	transition-delay: 0.35s, 0s, 0.35s;// fadeout, collapse, wait
		// }
		// .item:not(.selected) {
		// 	transition-timing-function: $ease-fn, step-end, $ease-fn;
		// 	transition-delay: 0.35s, 0s, 0.35s;// fadeout, collapse, wait
		// }
		.item:not(.selected) {
			transition-timing-function: $ease-fn, step-end, $ease-fn;
			transition-delay: 0s, 0s, 0.35s;// fadeout, collapse, wait
		}
	}
}

/*
// #keyword-list {
// #keyword-list.animate {
#none.animate {
	// &:not(.collapsed) {
		.item { animation: fromCollapsedItem $collapse-params; }
		.group { animation: fromCollapsedGroup $collapse-params; }
		// .item:not(.excluded) { animation: fromCollapsedItem $collapse-params; }
		// .group:not(.excluded) { animation: fromCollapsedGroup $collapse-params; }
	// }
	&.collapsed {
		// .item.included { animation: fromCollapsedItem $collapse-params; }
		// .group.included { animation: fromCollapsedGroup $collapse-params; }
		// .item:not(.included) { animation: toCollapsedItem $collapse-params; }
		// .group:not(.included) { animation: toCollapsedGroup $collapse-params; }

		// .item:not(.excluded) { animation: fromCollapsedItem $collapse-params; }
		// .group:not(.excluded) { animation: fromCollapsedGroup $collapse-params; }
		.item.excluded { animation: toCollapsedItem $collapse-params; }
		.group.excluded { animation: toCollapsedGroup $collapse-params; }
	}
}

@keyframes fromCollapsedItem {
	0% {
		max-height: 0;
		visibility: hidden;
		opacity: 0;
	}
	30% {
		max-height: 0;
		visibility: visible;
		opacity: 0;
	}
	70% {
		max-height: 1.5em;
		visibility: visible;
		opacity: 0;
	}
	100% {
		max-height: 1.5em;
		visibility: visible;
		opacity: 1;
	}
}

@keyframes toCollapsedItem {
	0% {
		max-height: 1.5em;
		visibility: visible;
		opacity: 1;
	}
	30% {
		max-height: 1.5em;
		visibility: visible;
		opacity: 0;
	}
	70% {
		max-height: 0;
		visibility: visible;
		opacity: 0;
	}
	100% {
		max-height: 0;
		visibility: hidden;
		opacity: 0;
	}
}

@keyframes fromCollapsedGroup {
	0% {
		visibility: hidden;
		opacity: 0;
	}
	30% {
		visibility: visible;
		opacity: 0;
	}
	70% {
		visibility: visible;
		opacity: 0;
	}
	100% {
		visibility: visible;
		opacity: 1;
	}
}

@keyframes toCollapsedGroup {
	0% {
		visibility: visible;
		opacity: 1;
	}
	30% {
		visibility: visible;
		opacity: 0;
	}
	70% {
		visibility: visible;
		opacity: 0;
	}
	100% {
		visibility: hidden;
		opacity: 0;
	}
}*/
