
// .image-item .placeholder { opacity: 0.8; }

.viewport {
// 	position: relative;
// 	padding: 1.5rem 0;
// 	width: 100%;
// 	margin: 0 auto;
}

/* carousel layout */
.image-list {
	position: relative;
	// overflow: visible;
	overflow: hidden;
	padding: 1.5rem 0; height: 100%;
	margin: -1.5rem 0; width: 100%; min-width: 740px;
	// margin: -1.5rem auto; width: 740px;
	// margin: -1.5rem auto; width: calc(100% - 6rem); min-width: 740px;
}
.image-item {
	position: absolute;
}

.image-item {
	width: 740px;
	left: calc(50% - 370px);
	height: calc(100% - 3rem);
	// top: 1.5rem; height: calc(100% - 3rem); left: calc(50% - 370px);
	// right: 0;
}
@media only screen and (min-width : 1024px) {
	.image-item {
		width: 960px;
		left: calc(50% - 480px);
	}
}

.image-list.animate > .image-item {
	transition: all .3s;
	// -webkit-transition: all .3s;
}

.image-item {
	img, .placeholder {
		position: absolute;
		right: 0;
		margin: 0 $page-margin;
		@include box-sizing(border-box);
	}
	img {
		// display: none;
		display: block;

		color: $inverse-color;
		background-color: $inverse-background-color;
		box-shadow: 0 1rem 1rem -0.5rem hsla(0, 0%, 0%, 0.5);
	}
	.placeholder {
		display: none;
		// display: block;

		color: $inverse-color;
		background-color: scale_color($background-color, $lightness: -22%);
		border: 1px solid scale_color($background-color, $lightness: -27%);

		p {
			@include heading-text;
			margin: 1rem $page-margin;
		}
		&, * {
			user-select: none;
			cursor: default;
		}
	}
	// &:not(.selected) {
	// 	img {
	// 		transition: opacity .5s;
	// 		opacity: 0;
	// 	}
	// 	.placeholder {
	// 		transition: visibility .5s;
	// 		transition-timing-function: step-start;
	// 		visibility: visible;
	// 	}
	// }
	// &.selected {
	// 	img {
	// 		opacity: 1;
	// 	}
	// 	.placeholder {
	// 		transition-timing-function: step-end;
	// 		visibility: hidden;
	// 	}
	// }
}

