.sc {
	@include small-caps;
	@include translateY(1px);
}

/* ---------------------- *
 * View inner elements
 * ---------------------- */
#bundle-detail {
	color: lighten($color, 15%);
	.name {
		display: none;
	}
	.completed {
		display: none;
	}
	// .description {
	// 	overflow: hidden;
	// 	text-overflow: ellipsis;
	// 	height: 100%;
	// }
}

.list#bundle-images-pager {
	// display: block;
	// position: absolute;
	// margin: 0 auto;
	// height: calc(2rem + 2px);
	// left: 0; right: 0;
	// text-align: center;

	.list-item {
		cursor: pointer; // show link cursor
		display: inline-block;
		text-align: center;
		padding-right: 0.5rem;
		width: 1.5rem; height: 1.5rem;
		&:first-child { margin-left: -0.5rem; }
		&:last-child { margin-right: -0.5rem; padding-right: 0; }

		a {
			position: relative; display: inline-block;
			overflow: hidden; color: transparent;//line-height: 0; font-size: 0;
			top: 0; width: 7px; height: 7px; border-radius: 7px;
			background-color: $color;
		}
		a:hover {
			top: 1px; width: 9px; height: 9px; border-radius: 9px;
		}
		a:active {
			top: 1px; width: 5px; height: 5px; border-radius: 5px;
			border: 2px solid $color;
			background-color: transparent;
		}
		 &.selected a {
			top: 0; width: 5px; height: 5px; border-radius: 5px;
			border: 1px solid $color;
			background-color: transparent;
		}
	}
}

#header {
	@at-root #site-name {
		@include heading-block;
		// @include col-full;
	}
}

#footer {
	color: lighten($color, 35%);
	a {
		color: inherit;
		&:hover {
			text-decoration: underline;
		}
	}
	.copyright, {
		padding-top: 3em;
		margin-top: 0;
	}
	.admin {
		padding-top: 3em;
		display: block;
		float: right;
		text-align: right;
		white-space: nowrap;
		// margin: 0 $page-margin;
		dt,
		dd {
			display: inline;
			margin-left: 10px;
		}
		dt {
			font-weight: bold;
		}
	}
}
