
// Debug
// #navigation	{ background-color: ghostwhite; }
// #footer		{ background-color: ghostwhite; }
// .viewport	{ background-color: beige; }
// .image-list	{ background-color: aliceblue; }
// .image-item	{ background-color: seashell; }

#bundle-images {
}

/* carousel layout */
.image-list {
	overflow: hidden;
	position: relative;
	margin: -1.5rem 0;
	padding: 1.5rem 0;
	width: 100%;
	min-width: 740px;
	height: 100%;
}
.image-item {
	position: absolute;
	top: 1.5rem;
	height: calc(100% - 3rem);
	left: calc(50% - 350px);
	width: 700px;
}
.image-list.animate > .image-item {
	transition: all .3s;
	// -webkit-transition: all .3s;
}

.image-item {
	img {
		position: absolute;
		display: block;
		background-color: #999;
		box-shadow: 0 1rem 1rem -0.5rem hsla(0, 0%, 0%, 0.5);
	}
	.placeholder {
		display: none;
		// display: block;
		// position: absolute;
		// border: 1px solid scale_color($background-color, $lightness: -7%);
		// background-color: scale_color($background-color, $lightness: -2%);
		// @include box-sizing(border-box);
	}
	// &:not(.selected) {
	// 	img {
	// 		transition: opacity .5s;
	// 		opacity: 0;
	// 	}
	// 	.placeholder {
	// 		transition: visibility .5s;
	// 		transition-timing-function: step-start;
	// 		visibility: visible;
	// 	}
	// }
	// &.selected {
	// 	img {
	// 		opacity: 1;
	// 	}
	// 	.placeholder {
	// 		transition-timing-function: step-end;
	// 		visibility: hidden;
	// 	}
	// }
}

