.selectable-list {
	.item {
		display: block;
		width: 100%;
		a {
			color: inherit;
		}
	}
	& .item.selected {
		color: $link-color;
	}
	&.collapsed .item.selected {
		color: inherit;
	}
	// &.has-included:not(.collapsed) {
	// 	.group,
	// 	.item {
	// 		&:not(.included):not(.selected) {
	// 			color: #999999;
	// 		}
	// 	}
	// }
}

#bundle-list {
	padding-top: 0.5rem;
	min-height: 3rem;

	.item {
		@include heading;
		@include translateX(-2px);
		.completed {
			display: none;
		}
	}
}

#keyword-list {
	padding-top: 1rem;

	.item {
		width: 62%;
		margin-left: 38%;
		line-height: 1.5rem;
	}
	.group {
		@include small-caps;
		// @include translateY(1px);
		line-height: 1.5rem;
		position: absolute;
		width: calc(38% - 2rem);
		left: 0;
	}
}


#bundle-list {
	&,
	&:not(.collapsed) {
		.item,
		.item:not(.selected) {
			max-height: 1.5em;
			visibility: visible;
			opacity: 1;
		}
	}
	&.collapsed {
		.item.selected {
			max-height: 0;//1.5em;// watch out!!!
			visibility: visible;
			opacity: 1;
		}
		.item,
		.item:not(.selected) {
			max-height: 0;
			visibility: hidden;
			opacity: 0;
		}
	}
}



#keyword-list {
	&:not(.collapsed) {
		.item {
			max-height: 1.5em;
			visibility: visible;
			opacity: 1;
		}
		.group {
			opacity: 1;
			visibility: visible;
		}
	}
	&.collapsed {
		.item.included {
			max-height: 1.5em;
			visibility: visible;
			opacity: 1;
		}
		.group.included {
			opacity: 1;
			visibility: visible;
		}
		.item.excluded {
			max-height: 0;
			visibility: hidden;
			opacity: 0;
		}
		.group.excluded {
			opacity: 0;
			visibility: hidden;
		}
	}
}

/*
 * Animations/Transitions
 */

$ease-fn: ease;
$collapse-params: 1s $ease-fn;

#bundle-list.animate {
	&,
	&:not(.collapsed) {
		.item,
		.item:not(.selected) {
			transition-property: opacity, visibility, max-height;
			transition-timing-function: $ease-fn;
			transition-duration: 0.333s, 0s, 0.333s;
			transition-delay: 0.666s, 0s, 0.333s;// wait, expand, fadein
		}
	}
	&.collapsed {
		.item.selected {
			transition-delay: 0.666s, 0s, 0.333s;// wait, expand, fadein
		}
		.item:not(.selected) {
			transition-delay: 0s, 1s, 0.333s;// fadeout, collapse, wait
		}
	}
}

#keyword-list.animate {
	&:not(.collapsed) {
		.item { animation: fromCollapsedItem $collapse-params; }
		.group { animation: fromCollapsedGroup $collapse-params; }
	}
	&.collapsed {
		.item.included { animation: fromCollapsedItem $collapse-params; }
		.group.included { animation: fromCollapsedGroup $collapse-params; }
		.item.excluded { animation: toCollapsedItem $collapse-params; }
		.group.excluded { animation: toCollapsedGroup $collapse-params; }
	}
}

@keyframes fromCollapsedItem {
	0% {
		max-height: 0;
		visibility: hidden;
		opacity: 0;
	}
	30% {
		max-height: 0;
		visibility: visible;
		opacity: 0;
	}
	60% {
		max-height: 1.5em;
		visibility: visible;
		opacity: 0;
	}
	100% {
		max-height: 1.5em;
		visibility: visible;
		opacity: 1;
	}
}

@keyframes toCollapsedItem {
	0% {
		max-height: 1.5em;
		visibility: visible;
		opacity: 1;
	}
	30% {
		max-height: 1.5em;
		visibility: visible;
		opacity: 0;
	}
	60% {
		max-height: 0;
		visibility: visible;
		opacity: 0;
	}
	100% {
		max-height: 0;
		visibility: hidden;
		opacity: 0;
	}
}

@keyframes fromCollapsedGroup {
	0% {
		visibility: hidden;
		opacity: 0;
	}
	30% {
		visibility: visible;
		opacity: 0;
	}
	60% {
		visibility: visible;
		opacity: 0;
	}
	100% {
		visibility: visible;
		opacity: 1;
	}
}

@keyframes toCollapsedGroup {
	0% {
		visibility: visible;
		opacity: 1;
	}
	30% {
		visibility: visible;
		opacity: 0;
	}
	60% {
		visibility: visible;
		opacity: 0;
	}
	100% {
		visibility: hidden;
		opacity: 0;
	}
}
