/**
 * Debug colors
 * @see http://dev.w3.org/csswg/css-color/#named-colors
 * ultralight colors: lavender,seashell,aliceblue,ghostwhite
 */

/* lightblue: 		hsl(195, 53%, 79%) */
$lightblue: 		hsla(195, 75%, 50%, 1);
/* deepbluesky: 	hsl(195, 100%, 50%) */
$deepskyblue: 		hsla(195, 100%, 50%, 1);
/* lightcoral: 		hsl(6, 93%, 71%) */
$lightcoral: 		hsla(6, 93%, 71%, 1);
/* salmon: 			hsl(6, 93%, 71%) */
$salmon: 			hsla(6, 93%, 71%, 1);
/* thistle: 		hsl(300, 24%, 80%) */
$thistle: 			hsla(300, 24%, 80%, 1);
/* darkseagreen:	hsl(120, 25%, 65%) */
$darkseagreen:		hsla(120, 25%, 65%, 1);
/* darkolivegreen:	hsl(???) */
$darkolivegreen:	darkolivegreen;

.debug-grid {
	background-color: transparent;
	background-image: image-url("debug-background.svg");
	background-repeat: no-repeat;
//	background-attachment: local;
	background-position: calc(50% + 130px) 0rem;
//	background-position: calc(50% + #{($page-width-large - $page-width)/2 + ($page-margin-left - $page-margin-right)}) 1rem;
	@include media($desktop-small) {
		background-position: calc(50% + 10px) 0rem;
//		background-position: calc(50% + #{$page-margin-left - $page-margin-right}) 1rem;
	}
}
.debug-blocks {
//	outline: 1px dashed $darkseagreen;
//	outline-offset: -1px;
	* { outline-offset: -1px; }
	#header, #footer,
	#container-footer {
		background-color: transparentize($darkseagreen, 0.8);
		outline: 1px dashed $darkseagreen;
	}
	#navigation {
		background-color: transparentize($salmon, 0.8);
		outline: 1px dashed $salmon;
	}
	#bundle-pager > .button {
		outline: 1px dashed $darkseagreen;
		background-color: transparentize($darkseagreen, 0.7);
	}
	#nav-root, .selectable {
		outline: 1px dashed $lightcoral;
		background-color: transparentize($lightcoral, 0.8);
	}
	#site-name, .list-item, .list-group {
		background-color: transparentize($lightcoral, 0.8);
		& > * {
			outline: 1px dashed $lightcoral;
			background-color: transparentize($lightcoral, 0.8);
		}
	}
	#content {
		outline: 1px dashed $darkseagreen;
		#content-detail {
			background-color: transparentize($lightblue, 0.8);
//			border: 0.5rem solid transparentize($lightblue, 0.7);
		}
		.carousel {
			.pan-area {
				outline: 0.25rem dashed $deepskyblue;
				outline-offset: -0.25rem;
			}
			.image-item {
		 		background-color: transparentize($deepskyblue, 0.8);
			}
			.carousel-item {
				outline: 1px dashed $deepskyblue;
				.content {
		 			background-color: transparentize($deepskyblue, 0.8);
				}
			}
		}
		.item-detail {
			outline: 1px dashed $deepskyblue;
			.content {
				background-color: transparentize($lightblue, 0.7);
			}
		}
	}
//	.dots-fontello.list-item {
//		background-color: blue;
//		a { background-color: blue; }
//		.label { background-color: cyan; }
//		& a:before { background-color: yellow; }
//	}
}

.toolbar {
	display: flex;
	flex-direction: row;
	& > * {
		-webkit-flex: 0 1 auto;
    	flex: 0 1 auto;
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		cursor: pointer;
		user-select: none;
		margin: auto 0;
		padding: 0 0.75em;
		border-color: inherit;
		border-left-style: solid;
		border-left-width: thin;
	}
	& > *:first-child {
//		padding-left: 0;
		border-left: 0 none;
	}
//	& > *:last-child {
//		padding-right: 0;
//	}
}

#debug-toolbar {
	z-index: 999;
	color: hsl(245, 2%, 40%);
	background-color: hsl(60, 4%, 5%);
	&, * { user-select: none !important; }

	position: fixed;
	bottom: 0;
	width: 100%;
	height: 1.5rem;
	padding: 0.5em 0;
	dt, dd {
		@include small-caps;
		@include font-smoothing;
		line-height: 1em;
		height: 1em;
	}
}

