
// Colors
$link-color: 		hsl(10, 80%, 50%);
$link-hover-color: 	hsl(10, 100%, 60%);
$link-down-color: 	hsl(10, 100%, 30%);

// Font fallback lists
$mono-fallback: Monaco, Consolas, monospace;
// $humanist-fallback: Calibri, Charcoal, Tahoma, Kalimati, sans-serif;
// $humanist-fallback: 'Lucida Grande','Lucida Sans', Verdana, Helvetica, Arial, sans-serif;
$humanist-fallback: 'Lucida Grande','Lucida Sans', Calibri, Tahoma, Kalimati, sans-serif;

// Typefaces seem to be loaded on demand, so we define all weights, used or not.
// @import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200italic,300,300italic,400,400italic,600,600italic,700,700italic,900,900italic");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic");
$font-webfont-sans: "Source Sans Pro", $humanist-fallback;

// @import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,300italic,400italic,600italic,700italic&subset=latin,latin-ext");
// $font-webfont-sans: "Open Sans", $humanist-fallback;

// font family aliases (these are used elsewhere)
$large-font-family: $font-webfont-sans;
$small-font-family: $humanist-fallback;
$mono-font-family: $mono-fallback;

// font shorthands aliases (these are used elsewhere)
$base-font: 12px $font-webfont-sans;
// $base-font: 8pt/1.5 $font-system-sans;

// h1
// font-size: 3.42857rem;
// letter-spacing: -2px;
// h2
// font-size: 2.14286rem;
// letter-spacing: -1px;

@mixin heading-font() {
	font-family: $large-font-family;
	// font-size: 3.42857rem; letter-spacing: -2px;
	font-size: 240%; letter-spacing: -0.04em;

	font-weight: 300;
	font-style: normal;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-rendering: optimizelegibility;
	text-rendering: optimizelegibility;
}
// Typography
@mixin heading() {
	@include heading-font;
	line-height: 1.07;
}
@mixin heading-block() {
	@include heading-font;
	@include translateX(-2px);
	line-height: 3rem;
}
@mixin small-caps() {
	font-size: 85%;
	font-weight: 600;
	line-height: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 0.11em;
}
