/* @override http://folio.localhost/workspace/assets/css/symphony.css */

// Color palette
// -------------------------------- //

	$focus-color: #5273c0;//hsl(221,46%,53%);
	$focus-background-color: #e9effc;

/* Form Controls
/* -------------------------------- */

	// select[multiple],
	// input[type="text"],
	// input[size],
	// textarea {
	// 	border:	1px solid hsla(0, 0%, 50%, 0.6);
	// 	-webkit-border-radius: 3px;
	// 	   -moz-border-radius: 3px;
	// 	        border-radius: 3px;
	// }
	// label > select[multiple],
	// label > input[type="text"],
	// label > input[size],
	// label > textarea {
	//     -webkit-box-shadow: 0.05em 0.1em 0.2em hsla(0, 0%, 0%, 0.08) inset;
	//        -moz-box-shadow: 0.05em 0.1em 0.2em hsla(0, 0%, 0%, 0.08) inset;
	//             box-shadow: 0.05em 0.1em 0.2em hsla(0, 0%, 0%, 0.08) inset;
	// }

	// label > input[type="text"],
	// label > input[size],
	// label > textarea {
	//     padding: 0.4em;
	// }
	// label > input[type="checkbox"] {
	// 	top: auto;
	// }
	// select[multiple],
	// label > select[multiple] {
	// 	padding: 0;
	// }
	// select[multiple] option,
	// label > select[multiple] option {
	// 	padding: 0.05em 0.4em;
	// }
	// select[multiple] {
	// 	height: 15rem;
	// 	overflow-y: scroll !important;
	// 	overflow: -moz-scrollbars-vertical !important;
	// }

	/* focus: text inputs */
	.field-date select:focus,
	.field-textarea textarea:focus,
	.field label > input[type="text"]:focus {
		border-color: $focus-color;
	}
	::selection {
		color: $focus-color;
		background-color: $focus-background-color;
	}
	::-moz-selection {
		color: $focus-color;
		background-color: $focus-background-color;
	}

/* Association fields
/* -------------------------------- */

	/* published yes/no */

	.field-association {
		// span.published-Yes {
		// }
		span.published-No {
			color: hsl(0, 0%, 70%);
			// font-weight: bolder;
			// font-style: italic;
			// text-decoration: line-through;

			// &:after {
			// 	content: "(Unpublished)";
			// 	font-weight: bolder;
			// 	padding-left: 0.6em;
			// }
		}
	}

	// .page-index td.field-selectbox_link,
	.page-index td.field-association {
		// position: relative;
		color: transparent;
		line-height: 0;

		a {
			line-height: 1.5em;
			padding: 0; margin: 0;
			border-bottom: 0 none;
			display: block;
			min-width: none;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			.published-Yes {
				border-bottom: 1px solid hsla(215, 45%, 45%, 0.15);
			}
			.published-No {
				border-bottom: 1px solid hsla(0, 0%, 70%, 0.25);
			}
		}
	}

	.page-edit .field-association {
		span.published-Yes,
		span.published-No {
			// display: inline-block !important;
			padding: 0 !important;
			min-width: none;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

/* FINISTERRE ---------------------- */
