<div class="placeholder sizing"></div>
<div class="content">
	<img class="default" alt="{{name}}" longdesc="#desc_m{{id}}" />
	<img class="overlay" src="{{global "APP_ROOT"}}/workspace/assets/images/browser-safari.svg"/>
</div>
