<div class="placeholder sizing"></div>
<div class="content">
	<div class="media-border content-size"></div>
	<div class="controls content-size">
		<canvas class="progress-meter"></canvas>
	</div>
	<div class="sequence media-size">
		<img class="sequence-step current default" alt="{{text}}" longdesc="#desc_m{{id}}" />
	</div>
	<div class="overlay media-size play-toggle-hitarea">
		<canvas class="play-toggle"/>
		{{!<div class="play-toggle">}}
			{{!> ../template/svg/PlayToggleSymbol.hbs }}
		{{!/div>}}
	</div>
</div>
