<div class="placeholder sizing"></div>
<div class="content play-toggle">
	<div class="sequence media-size">
		<img class="current default" alt="{{name}}" longdesc="#desc_m{{id}}" />
	</div>
	<div class="overlay media-size">
		<div class="play-toggle-hitarea play-toggle"><!-- &#xe80d; --></div>
	</div>
</div>
