<div class="placeholder sizing"></div>
<div class="content">
	<div class="media-border content-size"></div>
	<div class="controls content-size">
		<div class="top-bar control-box">
			{{! <div class="progress-meter"></div> }}
			{{! <canvas class="progress-meter"></canvas> }}
		</div>
	</div>
	<div class="sequence media-size">
		<img class="sequence-step current default" alt="{{name}}" longdesc="#desc_m{{id}}" />
	</div>
	<div class="overlay media-size">
		<div class="play-toggle-hitarea play-toggle">
			{{! &#xe80d; }}
		</div>
	</div>
</div>