<div class="placeholder sizing"></div>
<div class="content play-toggle not-played handlebars">
	<video preload="none">
		{{#each srcset}}
			<source src="{{src}}" type="{{mime}}"></source> 
		{{/each}}
	</video>
	<img class="poster default current" alt="{{name}}"/>
	<div class="overlay">
		<span class="play-button">&#xe805;</span>
	</div>
</div>
