<div class="placeholder sizing"></div>
<div class="content media-border">
	<div class="controls content-size">
		<canvas class="progress-meter"></canvas>
		<a class="fullscreen-toggle" href="javascript:(void 0)">
			{{> ../template/svg/FullscreenSymbol.hbs}}
		</a>
	</div>
	<div class="crop-box media-size">
		<video width="240" height="180"></video>
		<img class="poster default" alt="{{text}}" width="240" height="180" />
	</div>
	<div class="overlay media-size play-toggle-hitarea">
		<div class="play-toggle">
			<canvas class="play-toggle-symbol"/>
			{{!> ../template/svg/PlayToggleSymbol.hbs }}
		</div>
	</div>
</div>
