/* @group Flash/SWFObject */

/* @group Global */
html.flash, .flash body {
	height: 100%;
	color: hsl(47, 5%, 9%);
	background: #ffffff;
	position: relative;
	font: 9pt/1.5 Calibri, Charcoal, Tahoma, Kalimati, sans-serif;
}
.flash body {
	overflow: hidden;
	position: relative;
}
#flash {
	height: 100%;
	overflow: hidden; 
}
#alt {
	position: relative;
	margin: 1.5em;
	padding: 2em;
	padding-left: 6em;
	background: transparent url('../images/diagonal.svg') scroll no-repeat 0 0;
	background-clip: border-box;
	background-origin: border-box;
	background-size: auto auto;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
#alt strong {
	color: #333;
	font-weight: bold;
}
.flash-box {
	border: 1px solid rgba(0,0,0,0.15);
	width: 110px; height: 120px;
	margin: 0; padding: 0;
	display: inline-block;
	position: relative;
	text-align: center;
}
.flash-logo {
	background: #AAA url('../images/fp43.svg') scroll no-repeat 0 0;
	background-clip: border-box;
	background-origin: border-box;
	background-size: 100% auto;
	line-height: 0;
	color: transparent;
	overflow: hidden;
	display: inline-block;
	position: absolute;
	top: 50%; left: 3em;
	width: 3em; height: 3em;
	margin: -1.5em auto auto -1.5em;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
/* @end */
