/**
 * Debug colors
 * @see http://dev.w3.org/csswg/css-color/#named-colors
 * ultralight colors: lavender,seashell,aliceblue,ghostwhite
 */

/* lightblue: 		hsl(195, 53%, 79%) */
$lightblue: hsla(195, 75%, 50%, 1);
/* deepbluesky: 	hsl(195, 100%, 50%) */
$deepskyblue: hsla(195, 100%, 50%, 1);
/* lightcoral: 		hsl(6, 93%, 71%) */
$lightcoral: hsla(6, 93%, 71%, 1);
/* salmon: 			hsl(6, 93%, 71%) */
$salmon: hsla(6, 93%, 71%, 1);
/* thistle: 		hsl(300, 24%, 80%) */
$thistle: hsla(300, 24%, 80%, 1);
/* darkseagreen:	hsl(120, 25%, 65%) */
$darkseagreen: hsla(120, 25%, 50%, 1); //hsl(120, 25%, 65%)
/* darkolivegreen:	hsl(82, 39%, 30%) */
$darkolivegreen: hsla(82, 39%, 50%, 1); //hsl(82, 39%, 30%);
/* indigo:			hsl(275, 100%, 25%); */
$indigo: hsla(275, 100%, 25%, 1);
/* */
$brightyellow: hsl(308, 100%, 50%);
/* Crimson	DC 14 3C	220  20  60 */
$crimsom: rgba(220, 20, 60, 1);

@mixin debug_outline($width: 1px, $style: dashed, $color: inherit, $opacity: null, $offset: null) {
	outline: $width $style if($opacity == null, $color, transparentize($color, $opacity));
	outline-offset: if($offset == null, -$width, $offset);
}
@mixin debug_outline_thin($width: 1px, $style: dashed, $color: inherit, $offset: null) {
	@include debug_outline($width, $style, $color, null, $offset);
}
@mixin debug_outline_thick($style: solid, $color: $thistle, $opacity: 0.8) {
	@include debug_outline_thin(1rem, $style, $color, $opacity);
}

// -----------------------------------
// .debug-tx
// -----------------------------------
.debug-tx {
	// *[style*="transition"] {
	// 	@include debug_outline_thin(1px, dotted, $darkseagreen);
	// }
	// #sitename,
	// .transform-wrapper {
	// 	// height: 1rem;
	// 	width: $m_aside_width;
	// 	height: $m_nav_height;
	// 	@include media(desktop-small) {
	// 		width: $wide_aside_width;
	// 		height: $large_nav_height;
	// 	}
	// }
	#navigation.container-changing {
		@include debug_outline(0.5rem, dashed, $lightcoral, 0.75);
	}
	#sitename,
	.article-button {
		&[style*="transition"] {
			@include debug_outline(4px, dashed, $darkseagreen, 0.25, -4px);
		}
	}
	#article-list-wrapper,
	#site-name-wrapper {
		&[style*="transition"] {
			@include debug_outline(4px, dashed, $deepskyblue, 0.25, -4px);
		}
	}

	.transform-wrapper[style*="transition"] {
		@include debug_outline(2px, solid, $lightcoral, 0.35, -4px);
		// background-color: transparentize($lightcoral, 0.5);
	}
	.list-group span[style*="transition"] {
		@include debug_outline(2px, dashed, $lightcoral, 0.35);
		// background-color: transparentize($lightcoral, 0.5);
	}
	.list[style*="transition"] {
		@include debug_outline(2px, dashed, $lightcoral, 0.35);
		// background-color: transparentize($lightblue, 0.5);
	}
	// .list-item, .list-group {
	// 	&.excluded .label {
	// 		text-decoration: line-through;
	// 	}
	// }

	.carousel,
	.stack {
		&[style*="transition"] {
			@include debug_outline(2px, dashed, $deepskyblue, 0.5);
			outline-style: dashed !important;
		}
	}
}

// -----------------------------------
// .debug-blocks-nav
// -----------------------------------
.debug-blocks-nav {
	// @include debug_outline(0.4rem, solid, $brightyellow, $offset:-0.6rem);
	// #container { @include debug_outline(0.4rem, dashed, $brightyellow, $offset:-0.9rem); }
	// *[data-cid] {
	// 	@include debug_outline_thin($width: 0.25rem, $style: solid, $color: transparentize($thistle, 0.5));
	// }
	// .list-item[data-cid] {
	// 	// @include debug_outline_thin($width: 1px, $style: dashed, $color: transparentize($darkseagreen, 0.2));
	// 	background-color: transparentize($thistle, 0.8);
	// }

	#navigation {
		@include debug_outline(0.8rem, dashed, $lightcoral, 0.5, -0.4rem);
		&.container-changing {
			@include debug_outline(0.8rem, dashed, $lightcoral, 0.25, -0.4rem);
		}
		#vpan-group {
			@include debug_outline(0.5rem, solid, $crimsom, 0.4, -0.25rem);
		}
		.graph {
			@include debug_outline(0.3rem, dashed, $darkseagreen, 0.75, 0);
			// &:hover, &:active {
			// 	@include debug_outline(0.3rem, dashed, $darkseagreen, 0.25, 0);
			// }
		}
		#article-list-wrapper,
		#site-name-wrapper,
		.list {
			@include debug_outline_thin(1px, solid, Crimson, -1px);
			// @include debug_outline_thick($color: $lightcoral);
			background-color: transparentize($lightcoral, 0.9);
		}
		#site-name,
		.article-button,
		.list-group,
		.list-item {
			background-color: transparentize($lightcoral, 0.7);
		}
		#site-name a,
		.article-button a,
		.list-group .label span,
		.list-item .label {
			@include debug_outline_thin(1px, solid, $lightcoral, -1px);
			// @include debug_outline_thin(1px, solid, $lightcoral);
		}
	}
}

// -----------------------------------
// .debug-blocks-content
// -----------------------------------
.debug-blocks-content {
	#content {
		@include debug_outline(0.5rem, solid, $deepskyblue, 0.75);
		// &:hover {
		// 	@include debug_outline(0.75rem, dashed, $deepskyblue, 0.25);
		// }
		&.container-changing {
			@include debug_outline(0.5rem, dashed, $deepskyblue, 0.4);
		}
		.article-view {
			@include debug_outline(0.5rem, solid, $deepskyblue, 0.7);
			& > * {
				background-color: transparentize($lightblue, 0.8);
				@include debug_outline_thin(1px, dashed, $deepskyblue);
			}
		}
		.stack {
			.stack-item {
				@include debug_outline_thin(1px, solid, RoyalBlue);
			}
			.content {
				background-color: transparentize($lightblue, 0.9);
				& > * {
					background-color: transparentize($lightblue, 0.7);
				}
			}
		}
		.carousel {
			background-color: transparentize($lightblue, 0.9);
			@include debug_outline(0.75rem, solid, $deepskyblue, 0.8);
			&.scrolling {
				@include debug_outline(1rem, solid, $deepskyblue, 0.7);
				&.panning {
					@include debug_outline(1rem, solid, $deepskyblue, 0.3);
				}
			}
			// &[style*="transition"] {
			// 	@include debug_outline(0.25rem, dashed, $deepskyblue, 0.5);
			// 	outline-style: dashed !important;
			// }
		}
		.carousel-item {
			// @include debug_outline($color: $deepskyblue);
			// @include debug_outline_thin(1px, solid, $deepskyblue, 0.5);
			@include debug_outline_thin(1px, solid, RoyalBlue, -1px);
		}
		.empty-item {
			// @include debug_outline_thin(1px, solid, RoyalBlue, -1px);
			.content {
				@include debug_outline_thin(1px, solid, $deepskyblue, -1px);
				background-color: transparentize($lightblue, 0.7);
			}
		}
		.media-item {
			background-color: transparentize($lightblue, 0.7);
			// .content {}
			// .play-toggle-hitarea {
			// 	background-color: transparentize($lightblue, 0.5);
			// }
		}
	}
}


// -----------------------------------
// .mdown
// -----------------------------------
@mixin _debugSelectorInContent($selectors...) {
	#{$selectors} {
		@content;
	}
	@each $sel in $selectors {
		#{$sel}::before {
			content: #{"\'"+$sel+"\'"};
		}
	}
}
.debug-mdown .mdown {
	@include _debugSelectorInContent(h1,h2,h3,h4,h5,h6,p,ol,ul,dl) {
		@include debug_outline(1px, solid, $darkolivegreen, 0.1, -1px);
		background-color: transparentize($darkolivegreen, 0.9);
		position: relative;
		&::before {
			position: absolute;
			display: block;
			right: 0;
			bottom: 0;
			height: 1.2em;
			padding: 0.1em 0.2em;
			margin: 0;
			color: white;
			background: $darkolivegreen; //#5d7533;
			font: 800 8px/120% $small_font;
			text-transform: uppercase;
			letter-spacing: normal;
		}
	}
}
