// ///////////////////////////////////
// debug-toolbar
// ///////////////////////////////////

// @mixin debug_toolbar_sc($s: 85%, $w: 600, $l: 1.76470) {
// 	font-size: $s;
// 	font-weight: $w;
// 	line-height: $l;
// 	// vertical-align: baseline;
// 	// letter-spacing: 1px;
// 	// text-transform: uppercase;
// }

#debug-toolbar {
	z-index: 999;
	position: fixed;
	width: 100%;
	top: 0;

	@include media(fullwidth) {
		top: auto;
		bottom: 0;
	}

	.debug-links {
		direction: rtl;
	}
	.toggle-enabled {
	}
	.debug-links {
		opacity: 0.5;
	}
	&:not(.show-links) {
		.debug-links {
			opacity: 0.2;
		}
		// #links-toggle {}
		&:not(.show-tx) #app-state {
			display: none;
		}
		.debug-links > dd {
			display: none;
		}
	}

	#app-state {
		font-size: 85%;
		font-weight: 700;
		// line-height: 1.17647059;// inverse of 0.85

		direction: ltr;
		letter-spacing: -1px;
		padding: 0 0.5em;

		& > span {
			display: inline-block;
			margin-left: 0;
			margin-right: 0;
			// width: 1em;
			// text-align: center;
			text-transform: none; // uppercase
			text-decoration: none; // line-through underline overline

			&.has-value {
				text-transform: uppercase;
			}
			// &:not(.has-value) { text-decoration: line-through; }
			// &.has-changed { text-decoration: underline; }
			// &:not(.has-changed) { opacity: 0.5; }
		}
	}

	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		color: inherit;
		background: inherit;
		border: 0 none;
		// margin: 1em 0.75em;
		background-color: transparent;
		font-family: inherit;
		font-weight: inherit;
		font-size: inherit;
		&:focus {
			outline: none;
		}
	}
}

// ///////////////////////////////////
// debug-toolbar buttons
// ///////////////////////////////////

#debug-toolbar dl {
	line-height: 1rem;
	// padding: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	&,
	* {
		@include user_select(none);
	}
	& > * {
		// -webkit-flex: 0 1 auto;
		flex: 0 1 auto;
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		cursor: pointer;
	}
	dd,
	dt {
		margin: auto 0;
		padding: 0;
		direction: ltr;
		a,
		select,
		span,
		svg {
			display: inline-block;
			padding: 0.1em 0.2em 0;
			margin: 0.5em;
		}
		a {
			border-radius: 0.25em;
		}
	}
	dd:after {
		content: "";
		display: inline-block;
		width: 1px;
		height: 0.75em;
		background-color: currentColor;
		position: absolute;
		top: 0.925em;
	}
	dt + dd:after {
		display: none;
	}
	dt {
		flex: 0 0 auto;
		svg.icon {
			width: 1em;
			height: 1em;
			vertical-align: middle;
			display: block;
		}
	}
	&.debug-links dd {
		// @include small_caps($lead: inherit);
		font-size: 85%;
		font-weight: 400;
		// line-height: 1.76470;
	}
	&.debug-info dd {
		font-weight: 300;
		& > * {
			margin-top: -0.1rem;
		}
	}

	@include media(fullwidth) {
		dd:after {
			display: none;
		}
	}
}

.without-media #debug-toolbar {
	#media-info,
	#toggle-logs {
		display: none;
	}
}

// ///////////////////////////////////
// #test-results
// ///////////////////////////////////

#debug-toolbar {
	#test-results {
		font: normal 12px/1 monospace;
		color: #333333;
		background-color: white;
		box-shadow: 0 1rem 4rem -1rem rgba(0, 0, 0, 0.375);
		margin: 0 3rem;
		max-height: 75vh;
		overflow-y: auto;

		@include media(fullwidth) {
			width: auto;
			left: -2rem;
			right: -2rem;
			position: absolute;
			top: auto;
			bottom: 100%;
		}

		padding: 1rem 0;
		& > * {
			margin: 0.75em 0;
			padding: 0 1.5em;
		}
		h6 {
			font-weight: bold;
		}
		ul {
			column-width: 14em;
		}
		li.failed {
			color: #CC3333;
			text-decoration: line-through;
		}
	}
	&:not(.show-tests),
	&:not(.show-links) {
		#test-results {
			display: none;
		}
	}
	#toggle-passed {
		// padding: 0 0.25em;
		float: right;
		// font-weight: normal;
		&::before {
			content: "Hide ";
		}
		&.toggle-enabled::before {
			content: "Show ";
		}
	}
	&.hide-passed {
		#test-results li {
			&.passed {
				display: none;
			}
			&.failed {
				text-decoration: none;
			}
		}
	}
}
