// - - - - - - - - - - - - - - - - - -
// DEBUG
// - - - - - - - - - - - - - - - - - -

.media-item .debug-log {
	font-size: 9px;
	line-height: 10px;
	box-sizing: border-box;
	position: absolute;
	width: auto; //100%;
	left: 0; right: 0;
	bottom: 0;//-1.5rem;
	margin-top: 3rem;
	// touch-action: pan-x pan-y;
	//margin: 1.5rem 0; //20px;
	//padding: 1rem;
	overflow-y: auto;
	overflow-x: auto; //hidden;
	& > pre {
		font-family: $mono_font;
		display: block;
		&::before {
			@include ellipsis(inline-block);
			width: 9em;
			padding-right: 0.5em;
			font-weight: bold;
			text-decoration: underline;
			vertical-align: bottom;
		}
		&::before {
			content: attr(data-logtype);
		}
		&.log-header {
			top: 0;
			position: sticky;
			// border-bottom: 1px solid currentColor;
			margin-bottom: 0.25rem;
			padding-bottom: 0.25em;
			box-shadow: 0 0 0 1px hsla(0,0%,50%,0.5); //, 0 1rem 1rem -0.5rem rgba(0,0,0,0.5);
		}
		&.log-header::before {
			content: "Type";
		}
		&[data-logrepeat]::before {
			content: "[" attr(data-logrepeat) "]" attr(data-logtype);
		}
		&[data-logtype="play"],
		&[data-logtype="pause"] {
			background-color: rgba(255,0,0,0.25);
		}
		&[data-logtype="playing"],
		&[data-logtype="waiting"],
		&[data-logtype="ended"] {
			background-color: rgba(0,255,0,0.25);
		}
		&[data-logtype^="timeout"] {
			background-color: rgba(127,255,127,0.25);
		}
	}
}
.carousel .debug-log {
	display: none;
	// visibility: hidden;
}
.debug-logs .carousel:not(.scrolling) .selected .debug-log {
	display: block;
}
