
// -----------------------------------
// #debug-toolbar
// -----------------------------------

@mixin debug_toolbar_sc($size: 85%, $weight: 600, $lead: 1.76470) {
	font-size: $size;
	font-weight: $weight;
	// line-height: $lead;
	// vertical-align: baseline;
	// letter-spacing: 1px;
	// text-transform: uppercase;
}
#debug-toolbar {
	z-index: 999;
	position: fixed;
	top: 0;
	// right: 0;
	width: 100%; // prevents dotnav mouse events
	.debug-links {
		direction: rtl;
	}
	.toggle-enabled {
		// text-decoration: underline;
	}
	.debug-links {
		opacity: 0.5;
	}
	&:not(.show-links) {
		.debug-links {
			opacity: 0.2;
		}
		// #links-toggle {}
		&:not(.show-tx) #app-state {
			display: none;
		}
		.debug-links > dd {
			display: none;
		}
		#test-results {
			display: none;
		}
	}

	#test-results {
		font: normal 12px/1 monospace;
		color: #333333;
		background-color: white;
		box-shadow: 0 1rem 1rem -0.5rem rgba(0,0,0,0.5);
		margin: 0 3rem;
		max-height: 75vh;
		overflow-y: auto;

		padding: 1rem 0;
		& > * {
			margin: 0.75em 0;
			padding: 0 1.5em;
		}
		h6 {
			font-weight: bold;
		}
		ul {
			column-width: 14em;
		}
		li.failed {
			color: #CC3333;
			text-decoration: line-through;
		}
	}
	&:not(.show-tests) #test-results {
		display: none;
	}
	#toggle-passed {
		// padding: 0 0.25em;
		float: right;
		// font-weight: normal;
		&::before {
			content: 'Hide ';
		}
		&.toggle-enabled::before {
			content: 'Show ';
		}
	}
	&.hide-passed {
		#test-results {
			li.passed {
				display: none;
			}
			li.failed {
				text-decoration: none;
			}
		}
	}

	#app-state {
		font-size: 85%;
		// line-height: 1.17647059;// inverse of 0.85
		font-weight: 700;

		direction: ltr;
		letter-spacing: -1px;
		padding: 0 0.5em;

		& > span {
			display: inline-block;
			margin-left: 0;
			margin-right: 0;
			width: 0.75em;
			text-align: center;
			text-transform: none; // uppercase
			text-decoration: none; // line-through underline overline

			&.has-value {
				text-transform: uppercase;
			}
			// &:not(.has-value) { text-decoration: line-through; }
			// &.has-changed { text-decoration: underline; }
			// &:not(.has-changed) { opacity: 0.5; }
		}
	}

	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		color: inherit;
		background: inherit;
		border: 0 none;
		// margin: 1em 0.75em;
		background-color: transparent;
		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
		&:focus {
			outline: none;
		}
	}
}

#debug-toolbar dl {
	line-height: 1rem;
	// padding: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	&,
	* {
		@include user_select(none);
	}
	& > * {
		-webkit-flex: 0 1 auto;
		flex: 0 1 auto;
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		cursor: pointer;
	}
	dd,
	dt {
		margin: auto 0;
		padding: 0;
		direction: ltr;
		a,
		select,
		span,
		svg {
			padding: 0 0.1em;
			margin: 0.5em;
			display: inline-block;
		}
	}
	dd:after {
		content: '';
		display: inline-block;
		width: 1px;
		height: 0.75em;
		background-color: currentColor;
		position: absolute;
		top: 50%;
		margin-top: -0.375em;
	}
	dt + dd:after {
		display: none;
	}
	dt {
		-webkit-flex: 0 0 auto;
		flex: 0 0 auto;
		// span.icon {
		// 	@include fontello_icon_base();
		// 	width: 1em;
		// 	text-align: center;
		// 	display: inline-block;
		// }
		svg.icon {
			width: 1em;
			height: 1em;
			vertical-align: middle;
			display: block;
		}
	}
	&.debug-links dd {
		// @include small_caps($lead: inherit);
		@include debug_toolbar_sc($lead: inherit);
	}
	&.debug-info dd {
		font-weight: 300;
		& > * {
			margin-top: -0.1rem;
		}
	}

}

.without-media #debug-toolbar {
	#media-info,
	#toggle-logs {
		display: none;
	}
}
