/**
 * Debug colors
 * @see http://dev.w3.org/csswg/css-color/#named-colors
 * ultralight colors: lavender,seashell,aliceblue,ghostwhite
 */

/* lightblue: 		hsl(195, 53%, 79%) */
$lightblue: 		hsla(195, 75%, 50%, 1);
/* deepbluesky: 	hsl(195, 100%, 50%) */
$deepskyblue: 		hsla(195, 100%, 50%, 1);
/* lightcoral: 		hsl(6, 93%, 71%) */
$lightcoral: 		hsla(6, 93%, 71%, 1);
/* salmon: 			hsl(6, 93%, 71%) */
$salmon: 			hsla(6, 93%, 71%, 1);
/* thistle: 		hsl(300, 24%, 80%) */
$thistle: 			hsla(300, 24%, 80%, 1);
/* darkseagreen:	hsl(120, 25%, 65%) */
$darkseagreen:		hsla(120, 25%, 65%, 1);
/* darkolivegreen:	hsl(???) */
$darkolivegreen:	darkolivegreen;

@mixin debug_outline($width: 1px, $style: dashed, $color: inherit, $offset: null) {
	outline: $width $style $color;
	outline-offset: if($offset == null, -$width, $offset);
	// outline-offset: -$width;
}
@mixin debug_outline_thick($style: solid, $color: $thistle) {
	@include debug_outline($width: 1rem, $style: $style, $color: transparentize($color, 0.8));
	// background-color: transparentize($color, 0.8);
}

// -----------------------------------
// .debug-grid
// -----------------------------------

#container.debug-grid-bg {
	background-image: image-url("debug/debug-background.svg");
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: calc(50% + 1px) 1px;
	background-size: $page_width auto;//1600px;
	@include media(desktop-small) {
		background-position: calc(50% + 1px) calc(-1rem + 1px);
		background-size: $page_width_large auto;//1600px;
	}
}


// -----------------------------------
// .debug-tx
// -----------------------------------
.debug-tx {
	// *[style*="transition"] {
	// 	@include debug_outline(1px, dotted, $darkseagreen);
	// }
	// #sitename,
	.transform-wrapper {
		// height: 1rem;
		width: $aside_width;
		height: $nHeightPort;
		@include media(desktop-small) {
			width: $aside_width_large;
			height: $nHeightLand;
		}
	}
	#sitename, .transform-wrapper {
		&[style*="transition"] {
			@include debug_outline(2px, solid, transparentize($lightcoral, 0.35), -4px);
			// background-color: transparentize($lightcoral, 0.5);
		}
	}
	.list-group span[style*="transition"] {
		@include debug_outline(2px, dashed, transparentize($lightcoral, 0.35));
		// background-color: transparentize($lightcoral, 0.5);
	}
	.list[style*="transition"] {
		@include debug_outline(2px, dashed, transparentize($lightcoral, 0.35));
		// background-color: transparentize($lightblue, 0.5);
	}
	.stack, .carousel {
		&[style*="transition"] {
			@include debug_outline(2px, dashed, transparentize($deepskyblue, 0.5));
			outline-style: dashed !important;
		}
	}
}

// -----------------------------------
// .debug-blocks
// -----------------------------------

.debug-blocks {
	// *[data-cid] {
	// 	@include debug_outline($width: 0.25rem, $style: solid, $color: transparentize($thistle, 0.5));
	// }
	// .list-item[data-cid] {
	// 	// @include debug_outline($width: 1px, $style: dashed, $color: transparentize($darkseagreen, 0.2));
	// 	background-color: transparentize($thistle, 0.8);
	// }
	
	#navigation {
		.graph {
			@include debug_outline(1px, dashed, transparentize($darkseagreen, 0.25));
		}
		#site-name-wrapper, .list {
			// @include debug_outline_thick($color: $lightcoral);
			background-color: transparentize($lightcoral, 0.9);
		}
		#site-name a, .list .label {
			background-color: transparentize($lightcoral, 0.7);
		}
	}
	#content {
		// @include debug_outline($width: 0.25rem, $style: solid, $color: $deepskyblue);
		&.container-changing {
			@include debug_outline(0.5rem, dashed, transparentize($deepskyblue, 0.4), - 1rem);
		}
		// &[style*="transform"] {
		// 	@include debug_outline(0.5rem, dashed, transparentize($deepskyblue, 0.4));
		// }
		.stack {
			.content {
				background-color: transparentize($lightblue, 0.9);
				& > * {
					background-color: transparentize($lightblue, 0.7);
					// @include debug_outline($color: $deepskyblue);
					// @include debug_outline(1px, solid, transparentize($deepskyblue, 0.5));
					// @include debug_outline(0.5rem, solid, transparentize($deepskyblue, 0.8));
				}
			}
			// &[style*="transition"] {
			// 	@include debug_outline(0.25rem, dashed, transparentize($deepskyblue, 0.4));
			// }
		}
		.carousel {
			background-color: transparentize($lightblue, 0.9);
			// @include debug_outline(1rem, solid, transparentize($deepskyblue, 0.8));
			&.scrolling {
				@include debug_outline(1rem, solid, transparentize($deepskyblue, 0.7));
				&.panning {
					@include debug_outline(1rem, solid, transparentize($deepskyblue, 0.3));
				}
			}
			// &[style*="transition"] {
			// 	@include debug_outline(0.25rem, dashed, transparentize($deepskyblue, 0.5));
			// 	outline-style: dashed !important;
			// }
		}
		.carousel-item {
			// @include debug_outline($color: $deepskyblue);
			// @include debug_outline(1px, solid, transparentize($deepskyblue, 0.5));
		}
		.empty-item {
			.content {
				background-color: transparentize($lightblue, 0.7);
			}
		}
		.media-item {
			background-color: transparentize($lightblue, 0.7);
			// .content {}
		}
	}
}
