// ///////////////////////////////////
// media query : Default
// ///////////////////////////////////

// layout variables
// - - - - - - - - - - - - - - - - - -
$nav_top_port: 2.5rem;
$nav_height_port: 12rem; //13.5rem;//14.25rem;
$nav_collapse_offset: map-get($temp, collapse_offset) * 1px; //28rem;

#container {
	min-width: $page_width;
}

// ///////////////////////////////////
// navigation
// ///////////////////////////////////

#navigation {
	position: relative;
	margin: 0 auto;

	max-width: $page_width;
	min-height: $nav_height_port;
	// top: $nav_top_port;
	padding-top: $nav_top_port;
}

// nav_list
// -----------------------------------
%nav_list {
	position: absolute;
	display: inline-block;
	will-change: transform;
	// transform-style: preserve-3d;
	// transform: move();
}
.transform-wrapper {
	// @extend %nav_list;
	position: absolute;
	display: inline-block;
	will-change: transform;
	// transform-style: preserve-3d;
}

// bundle-list
// ===================================
#bundle-list {
	@extend %nav_list;
	width: $main_width - $aside_width;
	padding-top: $nav_height_port;
	padding-bottom: 1.5rem;
	min-height: 4.5rem;
	.list-item {
		// width: $main_width - $aside_width;
		width: 100%;
		height: 2rem;
	}
}
.with-bundle #bundle-list {
	padding-top: 1.5rem;
}
// bundle-list-wrapper
// - - - - - - - - - - - - - - - - - -
#bundle-list-wrapper {
	left: 0;
}

// keyword-list
// ===================================
#keyword-list {
	@extend %nav_list;
	width: $aside_width;
	padding-top: #{$nav_height_port - 0.25rem};
	padding-bottom: 1.5rem;
	.list-item {
		// width: 100%;
		width: $aside_width;
		height: 1.5rem;
	}
}
.with-bundle #keyword-list {
	padding-top: 1.25rem;
}

// keyword-list-wrapper
// - - - - - - - - - - - - - - - - - -
#keyword-list-wrapper {
	left: $main_width;
	transform: moveX();
}

// keyword-list list-group
// - - - - - - - - - - - - - - - - - -
$list_group_width: $aside_width - $gutter - $hu*2;
#keyword-list .list-group {
	height: 0;
	width: $aside_width; //$list-group-width;
	// width: calc(100% - #{$gutter});
	.label {
		width: $list_group_width;
		// transform: movel-$list_group_width, 0);
		// width: 100%;
		transform: moveX(-100%);
		box-sizing: border-box;
		padding: 0 #{0.5*$hu};
		margin: 0 #{-0.5*$hu};
		& > span {
			padding: 0.25rem #{0.5*$hu};
			margin: -0.25rem #{-0.5*$hu};
		}
	}
}
.without-bundle {
	#bundle-list,
	#keyword-list {
		// padding-top: 0 !important;
		padding-bottom: 0;
		min-height: 0;
		&.collapsed {
			.list-group,
			.list-item {
				height: 0;
			}
		}
	}
}

// site-name
// ===================================
#site-name {
	// position: relative;
	// display: inline-block;
	position: absolute;
	display: block;
	padding: 0.5rem $hu;
	top: 1rem;
	transform: moveX();
}
// .with-article,
.with-bundle {
	#site-name {
		transform: moveX(-100%);
	}
}
// site-name-wrapper
// - - - - - - - - - - - - - - - - - -
#site-name-wrapper {
	left: 0;
	// width: 100%;
	width: $aside_width;
	// width: auto;
	// transform: move();
}
// .with-bundle #site-name-wrapper {
// 	transform: moveX(-100%);
// }

// about
// ===================================
.article-button {
	position: absolute;
	display: block;
	padding: 0.5rem $hu;
	transform: moveX();
	a {
		visibility: visible;
		opacity: 1;
		transition: tx(visibility, 3, 0, step-start), tx(opacity, 1, 0), tx(color, 1, 1);
	}
}
.with-bundle .article-button {
	transform: moveX(-100%);
	a {
		visibility: hidden;
		opacity: 0;
		transition: tx(visibility, 3, 0, step-end), tx(opacity, 1, 2), tx(color, 1, 1);
	}
}
// no transition if initial visibility is hidden
.app-initial.with-bundle .article-button {
	a {
		transition: none;
	}
}
.article-button#about {
	top: 1rem;
}

// article-list-wrapper (vertical movements)
// - - - - - - - - - - - - - - - - - -
#article-list-wrapper {
	left: 0;
	width: $aside_width;
	transform: moveY(2rem);
}
// .with-article #article-list-wrapper {
// 	transform: move(0, 0);
// }

// @include media(desktop-small) {
// 	#about {
// 		// hiding
// 		transition: tx(visibility, 3, 0, step-end), tx(opacity, 1, 2), tx(transform, 1, 2);
// 	}
// 	&.route-article-item,
// 	&.route-bundle-list,
// 	&.route-root {
// 		#about {
// 			// showing
// 			transition: tx(visibility, 3, 0, step-start), tx(opacity, 1, 0), tx(transform, 1, 0);
// 		}
// 	}
// }

// nav-graph
// - - - - - - - - - - - - - - - - - -
#nav-graph {
	@extend %nav_list;
	// box-sizing: border-box;
	box-sizing: content-box;
	// padding: 1.5rem 0;
	padding: 0;
	// right: 0;
	width: $page_width;
	// height: 12rem;

	transition: tx(opacity, 1, 0);
	opacity: 0;
	@at-root .container-expanded:not(.container-changing) & {
		opacity: 1;
	}
}
.container-collapsed #nav-graph {
	opacity: 0;
}

// ///////////////////////////////////
// content
// ///////////////////////////////////

#content {
	overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 0; //height: 100%;
	left: 0;
	right: 0; //width: 100%;
}

// image-carousel
// ===================================
.media-carousel {
	position: absolute;
	transform: moveY();
	@at-root .container-expanded & {
		transform: moveY($nav_collapse_offset);
		// transform: moveY(calc(#{$nav_collapse_offset} + 3rem));
	}
}
.media-carousel {
	overflow: hidden;
	width: 100%;
	min-width: $page_width;
	bottom: 0;

	top: $nav_top_port + $nav_height_port;
	padding-top: 4.5rem;
	padding-bottom: 4.5rem;
	$carousel_item_height: calc(100% - 9rem);

	// top: 0;//$nav_top_port;
	// padding-top: $nav_top_port + $nav_height_port;
	// padding-bottom: 4.5rem;
	// $carousel_item_height: calc(100% - #{$nav_height_port + 4.5rem});

	.carousel-item {
		// padding-top: 1.5rem;
		// padding-bottom: 1.5rem;
		left: calc(50% - #{$page_width/2});
	}
	.empty-item {
		height: auto;
		max-height: $carousel_item_height;
		overflow: visible;
		// FIXME: empty-item narrow px adjust
		// width: $page_width/2 + $hu - 9px;
		width: $main_width - 5px;
	}
	.media-item {
		height: $carousel_item_height;
		width: $page_width;
	}
	.playable-renderer .progress-meter {
		top: -3.5rem;
		right: 0;
	}
	.empty-item .content {
	}
	.empty-item .content *:first-child {
		// margin-top: -4px;
		// margin-top: 0;
	}
	.empty-item p {
		// height: 100%;
		// overflow: hidden;
		// transform: translate3d(-1.5px,0,0);

		// margin-left: -1.5px;
		// margin-top: 0;
		// margin-bottom: 9px;

		// &:first-child {
		// 	margin-top: 0;
		// }
	}
}

// NOTE
// Do not fade-out content when removing carousel:
// set delay longer than `.carousel.removing-child`'s
// fade-out duration.
.carousel.removing-child .carousel-item .content {
	transition: tx(opacity, 0, 5, step-end) !important;
	// transition-delay: $delay * 5 !important;
	// transition-timing-function: step-end !important;
}

// media-caption-stack
// ===================================
.media-caption-stack {
	position: relative;
	width: $page_width;
	margin: -0.75rem auto 0;
	top: $nav_top_port + $nav_height_port;

	transform: moveY();
	@at-root .container-expanded & {
		transform: moveY($nav_collapse_offset);
	}
	.content {
		margin: 1.5rem auto;
	}
	.content p {
		margin-left: -1px;
		@include heading_font($size: 20px, $weight: 300, $lead: 26px);
		//@include heading_font($size: 1.666rem,
		//	$weight: 300, $lead: 2rem);
	}
	&.disabled > .stack-item {
		opacity: 0;
	}
}

// media-dotnav
// ===================================
.media-dotnav {
	//font-size: 1.15rem;
	text-align: center;

	margin: 0 auto;
	padding: 0 $hu;
	width: $page_width;
	height: 1.5rem;

	position: absolute;
	transform: move();
	/*XXX: Direction? X/Y?*/
	bottom: 1rem;
	left: 0;
	right: 0;

	transition: tx(opacity, 1, 0);
	opacity: 1;
	@at-root .without-media &, .container-expanded &, .container-changing &, .container-changed & {
		opacity: 0;
	}
}

// article-view
// ===================================
.article-view {
	position: relative;
	top: $nav_top_port;
	bottom: 0.75em;
	width: $page_width;
	margin: -1rem auto 4.5rem;
}

// // media-progress-wrapper
// // - - - - - - - - - - - - - - - - - -
// #media-progress-wrapper {
// 	position: absolute;
// 	transform: move();
//
// 	right: calc(50% - #{$page_width/2});
// 	top: 2.5rem;
// 	margin: 0 $hu;
// 	box-sizing: content-box;
// 	// width: 34px; height: 34px;
// 	width: 2.8rem; height: 2.8rem;
//
// 	font-family: "FolioFigures-Regular", monospace;
// 	font-weight: normal;
//
// 	transition: tx(opacity, 1, 0);
// 	opacity: 1;
// 	@at-root .without-media &,
// 		.container-expanded &,
// 		.container-changing &,
// 		.container-changed & {
// 		opacity: 0;
// 	}
// }

// #content:after {
// 	position: absolute;
// 	margin: 0 auto;
// 	max-width: $page_width;
// 	left: 0; right: 0;
// 	top: $nav_top_port + $nav_height_port;
// 	height: 1px;
// 	background-color: blue;
// 	content: ' ';
// }
