// ///////////////////////////////////
// media query : $desktop-small
// ///////////////////////////////////

// layout variables
// - - - - - - - - - - - - - - - - - -
$nHeightLandRight: $nHeightLand + 1.5rem;

@include media(desktop-small) { &.right-layout {
// #content:after {
// 	top: $nTopLand + $nHeightLandRight;
// }

// -----------------------------------
// navigation
// -----------------------------------

// nav_list
// -----------------------------------

// bundle-list
// - - - - - - - - - - - - - - - - - -

// keyword-list
// - - - - - - - - - - - - - - - - - -

// keyword-list
// - - - - - - - - - - - - - - - - - -
#keyword-list {
	// padding-top: #{$nHeightLand + 4.25rem};
}
&.with-bundle #keyword-list {
	padding-top: #{$nHeightLandRight - 0.25rem + 1rem};
}
&.with-bundle .container-expanded #keyword-list {
	padding-top: 1.25rem;
}

// keyword-list list-group
// - - - - - - - - - - - - - - - - - -

// site-name
// - - - - - - - - - - - - - - - - - -
&.with-bundle .container-expanded #site-name {
	transform: move(-100%, 0);
}

// transform-wrappers
// -----------------------------------

// site-name-wrapper
// - - - - - - - - - - - - - - - - - -
// #site-name-wrapper {
// 	height: $nHeightLand_right;
// }

// bundle-list-wrapper
// - - - - - - - - - - - - - - - - - -
&.with-bundle .container-expanded #bundle-list-wrapper {
	transform: move(0, 0);
}

// keyword-list-wrapper
// - - - - - - - - - - - - - - - - - -
&.with-bundle #keyword-list-wrapper {
	transform: move(0, 0);
}

// nav-graph
// - - - - - - - - - - - - - - - - - -

// -----------------------------------
// content
// -----------------------------------

// image-carousel
// - - - - - - - - - - - - - - - - - -
.media-carousel {
	top: $nTopLand + $nHeightLandRight - 3rem;
	.media-item {
		margin-right: $aside_width_large;
		// padding-right: $aside_width_large;
		// padding-left: 0;
	}
}
.playable-renderer {
	.top-bar {
		bottom: 0;
		left: 100%;
		height: auto;
	}
}

// media-caption-stack
// - - - - - - - - - - - - - - - - - -
.media-caption-stack {
	top: $nTopLand + $nHeightLandRight;
	margin-top: -2.5rem;
	// top: $nTopLand;
	// margin-top: 0;
	// .content {
	// 	margin-left: 0;
	// 	margin-right: $aside_width_large;
	// }
	.content > * {
		@include small_caps($lead: 1.5rem);
	}
}

// media-dotnav
// - - - - - - - - - - - - - - - - - -

}// end layout
}// end media-query
