// ///////////////////////////////////
// media query : $desktop-small
// ///////////////////////////////////

// layout variables
// - - - - - - - - - - - - - - - - - -
$nav_top_land: 2.5rem;
$nav_top_without_bundle: 4.5rem;
$nav_height_land: 9rem;

@include media(desktop-small) {
	// #content:after {
	// 	top: $nav_top_land + $nav_height_land;
	// 	max-width: $page_width_large;
	// }
	#container {
		min-width: $page_width_large;
	}

	// ///////////////////////////////////
	// navigation
	// ///////////////////////////////////

	#navigation {
		max-width: $page_width_large;
		min-height: $nav_height_land;
		// top: $nav_top_land;
		padding-top: $nav_top_land;
	}

	// nav_list
	// -----------------------------------
	%nav_list {
		transform: move();
		// transform: move(0, 0.1px);
	}
	// .with-bundle %nav_list {
	// 	transform: move();
	// }
	.transform-wrapper {
		transform: move();
		// transform-style: preserve-3d;
	}

	// bundle-list
	// ===================================
	#bundle-list {
		width: $aside_width_large;
		padding-top: $nav_height_land;
	}
	&.with-bundle #bundle-list {
		padding-top: 1.5rem;
	}
	&.without-bundle #bundle-list {
		padding-top: $nav_top_without_bundle;
	}

	// bundle-list-wrapper
	// - - - - - - - - - - - - - - - - - -
	#bundle-list-wrapper {
		transform: moveX($aside_width_large);
	}
	&.with-bundle #bundle-list-wrapper {
		transform: moveX();
	}
	&.with-bundle .container-expanded #bundle-list-wrapper {
		transform: moveX($aside_width_large);
	}

	// keyword-list
	// ===================================
	#keyword-list {
		//NOTE: clearance for .playable-renderer children mouse events
		width: $aside_width_large - $gutter;
		padding-top: $nav_height_land - 0.25rem;
	}
	&.with-bundle #keyword-list {
		padding-top: $nav_height_land - 0.25rem + 1rem;
	}
	&.with-bundle .container-expanded #keyword-list {
		padding-top: 1.25rem;
	}
	&.without-bundle #keyword-list {
		padding-top: $nav_top_without_bundle - 0.25rem;
	}

	// keyword-list-wrapper
	// - - - - - - - - - - - - - - - - - -
	#keyword-list-wrapper {
		left: $main_width_large;
	}
	&.with-media #keyword-list-wrapper {
		transform: moveX(-$main_width_large);
	}
	&.with-bundle .container-expanded #keyword-list-wrapper {
		transform: moveX();
	}

	// keyword-list list-group
	// - - - - - - - - - - - - - - - - - -
	#keyword-list .list-group {
		//NOTE: compensate for #keyword-list clearance (c.f note above)
		width: 100%;
		height: 0;
	}
	/* NOTE: .list-group .label moves horizontally */
	&.with-bundle .navigation:not(.container-expanded) #keyword-list .list-group {
		height: 1.5rem;
		.label {
			transform: moveX();
		}
	}

	// site-name
	// ===================================

	// &.with-bundle #site-name {
	// 		transform: move(-100%, 0);
	// }
	&.with-bundle .container-expanded #site-name {
		// &.with-bundle .container-expanded #site-name-wrapper {
		transform: moveY();
	}
	// site-name-wrapper
	// - - - - - - - - - - - - - - - - - -
	#site-name-wrapper {
		// #site-name {
		// display: inline-block;
		width: $aside_width_large;
		transform: moveY($nav_top_without_bundle - 1.5rem);
	}
	&.with-article,
	&.with-bundle {
		#site-name-wrapper {
			// &.with-bundle #site-name {
			transform: moveY();
		}
	}

	// about
	// ===================================
	&.with-bundle .container-expanded .article-button {
		transform: moveX();
		a {
			visibility: visible;
			opacity: 1;
			transition: tx(visibility, 3, 0, step-start), tx(opacity, 1, 0), tx(color, 1, 1);
		}
	}

	// article-list-wrapper
	// - - - - - - - - - - - - - - - - - -
	#article-list-wrapper {
		// display: inline-block;
		width: $aside_width_large;
	}
	&.route-bundle-list,
	&.route-root {
		#article-list-wrapper {
			transform: moveY(5rem);
		}
	}

	// nav-graph
	// ===================================
	#nav-graph {
		left: $aside_width_large;
		width: $main_width_large;
	}

	// ///////////////////////////////////
	// content
	// //////////////////////////////////

	// image-carousel
	// ===================================

	// FIXME
	$_fixme_kw_left: $main_width_large;
	$_fixme_empty_width: $page_width_large - ($hu*2 + 7px);
	$_fixme_empty_padding: $aside_width_large - ($hu*2 + 7px);

	.media-carousel {
		min-width: $page_width_large;
		top: $nav_top_land + $nav_height_land - 3rem;

		.carousel-item {
			left: calc(50% - #{$page_width_large/2});
			width: $page_width_large;
		}
		.empty-item {
			// width: $main_width_large;
			width: $_fixme_empty_width; // FIXME
			padding-right: $_fixme_empty_padding; // FIXME
			padding-left: 0;
		}
		.media-item {
			width: $main_width_large;
		}
		.empty-item .content {
			font-size: 28px;
			line-height: 30px;
			// @include heading_font(300, 28px, 36px);
		}
		// .empty-item .content *:first-child {
		// 	margin-top: -4px;
		// }
	}
	.media-carousel {
		.carousel-item.media-item {
			margin-left: $aside_width_large;
		}
	}
	.carousel-item.empty-item p {
		padding-right: $hu*2;
	}
	// .disabled .empty-item transitions
	.disabled .carousel-item.empty-item .content {
		// transition: tx(transform, 1, 1), tx(opacity, 3, 0);
		transition: tx(transform, 1, 0, step-end), tx(opacity, 0.5, 0) !important;
	}
	:not(.scrolling) .carousel-item.empty-item.selected .content {
		transform: moveX(); //opacity: 1;
	}
	.disabled .carousel-item.empty-item.selected .content {
		transform: moveX($aside_width_large); //opacity: 0.5;
	}
	.container-changed .carousel-item.empty-item.selected .content {
		opacity: 0 !important;
		// transition: tx(transform, 1, 0, step-end), tx(opacity, 1, 0) !important;
	}

	// overrides carousel.playable.scss
	.playable-renderer {
		.top-bar {
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			// top: -9.5rem; right: -$hu;
			direction: ltr;
			top: 0;
			right: 100%;
			width: auto;
			height: calc(100% + 1rem);
			margin: -0.5rem 1.25rem;
			& > * {
				padding: 0.5rem 0;
				// &:first-child { padding-inline-start: 0; }
				// &:last-child { padding-inline-end: 0; }
			}
		}
	}

	// media-caption-stack
	// ===================================
	.media-caption-stack {
		top: $nav_top_land;
		margin-top: 0;
		width: $page_width_large;
		.content {
			margin-left: $aside_width_large;
			width: $main_width_large;
		}
		.content p {
			@include heading_font($weight: 300); //, $lead: 0.990);
		}
	}

	// media-dotnav
	// ===================================
	.media-dotnav {
		width: $page_width_large;
	}

	// article-view
	// ===================================
	.article-view {
		top: $nav_top_land;
		width: $page_width_large;
		padding-right: $aside_width_large;
	}
}
// end media-query
