// ///////////////////////////////////
// media query : $desktop-small
// ///////////////////////////////////

// layout variables
// - - - - - - - - - - - - - - - - - -
$nav_height_landRight: $nav_height_land + 1.5rem;

@include media(desktop-small) {
	&.right-layout {
		// #content:after {
		// 	top: $nav_top_land + $nav_height_landRight;
		// }

		// ///////////////////////////////////
		// navigation
		// ///////////////////////////////////

		// nav_list
		// -----------------------------------

		// bundle-list
		// ===================================

		// bundle-list-wrapper
		// - - - - - - - - - - - - - - - - - -
		&.with-bundle .container-expanded #bundle-list-wrapper {
			transform: move(0, 0);
		}

		// keyword-list
		// ===================================
		#keyword-list {
			// padding-top: #{$nav_height_land + 4.25rem};
		}
		&.with-bundle #keyword-list {
			padding-top: #{$nav_height_landRight - 0.25rem + 1rem};
		}
		&.with-bundle .container-expanded #keyword-list {
			padding-top: 1.25rem;
		}
		// keyword-list-wrapper
		// - - - - - - - - - - - - - - - - - -
		&.with-bundle #keyword-list-wrapper {
			transform: move(0, 0);
		}
		// keyword-list list-group
		// - - - - - - - - - - - - - - - - - -

		// site-name
		// ===================================
		&.with-bundle .container-expanded #site-name {
			transform: move(-100%, 0);
		}
		// site-name-wrapper
		// - - - - - - - - - - - - - - - - - -
		// #site-name-wrapper {
		// 	height: $nav_height_land_right;
		// }

		// nav-graph
		// ===================================

		// ///////////////////////////////////
		// content
		// ///////////////////////////////////

		// image-carousel
		// ===================================
		.media-carousel {
			top: $nav_top_land + $nav_height_landRight - 3rem;
			.media-item {
				margin-right: $aside_width_large;
				// padding-right: $aside_width_large;
				// padding-left: 0;
			}
		}
		.playable-renderer {
			.top-bar {
				bottom: 0;
				left: 100%;
				height: auto;
			}
		}

		// media-caption-stack
		// ===================================
		.media-caption-stack {
			top: $nav_top_land + $nav_height_landRight;
			margin-top: -2.5rem;
			// top: $nav_top_land;
			// margin-top: 0;
			// .content {
			// 	margin-left: 0;
			// 	margin-right: $aside_width_large;
			// }
			.content > * {
				@include small_caps($lead: 1.5rem);
			}
		}

		// media-dotnav
		// ===================================

	}
	// end layout
}
// end media-query
