<dl class="debug-links">
	<dt>
		<svg class="icon" viewBox="-100 -100 200 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet">
			<path id="cog" d="M11.754,-99.307c-7.809,-0.924 -15.699,-0.924 -23.508,0l-3.73,20.82c-6.254,1.234 -12.338,3.21 -18.123,5.888l-15.255,-14.651c-6.861,3.842 -13.244,8.48 -19.018,13.818l9.22,19.036c-4.335,4.674 -8.095,9.849 -11.201,15.416l-20.953,-2.886c-3.292,7.141 -5.731,14.645 -7.265,22.357l18.648,9.981c-0.759,6.329 -0.759,12.727 0,19.056l-18.648,9.981c1.534,7.712 3.973,15.216 7.265,22.357l20.953,-2.886c3.106,5.567 6.866,10.742 11.201,15.416l-9.22,19.036c5.774,5.338 12.157,9.976 19.018,13.818l15.255,-14.651c5.785,2.678 11.869,4.654 18.123,5.888l3.73,20.82c7.809,0.924 15.699,0.924 23.508,0l3.73,-20.82c6.254,-1.234 12.338,-3.21 18.123,-5.888l15.255,14.651c6.861,-3.842 13.244,-8.48 19.018,-13.818l-9.22,-19.036c4.335,-4.674 8.095,-9.849 11.201,-15.416l20.953,2.886c3.292,-7.141 5.731,-14.645 7.265,-22.357l-18.648,-9.981c0.759,-6.329 0.759,-12.727 0,-19.056l18.648,-9.981c-1.534,-7.712 -3.973,-15.216 -7.265,-22.357l-20.953,2.886c-3.106,-5.567 -6.866,-10.742 -11.201,-15.416l9.22,-19.036c-5.774,-5.338 -12.157,-9.976 -19.018,-13.818l-15.255,14.651c-5.785,-2.678 -11.869,-4.654 -18.123,-5.888l-3.73,-20.82ZM0,-33c18.213,0 33,14.787 33,33c0,18.213 -14.787,33 -33,33c-18.213,0 -33,-14.787 -33,-33c0,-18.213 14.787,-33 33,-33Z" style="fill:currentColor;fill-rule:evenodd;"/>
		</svg>
	</dt>
	<dd id="edit-backend"><a href="{{global "APP_ROOT"}}/symphony/" target="_blank">Edit</a></dd>
	<dd id="source"><a href="?debug=xml" target="_blank">Source</a></dd>
	<dd id="toggle-grid-bg"><a href="#toggle-grid-bg">Grid</a></dd>
	<dd id="toggle-blocks"><a href="#toggle-blocks">Blocks</a></dd>
	<dd id="toggle-logs"><a href="#toggle-logs">Logs</a></dd>
	<dd id="toggle-tests"><a href="#toggle-tests">Tests</a></dd>
	<dd id="media-info"><span></span></dd>
</dl>
<div id="test-results">
<ul>
<h6>Modernizr <a id="toggle-tests-failed" href="#toggle-tests-failed">Failed</a></h6>
{{#each Modernizr}}
	<li class="{{#if this}}passed{{else}}failed{{/if}}">{{@key}}</li>
{{/each}}
</ul>
</div>
<!-- <span style="font-family:'FolioClaimcheck-Figures'">x</span> -->
