<dl class="debug-links">
	<dt><span class="icon">&#xe811;</span></dt>
	<dd><a id="edit-backend" href="{{approot}}/symphony/" target="_blank">Edit</a></dd>
	<dd><a id="source" href="?debug=xml" target="_blank">Source</a></dd>
	<dd><a id="show-grid" href="javascript:(void 0)">Grid</a></dd>
	<dd><a id="show-blocks" href="javascript:(void 0)">Blocks</a></dd>
	<dd><span id="media-info"></span></dd>
</dl>
<dl class="debug-info">
	<dt><span class="icon">&#xe812;</span></dt>
</dl>
