@font-face {
	font-family: 'FolioFigures-Regular';
	src: font-url('FolioFigures-Regular.eot');
	src: font-url('FolioFigures-Regular.eot?#iefix') format('embedded-opentype'), font-url('FolioFigures-Regular.woff2') format('woff2'), font-url('FolioFigures-Regular.woff') format('woff'), font-url('FolioFigures-Regular.ttf') format('truetype');
	//,font-url('FolioFigures-Regular.svg#FolioFigures-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
