@font-face {
	font-family: "FolioFigures";
	src: font-url("FolioFigures-Regular.eot");
	src: font-url("FolioFigures-Regular.eot?#iefix") format("embedded-opentype"), font-url("FolioFigures-Regular.woff2") format("woff2"), font-url("FolioFigures-Regular.woff") format("woff"), font-url("FolioFigures-Regular.ttf") format("ttf"), font-url("FolioFigures-Regular.svg#FolioFigures") format("svg");
	font-style: normal;
	font-weight: 400;
}
