
// Spinner
@mixin spinner-icon {
	content: '\e800';
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	speak: none;
}
.spinner:after {
//	@include font-smoothing;
	@include text-rendering-speed;
	@include spinner-icon;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	position: absolute;
	line-height: 2em;
	width: 2em; top: 50%; margin-top: -1em;
	height: 2em; left: 50%; margin-bottom: -1em;
}
.spinnable .spinner:after {
	animation: none;
	visibility: hidden;
	opacity: 0;
}
.spinnable.running .spinner:after {
	animation: spin 2s infinite steps(48), fadeIn 0.5s;
	visibility: visible;
	opacity: 1;
}
.spinnable.error .spinner:after,
.spinnable.done .spinner:after {
	animation: spin 0.5s 1 steps(12), fadeOut 0.5s;
	visibility: hidden;
	opacity: 0;
}

@keyframes spin {
	0% {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(359deg);
	}
}

@keyframes fadeIn {
	0% {
		visibility: hidden;
	}
	1% {
		visibility: visible;
		opacity: 0;
	}
	100% {
		visibility: visible;
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		visibility: visible;
		opacity: 1;
	}
	99% {
		visibility: visible;
		opacity: 0;
	}
	100% {
		visibility: hidden;
	}
}
