
@font-face {
    font-family: 'Franklin Gothic FS';
    src: font-url('franklin-gothic-fs/FranklinGothic-Book-webfont.eot');
    src: font-url('franklin-gothic-fs/FranklinGothic-Book-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('franklin-gothic-fs/FranklinGothic-Book-webfont.woff2') format('woff2'),
         font-url('franklin-gothic-fs/FranklinGothic-Book-webfont.woff') format('woff'),
         font-url('franklin-gothic-fs/FranklinGothic-Book-webfont.ttf') format('truetype'),
         font-url('franklin-gothic-fs/FranklinGothic-Book-webfont.svg#franklin_gothic_fsbook') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Franklin Gothic FS';
    src: font-url('franklin-gothic-fs/FranklinGothic-BookIt-webfont.eot');
    src: font-url('franklin-gothic-fs/FranklinGothic-BookIt-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('franklin-gothic-fs/FranklinGothic-BookIt-webfont.woff2') format('woff2'),
         font-url('franklin-gothic-fs/FranklinGothic-BookIt-webfont.woff') format('woff'),
         font-url('franklin-gothic-fs/FranklinGothic-BookIt-webfont.ttf') format('truetype'),
         font-url('franklin-gothic-fs/FranklinGothic-BookIt-webfont.svg#franklin_gothic_fsbook_italic') format('svg');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'Franklin Gothic FS';
    src: font-url('franklin-gothic-fs/FranklinGothic-Demi-webfont.eot');
    src: font-url('franklin-gothic-fs/FranklinGothic-Demi-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('franklin-gothic-fs/FranklinGothic-Demi-webfont.woff2') format('woff2'),
         font-url('franklin-gothic-fs/FranklinGothic-Demi-webfont.woff') format('woff'),
         font-url('franklin-gothic-fs/FranklinGothic-Demi-webfont.ttf') format('truetype'),
         font-url('franklin-gothic-fs/FranklinGothic-Demi-webfont.svg#franklin_gothic_fsdemi') format('svg');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'Franklin Gothic FS';
    src: font-url('franklin-gothic-fs/FranklinGothic-DemiIt-webfont.eot');
    src: font-url('franklin-gothic-fs/FranklinGothic-DemiIt-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('franklin-gothic-fs/FranklinGothic-DemiIt-webfont.woff2') format('woff2'),
         font-url('franklin-gothic-fs/FranklinGothic-DemiIt-webfont.woff') format('woff'),
         font-url('franklin-gothic-fs/FranklinGothic-DemiIt-webfont.ttf') format('truetype'),
         font-url('franklin-gothic-fs/FranklinGothic-DemiIt-webfont.svg#franklin_gothic_fsdemi_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}
