// Typefaces seem to be loaded on demand, so we define all weights, used or not.
// CSS INCLUDED FROM HTML
@import url("http://fonts.googleapis.com/css?family=Open+Sans:" +
	"300,400,600,700,300italic,400italic,600italic,700italic&subset=latin,latin-ext");	
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:" +
	"200,200italic,300,300italic,400,400italic,600,600italic,700,700italic,900,900italic");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:" +
	"300,400,600,700,400italic");
@import url("http://fonts.googleapis.com/css?family=Chivo:400,900,400italic,900italic&subset=latin,latin-ext");
@import url("http://fonts.googleapis.com/css?family=Ek+Mukta:400,200,300,600,700,500,800&subset=latin,latin-ext");
@import url("http://fonts.googleapis.com/css?family=Hind:400,300,600,500,700&subset=latin,latin-ext");
