$font_subdir: "old-standard-tt";
@font-face {
	font-family: 'Old Standard TT';
	src: font-url('#{$font_subdir}/OldStandard-Regular.eot');
	src: local('Old Standard TT Regular'),
		local('OldStandardTT-Regular'),
		font-url('#{$font_subdir}/OldStandard-Regular.woff') format('woff'),
		font-url('#{$font_subdir}/OldStandard-Regular.ttf') format('truetype'),
		font-url('#{$font_subdir}/OldStandard-Regular.svg#OldStandardTT-Regular') format('svg');
}
@font-face {
	font-family: 'Old Standard TT';
	font-style: italic;
	src: font-url('#{$font_subdir}/OldStandard-Italic.eot');
	src: local('Old Standard TT Italic'),
		local('OldStandardTT-Italic'),
		font-url('#{$font_subdir}/OldStandard-Italic.woff') format('woff'),
		font-url('#{$font_subdir}/OldStandard-Italic.ttf') format('truetype'),
		font-url('#{$font_subdir}/OldStandard-Italic.svg#OldStandardTT-Italic') format('svg');
}
@font-face {
	font-family: 'Old Standard TT';
	font-weight: bold;
	src: font-url('#{$font_subdir}/OldStandard-Bold.eot');
	src: local('Old Standard TT Bold'),
		local('OldStandardTT-Bold'),
		font-url('#{$font_subdir}/OldStandard-Bold.woff') format('woff'),
		font-url('#{$font_subdir}/OldStandard-Bold.ttf') format('truetype'),
		font-url('#{$font_subdir}/OldStandard-Bold.svg#OldStandardTT-Bold') format('svg');
}
