/* @override  http://folio.local/workspace/assets/css/folio.css */

/* DEBUG */
/*#container, #main,  #navigation, #nav-sidebar { outline: 1px solid hsla(0, 0%, 0%, .2); }*/

/*#header, #footer, #keyword-list, #bundle-list { background-color: hsla(0, 0%, 0%, .05); }
#bundle-nav		{ background-color: hsla(  0, 75%, 75%, .2); }
#bundle-detail	{ background-color: hsla(180, 75%, 75%, .2); }
#bundle-images	{ background-color: hsla(270, 75%, 75%, .2); }
.item		{ background-color: hsla(270, 75%, 75%, .2); }*/

/* @group Layout */
#container {
	width: 740px;
	margin: 0 auto;
	display: block;
}
#header {
	margin: 4em 20px 2em 20px;
}
	#header h2 {
		margin: 1.5em 2px 0 -2px;
		line-height: 1;
	}
	#header a, h2 a, h3 a {
		text-decoration: none;
	}

#footer {
	clear: both;
	margin-top: 40px;
	margin-left: 20px;
	margin-right: 20px;
}
#main {
	margin-left: 20px;
	margin-right: 20px;
	clear: both;
}
#navigation {
	margin-left: 20px;
	margin-right: 20px;
	position: relative;
}

#bundle-list {
	margin-right: 300px;
	margin-bottom: 10px;
}
#keyword-list {
	width: 280px;
	float: right;
	margin-bottom: 10px;
}

#bundle-nav {
	margin-right: 300px;
	margin-bottom: 10px;
}
#bundle-detail {
	margin-right: 300px;
	margin-bottom: 10px;
}
#bundle-detail {
	font-size: 100%;
}
#bundle-detail .description {
/*	display: none;*/
	margin-right: 20px;
}
#bundle-detail .name {
/*	display: none;*/
}
#bundle-detail .completed {
/*	display: none;*/
}
#bundle-detail a:hover {
	color: hsl(10, 75%, 50%);
	background-color: hsl(0, 0%, 94%);
}
.bundle-images {
	position: relative;
}
.bundle-images-item .caption {
	position: absolute;
	right: 0;
	bottom: 100%;
	width: 280px;
	text-align: right;
	margin: 10px -2px 0 10px;
	color: #999999;
}
.bundle-images-item img {
	display: block;
	background-color: #999999;
	box-shadow: 0 4px 6px -2px hsla(0, 0%, 0%, 0.4);
}
.bundle-images-item .caption p {
	padding: 0 0 0.5em 0;
}

/* @end */

/* @group .mapped-list .item */
.mapped-list {
	margin: 0;
	padding: 0;
}
.mapped-list .item {
	margin: 0;
	padding: 0;
	display: block;
}
.mapped-list .item.selected {
	color: hsl(10, 85%, 50%);
}
.mapped-list.collapsed .item.selected {
	color: inherit;
}
.mapped-list .item a {
	color: inherit;
	display: block;
	width: 100%;
}

#bundle-list {
	min-height: 33px;
}
#bundle-list .item {
	line-height: 1;
	padding: 0;
}
#bundle-list .item .name {
/*	margin-left: 2.2em ;*/
}
#bundle-list .item .completed {
	display: none;
/*	position: absolute;*/
/*	left: 0;*/
}
/* @end */

/* @group .mapped-list animated props */
#bundle-list .item {
	opacity: 1;
	max-height: 33px;
	visibility: visible;
}
#bundle-list.collapsed .item.selected {
	opacity: 1;
	max-height: 0px; /* watch out !!! (this is for better animation)  */
	visibility: visible;
}
#bundle-list.collapsed .item:not(.selected) {
	opacity: 0;
	max-height: 0;
	visibility: hidden;
}
#keyword-list.has-highlight:not(.collapsed) .group:not(.highlight),
#keyword-list.has-highlight:not(.collapsed) .item:not(.highlight),
#bundle-list.has-highlight:not(.collapsed) .item:not(.highlight) {
	opacity: 0.4;
}

#keyword-list .item {
	opacity: 1;
	max-height: 18px;
	visibility: visible;
}
#keyword-list.collapsed .item.highlight {
	opacity: 1;
	max-height: 18px;
	visibility: visible;
}
#keyword-list.collapsed .item:not(.highlight) {
	opacity: 0;
	max-height: 0;
	visibility: hidden;
}

#bundle-list .item,
#keyword-list .item {
	transition: max-height 0.4s, opacity 0.4s, visibility 0.4s;
}
/* @end */

/* @group #keyword-list .group */
#keyword-list {
	position: relative;
}
#keyword-list .item {
	margin-left: 100px;
}
#keyword-list .group {
/* layout */
	display: block;
	position: absolute;
	width:  80px;
	left: 0px;
	margin: 0; padding: 0;
}
/* Transitions */
#keyword-list .group {
	opacity: 1;
}
#keyword-list.collapsed .group.highlight {
	opacity: 1;
}
#keyword-list.collapsed .group:not(.highlight) {
	opacity: 0;
}
#keyword-list .group {
	transition: opacity 0.4s;
}
/* @end */

/* @group .admin */
.admin a {
	color: 	hsl(0, 0%, 60%);
}
.admin dt {
	float: left;
	display: inline;
	font-weight: bold;
	color: hsl(0, 0%, 60%);
}
.admin dd {
	display: inline;
	margin-left: 10px;
}
/* @end */



@media print {
	#header, #footer, #sidebar, .navigation, #respond {
		display:none;
	}
	div#main, div#container {
		width:auto!important;
		float:none!important;
		color:#000!important;
	}
	a {
		color:#000!important;
	}
}
