.carousel {
	.carousel-item {
		display: block;
		position: absolute;
		* {
			user-select: none !important;
		}
//		.sizing {
//			box-sizing: border-box;
//		}
	}
	&.panning {
		cursor: grabbing;
	}
	&:not(.panning) .carousel-item {
		.content, .content-decoration {
			cursor: pointer;
		}
		&.selected {
			.content, .content-decoration   {
				cursor: grab;
			}
		}
	}
	&.disabled .carousel-item {
		.content, .content-decoration {
			cursor: default !important;
		}
	}
}

// - - - - - - - - - - - - - - - - - -
// Animation
// - - - - - - - - - - - - - - - - - -
$pan_ease: $ease;
.carousel {
	.carousel-item {
		transform: translate3d(0,0,0);
		transform-style: preserve-3d;
		transition: transform $duration $pan_ease;
	}
	&.skip-transitions .carousel-item {
		@include skip_transitions;
	}
}

// NOTE:
@import "./_carousel.media";
@import "./_carousel.playable";

// .disabled .media-item
// - - - - - - - - - - - - - - - - - -
.carousel.disabled {
	.media-item.selected,
	.media-item.candidate,
	.empty-item.selected + .media-item {
		&.done .content {
			opacity: 0;
		}
	}
}

// - - - - - - - - - - - - - - - - - -
// .empty-item
// - - - - - - - - - - - - - - - - - -

.carousel.media-carousel {
	.empty-item {
		.content {
			// transition: opacity #{$duration - 0.001s} $ease #{$delay + 0.001s};
			transition: opacity #{$duration - 0.001s} $ease 0.001s;
			opacity: 0.25;
		}
		&.selected,	&.candidate {
			.content {
				opacity: 1;
			}
		}
	}
	&.panning .empty-item {
		&.selected,	&.candidate {
			.content {
				opacity: 0.5;
			}
		}
	}
	&.disabled .empty-item {
		&.selected,	&.candidate {
			.content {
				opacity: 0.15;
			}
		}
	}
	// &:not(.disabled-changing) .empty-item .content {
	// 	transition: opacity #{$duration - 0.001s} $ease 0.001s;
	// }
	// &.disabled-changing .empty-item .content {
	// 	transition: opacity #{$duration - 0.001s} $ease #{$delay + 0.001s};
	// }
	// &.disabled-changing .empty-item {
	// 	outline: 2px solid blue;
	// }
}

// - - - - - - - - - - - - - - - - - -
// .default-renderer
// - - - - - - - - - - - - - - - - - -
.carousel-item.default-renderer {
	.sizing {
		display: inline-block;
	}
}

// - - - - - - - - - - - - - - - - - -
// .label-carousel
// - - - - - - - - - - - - - - - - - -
.label-carousel {
	.carousel-item {
		.content {
			transition: opacity $duration $ease 0.001s;
			opacity: 0.2;
		}
		&.selected, &.candidate {
			.content {
				opacity: 1;
			}
		}
	}
}
