// -----------------------------------
// .playable-renderer
// -----------------------------------

.playable-renderer {
	.media-size,
	.content-size {
		position: absolute;
		display: inline-block;
	}
	.content-size {
		width: 100%; height: 100%;
		top: 0; left: 0;
	}
}

// -----------------------------------
// .playable-renderer .overlay
// -----------------------------------

// .overlay visibility
// - - - - - - - - - - - - - - - - -
// .playable-renderer .overlay {
// 	visibility: hidden;
// 	opacity: 0;
// }
// .playable-renderer.selected .overlay {
// 	visibility: visible;
// 	opacity: 1;
// }
// .carousel .playable-renderer .overlay {
// 	transition-property: visibility, opacity;
// 	transition-timing-function: step-start, $ease;
// 	transition-duration: $duration * 3;
// }
// .carousel:not(.panning) .playable-renderer.selected .overlay {
// 	transition-property: visibility, opacity;
// 	transition-timing-function: step-end;
// 	transition-duration: $duration * 1;
// }

// -----------------------------------
// .playable-renderer .play-toggle
// -----------------------------------

@function symbol-url($url) {
	// @return base64_encode($url);
	@return image-url($url);
}

@keyframes flashEven {
	from  { opacity: 1.00; }
	50%  { opacity: 1.00; }
}
@keyframes flashOdd {
	from  { opacity: 1.00; }
	50%  { opacity: 1.00; }
}
// from { opacity: 0.00; }
// 10%  { opacity: 1.00; }
// to   { opacity: 0.00; }

// - - - - - - - - - - - - - - - - -
// .play-toggle
// - - - - - - - - - - - - - - - - -
.playable-renderer {
	// - - - - - - - - - - - - - - - - -
	// box/background position
	// - - - - - - - - - - - - - - - - -
	.play-toggle {
		width: auto; height: auto;
		top: 1em; bottom: 1em; left: 1em; right: 1em;
		cursor: pointer;
		display: block;
		position: absolute;
		
		// background-size: 3.3rem 3.3rem;
		background-size: 33px 33px;
		background-position: center center;
		background-repeat: no-repeat;
	}
	.paused:not(.started) .play-toggle {
		background-size: 49px 49px;
	}
	// .play-toggle {
	// 	$size: 50%;//12em; 
	// 	width: $size; height: $size;
	// 	left: calc(50% - #{$size/2}); top: calc(50% - #{$size/2}); 
	// 	margin-left: $size/2; margin-top: $size/2;
	// }
	// .play-toggle-hitarea {} // hit-area
	
	// - - - - - - - - - - - - - - - - -
	// symbols
	// - - - - - - - - - - - - - - - - -
	.paused:not(.started) .play-toggle,
	.playing .play-toggle,
	.play-toggle 					{ background-image: symbol-url("symbols/playback-play.svg"); }
	.paused .play-toggle 			{ background-image: symbol-url("symbols/playback-pause.svg"); }
	.playing.waiting .play-toggle 	{ background-image: symbol-url("symbols/playback-wait.svg"); }
	.paused.ended .play-toggle 		{ background-image: symbol-url("symbols/playback-replay.svg"); }
	// .over-dark .play-toggle { background-image: symbol-url("symbols/playback-play-dark.svg"); }
	// .over-dark .play-toggle { background-image: symbol-url("symbols/playback-pause-dark.svg");}
	// .over-dark .play-toggle { background-image: symbol-url("symbols/playback-replay-dark.svg");}
	// .over-dark .play-toggle { background-image: symbol-url("symbols/playback-wait-dark.svg");}
	
	// - - - - - - - - - - - - - - - - -
	// opacity animation
	// - - - - - - - - - - - - - - - - -
	// .play-toggle { opacity: 0; };
	// :not(.started) .play-toggle { opacity: 1; }
	.play-toggle { opacity: 1; };
	.started {
		.play-toggle { opacity: 0; };
		&.playing.waiting .play-toggle { opacity: 1; }
		&.paused.ended .play-toggle { opacity: 1; }
		
		// &.playing .play-toggle 			{ background-image: symbol-url("symbols/playback-play.svg"); }
		// &.paused .play-toggle 			{ background-image: symbol-url("symbols/playback-pause.svg"); }
		// &.playing.waiting .play-toggle 	{ background-image: symbol-url("symbols/playback-wait.svg"); }
		// &.paused.ended .play-toggle 	{ background-image: symbol-url("symbols/playback-replay.svg"); }
		
		@at-root :not(.scrolling) & {
			&.playing .play-toggle { animation: $duration*2 $ease flashOdd; }
			&.paused .play-toggle { animation: $duration*2 $ease flashEven; }
		}
	}
	// @at-root :not(.scrolling) & .started {
	// 	&.playing .play-toggle { animation: $duration*2 $ease flashOdd; }
	// 	&.paused .play-toggle { animation: $duration*2 $ease flashEven; }
	// }
}

/*
.playable-renderer {
	.play-toggle 								{ opacity: 1; }
	.playing .play-toggle 						{ opacity: 0; }
	.paused .play-toggle 						{ opacity: 0; }
	// .playing:not(.waiting) .play-toggle 		{ opacity: 0; }
	// .paused:not(.ended) .play-toggle 			{ opacity: 0; }
	
	.playing.waiting .play-toggle 				{ opacity: 1; }
	.paused.ended .play-toggle 					{ opacity: 1; }
	// :not(.requested).playing .play-toggle 		{ opacity: 1; }
	// :not(.requested).paused .play-toggle 		{ opacity: 1; }
	
	@at-root :not(.scrolling) & .playing .play-toggle:active	{ opacity: 1; }
	@at-root :not(.scrolling) & .paused .play-toggle:active		{ opacity: 1; }
	// .playing .play-toggle:active 				{ opacity: 1; }
	// .paused .play-toggle:active 				{ opacity: 1; }
	// @at-root .scrolling & .play-toggle:active					{ opacity: 0 !important; }
	
	.play-toggle 				{ transition: opacity $duration*1.0 $ease $delay*0.5; }
	.play-toggle:active 		{ transition: opacity $duration*0.3 $ease 0.005s; }
	.playing:not(.waiting), .paused:not(.ended) { 
		.play-toggle 			{ transition: opacity $duration*1.0 $ease $delay*0.5; }
		.play-toggle:active 	{ transition: opacity $duration*0.3 $ease 0.005s; }
	}
	.playing .play-toggle:active	{ background-image: symbol-url("symbols/playback-pause.svg"); }
	.paused .play-toggle:active		{ background-image: symbol-url("symbols/playback-play.svg"); }
}
*/

// - - - - - - - - - - - - - - - - - -
//  .playable-renderer .controls
// - - - - - - - - - - - - - - - - - -
.playable-renderer {
	.controls {
		position: absolute;
		// top: 100%;
		// right: 0;
		// height: 4.5rem;
	}
	// .control-box
	// - - - - - - - - - - - - - - - - -
	.control-box {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		// align-items: center;
		
		& > * {
			-webkit-flex: 0 1 auto;
			-ms-flex: 0 1 auto;
			flex: 0 1 auto;
			padding: 0rem 0.5rem;
			align-self: center;
		}
	}
	.top-bar, .bottom-bar {
		position: absolute;
		width: calc(100% + 1rem); height: auto;
		margin: 1.25rem -0.5rem;
	}
	.bottom-bar {
		top: 100%;
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}
	.top-bar {
		bottom: 100%;// top: -3.5rem;
		// -webkit-justify-content: flex-end;
		// justify-content: flex-end;
		direction: rtl;
	}
}

@include media(desktop-small) {
	.playable-renderer {
		// .progress-meter {
		// 	top: 0; right: -$hu*2;
		// 	// &.dev { transform: translate(0, -3rem); }
		// }
		.top-bar.control-box {
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			// -webkit-justify-content: flex-start;
			// justify-content: flex-start;
			direction: ltr;
			top: 0; left: 100%; 
			width: auto; height: calc(100% + 1rem);
			margin: -0.5rem 1.25rem;
			& > * {
				padding: 0.5rem 0rem;
			}
		}
	}
}

// - - - - - - - - - - - - - - - - - -
//  .playable-renderer children
// - - - - - - - - - - - - - - - - - -
.playable-renderer {
	// .timeline | .timecode
	// - - - - - - - - - - - - - - - - -
	.timecode {
		font-size: 85%;
		letter-spacing: 1px;
		font-variant-numeric: tabular-nums;
	}
	.control-box {
		& > .timeline {
			-webkit-flex: 1 0 auto;
			flex: 1 0 auto;
		}
		// & > .svg-progress-meter {}
	}
	
	// .fullscreen-toggle
	// - - - - - - - - - - - - - - - - -
	.fullscreen-toggle {
		line-height: 0;
		cursor: pointer;
		svg {
			width: 1em;
			height: 1em;
		}
	}
	
	// .progress-meter
	// - - - - - - - - - - - - - - - - -
	.progress-meter {
		font-family: "FolioFigures-Regular", monospace;
		font-weight: normal;
		box-sizing: content-box;
		// width: 2.3rem; height: 2.3rem;
		width: 2.8rem; height: 2.8rem;
		transition: tx(opacity, 1, 0);
		opacity: 0;
	}
	@at-root :not(.scrolling) &.selected .progress-meter { 
		opacity: 1;
	}
}

// .progress-meter per-renderer adjustments
// - - - - - - - - - - - - - - - - -
// .progress-meter {
// 	@at-root .playable-renderer & { font-size: 140%; }
// 	@at-root .sequence-renderer & { width: 2.5rem; height: 2.5rem; }
// 	@at-root .video-renderer & { width: 2.3rem; height: 2.3rem; }
// }
// .canvas-progress-meter {
// 	@at-root .sequence-renderer & { font-size: 80%; }
// 	@at-root .video-renderer & { font-size: 90%; }
// }
// .svg-progress-meter #label {
// 	@at-root .playable-renderer & { font-size: 140%; }
// 	@at-root .sequence-renderer & { font-size: 140%; }
// 	@at-root .video-renderer & { font-size: 133%; }
// }

// -----------------------------------
// VideoRenderer
// -----------------------------------
.video-renderer {
	.crop-box {
		overflow: hidden;
		video, .poster {
			position: absolute;
			// top: -1px;
			margin-top: -1px;
			// margin-bottom: -1px;
			// left: 0;
			// border-width: 0; margin: 0; padding: 0;
		}
	}
	.started .poster {
		visibility: hidden;
	}
}

// -----------------------------------
// SequenceRenderer
// -----------------------------------
.sequence-renderer {
	.sequence {
		// position: absolute;
		// width: 100%; height: 100%;
		border-radius: inherit;
		overflow: hidden;
	}
	.sequence-step {
		position: absolute;
		top: 0; left: 0;
		width: 100%; height: 100%;
		
		// NOTE: z-index changed last, opacity transition in outgoing image
		z-index: 0; opacity: 0; visibility: hidden;
		transition:
			opacity $duration*1.5 $ease $duration*0.5,
			visibility $duration*3 step-end, 
			z-index $duration*3 step-end;
		// transition: 
		// 	tx(opacity, 1.5, 0.5),
		// 	tx(visibility, 3, $ease: step-end),
		// 	z-tx(index, 3, $ease: step-end);
		
		&.current {
			z-index: 1; opacity: 1; visibility: visible;
			transition: z-index $duration*3 step-end;
			// transition: z-tx(index, 3, $ease: step-end);
		}
		
		&.error {
			// background-image: image-url("bg-missing-media.svg");
			background-image: base64_encode("bg-missing-media.svg");
		}
	}
	.overlay {
		z-index: 2;
	}
}
