// -----------------------------------
// .playable-renderer
// -----------------------------------

.playable-renderer {
	.content-size,
	.media-size {
		position: absolute;
		display: inline-block;
	}
	.content > .content-size {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}

// -----------------------------------
// .playable-renderer .overlay
// -----------------------------------

// .overlay visibility
// - - - - - - - - - - - - - - - - -
// .playable-renderer .overlay {
// 	visibility: hidden;
// 	opacity: 0;
// }
// .playable-renderer.selected .overlay {
// 	visibility: visible;
// 	opacity: 1;
// }
// .carousel .playable-renderer .overlay {
// 	transition-property: visibility, opacity;
// 	transition-timing-function: step-start, $ease;
// 	transition-duration: $duration * 3;
// }
// .carousel:not(.panning) .playable-renderer.selected .overlay {
// 	transition-property: visibility, opacity;
// 	transition-timing-function: step-end;
// 	transition-duration: $duration * 1;
// }

// -----------------------------------
// .playable-renderer .play-toggle
// -----------------------------------

@function symbol-url($url) {
	// @return base64_encode($url);
	@return image-url($url);
}

@keyframes flashEven {
	from {
		opacity: 1.00;
	}
	50% {
		opacity: 1.00;
	}
}

@keyframes flashOdd {
	from {
		opacity: 1.00;
	}
	50% {
		opacity: 1.00;
	}
}
@keyframes spin {
	from {
		transform:rotate(0deg);
	}
	to {
		transform:rotate(360deg);
	}
}

$path_length: 566;
@keyframes pathspin {
	from {
		transform: rotate(360deg);
		stroke-dashoffset: 0;
		stroke-dasharray: $path_length * 0.75, $path_length;
	}
	50% {
		stroke-dashoffset: $path_length * -0.25;
		stroke-dasharray: $path_length * 0.25, $path_length;
	}
	to {
		transform: rotate(0deg);
		stroke-dashoffset: 0;
		stroke-dasharray: $path_length * 0.75, $path_length;
	}
}
%path_spinner {
	animation: 1s linear infinite pathspin;
	stroke-width: 12px;
	stroke-dashoffset: 0;
	stroke-dasharray: $path_length, $path_length*1.4;
	// vector-effect: non-scaling-stroke;
}
.playable-renderer.selected .waiting-symbol use {
	@extend %path_spinner;
}

// - - - - - - - - - - - - - - - - -
// .play-toggle
// - - - - - - - - - - - - - - - - -
.playable-renderer {
	.play-toggle-hitarea {
		cursor: pointer;
	}
	// - - - - - - - - - - - - - - - - -
	// box/background position
	// - - - - - - - - - - - - - - - - -
	.play-toggle {
		display: block;
		position: absolute;
		width: 49px;
		height: 49px;
		margin-left: -24px; left: 50%;
		margin-top: -24px; top: 50%;
		// top: calc(50% - 24px);
		// left: calc(50% - 24px);

		color: #ffffff;
		// background-color: rgba(0,0,0,0.2);
		// border-radius: 2px;
		// stroke-width:1px;

		// top: 0;//20%;//1em;
		// bottom: 0;//20%;//1em;
		// left: 0;//20%;//1em;
		// right: 0;//20%;//1em;
		// width: auto;
		// height: auto;
		// margin: 1rem;
	}
	// :not(.started) .play-toggle {
	// .started.playing.waiting .play-toggle {
	// 	background-size: 69px 69px;
	// }
	// .play-toggle {
	// 	$size: 49px;//50%;//12em;
	// 	width: $size; height: $size;
	// 	left: calc(50% - #{$size/2}); top: calc(50% - #{$size/2});
	// 	// margin-left: $size/2; margin-top: $size/2;
	// }

	// - - - - - - - - - - - - - - - - -
	// opacity animation
	// - - - - - - - - - - - - - - - - -
	// .play-toggle { opacity: 0; };
	// :not(.started) .play-toggle { opacity: 1; }
	.play-toggle {
		opacity: 1;
	}
	.started {
		.play-toggle {
			opacity: 0;
		}
		/* using progress*/
		&.playing.waiting .play-toggle {
			opacity: 1;
			// transition: opacity 1s step-end;//tx(opacity, $ease: step-end);
		}
		&.paused.ended .play-toggle {
			opacity: 1;
		}
		@at-root :not(.scrolling) & {
			&.paused .play-toggle {
				animation: $duration * 2 $ease flashEven;
			}
			// &.playing .play-toggle {
			// 	animation: $duration * 2 $ease flashOdd;
			// }
			&.playing:not(.waiting) .play-toggle {
				animation: $duration * 2 $ease flashOdd;
			}
			&.playing.waiting .play-toggle {
				animation: $duration * 2 $ease flashEven;
			}
		}
	}

	// - - - - - - - - - - - - - - - - -
	// spinning animation
	// - - - - - - - - - - - - - - - - -
	// &.selected .started.waiting {
	// 	@at-root :not(.scrolling):not(.disabled) & {
	// 		.play-toggle-symbol,
	// 		.play-toggle::after {
	// 			animation: $duration * 2 linear infinite spin;
	// 		}
	// 	}
	// }


	// - - - - - - - - - - - - - - - - -
	// symbols as svg+js
	// - - - - - - - - - - - - - - - - -
	.play-toggle-symbol {
		// position: absolute;
		width: 49px;
		height: 49px;
		// top: calc(50% - 24px);
		// left: calc(50% - 24px);
		color: #ffffff;
		font-family: "FolioFigures", monospace;
		font-size: 24px;
	}

	// - - - - - - - - - - - - - - - - -
	// symbols as ::after
	// - - - - - - - - - - - - - - - - -
	// .play-toggle::after {
	// 	position: absolute;
	// 	display: inline-block;
	// 	width: 49px;
	// 	height: 49px;
	// 	top: 0;
	// 	left: 0;
	// }
	// .play-toggle::after,
	// .paused:not(.started) .play-toggle::after,
	// .playing .play-toggle::after {
	// 	content: symbol-url("symbols/playback-play.svg");
	// }
	// .paused .play-toggle::after {
	// 	content: symbol-url("symbols/playback-pause.svg");
	// }
	// .paused.ended .play-toggle::after {
	// 	content: symbol-url("symbols/playback-replay.svg");
	// }
	// .playing.waiting .play-toggle::after {
	// 	content: symbol-url("symbols/playback-wait.svg");
	// 	// animation: 1s linear infinite pathspin;
	// 	@extend %path_spinner;
	// }

	// - - - - - - - - - - - - - - - - -
	// symbols as background
	// - - - - - - - - - - - - - - - - -
	/** As background images */
	// .play-toggle {
	// 	background-size: 49px 49px;
	// 	background-position: center center;
	// 	background-repeat: no-repeat;
	// }
	// .paused:not(.started) .play-toggle,
	// .play-toggle,
	// .playing .play-toggle {
	// 	background-image: symbol-url("symbols/playback-play.svg");
	// 	// .play-symbol {
	// 	// 	display: block;
	// 	// }
	// }
	// .paused .play-toggle {
	// 	background-image: symbol-url("symbols/playback-pause.svg");
	// 	// .pause-symbol {
	// 	// 	display: block;
	// 	// }
	// }
	// .playing.waiting .play-toggle {
	// 	background-image: symbol-url("symbols/playback-wait.svg");
	// 	// .waiting-symbol {
	// 	// 	display: block;
	// 	// }
	// }
	// .paused.ended .play-toggle {
	// 	background-image: symbol-url("symbols/playback-replay.svg");
	// }
}

// - - - - - - - - - - - - - - - - - -
//  .playable-renderer .controls
// - - - - - - - - - - - - - - - - - -
.playable-renderer {
	.controls {
		position: absolute;
		// top: 100%;
		// right: 0;
		// height: 4.5rem;
	}

	// .controls > *
	// - - - - - - - - - - - - - - - - -
	// NOTE: Fade controls while scrolling ONLY. For other states
	// (not-selected, disabled), an ancestor will be shown/hidden.
	.controls > * {
		opacity: 0;
		visibility: hidden;
		transition: tx(opacity, 1, 0), tx(visibility, 1, 0);
	}
	&.ready.selected {
		.controls > * {
			opacity: 1;
			visibility: visible;
			@at-root {
				.panning &,
				.scrolling & {
					opacity: 0;
					visibility: hidden;
				}
			}
		}
		// :not(.started) .controls > .fullscreen-toggle {
		// 		opacity: 0;
		// 		visibility: hidden;
		// }
	}

	// - - - - - - - - - - - - - - - - - -
	//  .playable-renderer children
	// - - - - - - - - - - - - - - - - - -

	// .fullscreen-toggle
	// - - - - - - - - - - - - - - - - -
	.fullscreen-toggle {
		line-height: 0;
		cursor: pointer;
		border-radius: 0.2rem;
		&:hover {
			background-color: hsla(0,0,100%,0.25);
			@at-root .color-dark & {
				background-color: hsla(0,0,0%,0.25);
			}
		}
		&:active {
			background-color: hsla(0,0,100%,0.5);
			@at-root .color-dark & {
				background-color: hsla(0,0,0%,0.5);
			}
		}
		svg {
			width: 1em;
			height: 1em;
			padding: 0.5em;
		}
	}

	// .progress-meter
	// - - - - - - - - - - - - - - - - -
	.progress-meter {
		font-family: "FolioFigures", monospace;
		font-weight: normal;
		box-sizing: content-box;
		// width: 2.3rem;
		// height: 2.3rem;
		width: 2.8rem;
		height: 2.8rem;
		// transition: tx(opacity, 1, 0);
		// opacity: 0;
	}
	// @at-root :not(.scrolling) &.selected .progress-meter {
	// 	opacity: 1;
	// }

	// .timeline | .timecode
	// - - - - - - - - - - - - - - - - -
	// .timecode {
	// 	font-size: 85%;
	// 	letter-spacing: 1px;
	// 	font-variant-numeric: tabular-nums;
	// }
	// .control-box {
	// 	& > .timeline {
	// 		-webkit-flex: 1 0 auto;
	// 		flex: 1 0 auto;
	// 	}
	// 	// & > .svg-progress-meter {}
	// }
}

// .progress-meter per-renderer adjustments
// - - - - - - - - - - - - - - - - -
// .progress-meter {
// 	@at-root .playable-renderer & { font-size: 140%; }
// 	@at-root .sequence-renderer & { width: 2.5rem; height: 2.5rem; }
// 	@at-root .video-renderer & { width: 2.3rem; height: 2.3rem; }
// }
// .canvas-progress-meter {
// 	@at-root .sequence-renderer & { font-size: 80%; }
// 	@at-root .video-renderer & { font-size: 90%; }
// }
// .svg-progress-meter #label {
// 	@at-root .playable-renderer & { font-size: 140%; }
// 	@at-root .sequence-renderer & { font-size: 140%; }
// 	@at-root .video-renderer & { font-size: 133%; }
// }

// -----------------------------------
// VideoRenderer
// -----------------------------------
.video-renderer {
	transform-style: flat;
	// Closest to 680px at 16:9 -> 672x378
	// .content { max-width: 672px; }
	video {
		outline: 0 none;
		// object-fit: none;
		// background-color: #00CC00;
	}
	.crop-box {
		@if $video_crop_px < 0 {
			overflow: hidden;
		}
		// background-color: #FF00FF;
		.poster, video {
			position: absolute;
			left: 0; right: 0;
			top: #{$video_crop_px}px;
			// top: -1px;
			// margin-top: -1px;
			// margin-left: -1px;

			// top: -5px;
			// left: -5px;
			// height: calc(100% + 10px);
			// width: calc(100% + 10px);

			// margin-bottom: -1px;
			// left: 0;
			// border-width: 0; margin: 0; padding: 0;
		}
	}
	.started .poster {
		visibility: hidden;
		// display: none;
	}
}

// -----------------------------------
// SequenceRenderer
// -----------------------------------
.sequence-renderer {
	// .content {
	// 	box-shadow: none;//0 1rem 1rem -0.5rem rgba(0,0,0,0.5);
	// }
	.sequence {
		// box-shadow: 0 1rem 1rem -0.5rem rgba(0,0,0,0.5);

		// position: absolute;
		// width: 100%; height: 100%;
		// border-radius: inherit;
		overflow: hidden;
	}
	// .sequence-step
	// - - - - - - - - - - - - - - - - -
	.sequence-step {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		// NOTE: current on top, z-index changed last, opacity tx in outgoing image
		// z-index: 0; opacity: 0; visibility: hidden;
		// transition:
		// 	tx(opacity, 1.5, 0.5),
		// 	tx(visibility, 3, 0, step-end),
		// 	tx(z-index, 3, 0, step-end);
		// &.current {
		// 	z-index: 1; opacity: 1; visibility: visible;
		// 	// transition: z-index $duration*3 step-end;
		// 	transition: tx(z-index, 3, 0, step-end);
		// }

		// NOTE: current on top, z-index changed first, opacity tx in current image
		visibility: hidden;
		opacity: 0;
		z-index: 0;
		transition: tx(visibility, 3, 0, step-end), tx(opacity, 3, 0, step-end);
		&.current {
			visibility: visible;
			opacity: 1;
			z-index: 1;
			transition: tx(opacity, 1.5, 0.5);
		}

		&.error {
			// background-image: image-url("bg-missing-media.svg");
			// background-image: base64-encode("bg-missing-media.svg");
			// background-color: transparent !important;
		}
		&.error .error-title {
			@include placeholder_label;
		}
	}
	.playback-error .sequence-step:not(.current) {
		transition: tx(visibility, 3, 0, step-end), tx(opacity, 1.5, 0.5);
	}


	// .media-border
	// - - - - - - - - - - - - - - - - -
	.media-border {
		transition: tx(opacity, 1.5, 0.5);
		opacity: 1;
	}
	.playback-error .media-border {
		opacity: 0;
	}

	// .overlay
	// - - - - - - - - - - - - - - - - -
	.overlay {
		z-index: 2;
	}
}
