// -----------------------------------
// .playable-renderer
// -----------------------------------

.playable-renderer {
	.media-size,
	.content-size {
		position: absolute;
		display: inline-block;
	}
	.content-size {
		width: 100%; height: 100%;
		top: 0; left: 0;
	}
}

// -----------------------------------
// .playable-renderer .overlay
// -----------------------------------

// .overlay visibility
// - - - - - - - - - - - - - - - - -
.playable-renderer .overlay {
	visibility: hidden;
	opacity: 0;
}
.carousel.scrolling .playable-renderer .overlay {
	transition-property: visibility, opacity;
	transition-timing-function: step-end;
	transition-duration: $duration * 3;
}
.carousel:not(.scrolling) .playable-renderer.selected .overlay {
	visibility: visible;
	opacity: 1;
	transition-property: visibility, opacity;
	transition-timing-function: step-start, $ease;
	transition-duration: $duration;
}

// .overlay .play-toggle
// - - - - - - - - - - - - - - - - -
.playable-renderer {
	$symbol-class: ".play-toggle";
	// layout
	.play-toggle {
		background-size: 3rem 3rem;
		background-position: bottom left;
		background-repeat: no-repeat;
	}
	// .pending-user-play .play-toggle {
	.not-played .play-toggle {
		background-size: 6rem 6rem;
		background-position: center;
	}
	// content
	&, .pending-user-play, .pending-user-resume { 
		.play-toggle { background-image: base64_encode("symbols/playback-play.svg"); }
		.over-dark .play-toggle { background-image: base64_encode("symbols/playback-play-dark.svg"); }
	}
	.pending-user-replay {
		.play-toggle { background-image: base64_encode("symbols/playback-replay.svg"); }
		.over-dark .play-toggle { background-image: base64_encode("symbols/playback-replay-dark.svg");}
	}
	.pending-network {
		.play-toggle { background-image: base64_encode("symbols/playback-wait.svg");}
		.over-dark .play-toggle { background-image: base64_encode("symbols/playback-wait-dark.svg");}
	}
	.pending-media {
		.play-toggle {background-image: none;}
		.over-dark .play-toggle { background-image: none;}
	}
	// visibility
	.play-toggle {
		opacity: 1;
		visibility: visible;
	}
	&.selected .play-toggle {
		transition-property: visibility, opacity;
		transition-timing-function: step-start, $ease;
		transition-duration: $duration;
		// transition:
		// 	opacity $duration $ease 0.001s,
		// 	visibility $duration step-start 0.001s;
	}
	// hit-area
	.play-toggle-hitarea {
		$size: 50%;//12em; 
		display: block;
		position: absolute;
		// width: $size; height: $size;
		// left: calc(50% - #{$size/2}); top: calc(50% - #{$size/2}); 
		// margin-left: $size/2; margin-top: $size/2;
		width: auto; height: auto;
		top: 1em; bottom: 1em; left: 1em; right: 1em;
		cursor: pointer;
	}
	// :not(.pending-media) .play-toggle-hitarea {
	// 	background-color: rgba(255,0,255,0.2);
	// }
}

// - - - - - - - - - - - - - - - - - -
//  .playable-renderer .controls
// - - - - - - - - - - - - - - - - - -
.playable-renderer {
	.controls {
		position: absolute;
		// top: 100%;
		// right: 0;
		// height: 4.5rem;
	}
	// .control-box
	// - - - - - - - - - - - - - - - - -
	.control-box {
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		// align-items: center;
		
		& > * {
			-webkit-flex: 0 1 auto;
			-ms-flex: 0 1 auto;
			flex: 0 1 auto;
			padding: 0.5rem;
			align-self: center;
		}
	}
	.top-bar, .bottom-bar {
		position: absolute;
		width: calc(100% + 1rem); height: auto;
		margin: 1rem -0.5rem;
	}
	.bottom-bar {
		top: 100%;
		justify-content: space-between;
	}
	.top-bar {
		bottom: 100%;// top: -3.5rem;
		justify-content: flex-end;
	}
}

@include media(desktop-small) {
	.playable-renderer {
		// .progress-meter {
		// 	top: 0; right: -$hu*2;
		// 	// &.dev { transform: translate(0, -3rem); }
		// }
		.top-bar.control-box {
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			justify-content: flex-start;
			top: 0; left: 100%; 
			width: auto; height: calc(100% + 1rem);
			margin: -0.5rem 1rem;
		}
	}
}

// - - - - - - - - - - - - - - - - - -
//  .playable-renderer children
// - - - - - - - - - - - - - - - - - -
.playable-renderer {
	// .timeline | .timecode
	// - - - - - - - - - - - - - - - - -
	.timecode {
		font-size: 85%;
		letter-spacing: 1px;
		font-variant-numeric: tabular-nums;
	}
	.control-box {
		& > .timeline {
			-webkit-flex: 1 0 auto;
			flex: 1 0 auto;
		}
		// & > .svg-progress-meter {}
	}
	
	// .fullscreen-toggle
	// - - - - - - - - - - - - - - - - -
	.fullscreen-toggle {
		line-height: 0;
		cursor: pointer;
		svg {
			width: 1em;
			height: 1em;
		}
	}
	
	// .progress-meter
	// - - - - - - - - - - - - - - - - -
	.progress-meter {
		width: 2.3rem; height: 2.3rem;
		// width: 2.1rem; height: 2.1rem;
		// width: 2.6rem; height: 2.6rem;
		box-sizing: content-box;
		// font-family: "NumbersClaimcheck";
		// font-family: "FolioClaimcheck-Figures";
		font-family: "FolioFigures-Regular", monospace;
		font-size: normal;
		font-weight: normal;
	}
	.canvas-progress-meter {
		overflow: hidden;
		font-size: 80%;
	}
	.svg-progress-meter {
		svg {
			width: 100%;
			height: 100%;
			display: block;
			// overflow: hidden;
			// border-radius: 100%;
		}
		
		#label {
			font-size: 166%;
			// dominant-baseline: central;
			// dominant-baseline: alphabetic;
			// text-anchor: middle;
		}
		// #value-label {
		// 	font-size: 100%;
		// }
		// #symbol-label {
		// 	// font-size: 80%;
		// 	// font-family: "Knockout-HTF29-JuniorLiteweight";
		// }
		// #amount, #steps { stroke: currentColor; }
		// #steps-track {} #steps {} #amount {} #step-label {} #pause-symbol{}
	}
	
	// .progress-meter per-renderer adjustments
	// - - - - - - - - - - - - - - - - -
	&.sequence-renderer {
		// .progress-meter { width: 2.5rem; height: 2.5rem; }
		// .canvas-progress-meter { font-size: 80%; }
		// .svg-progress-meter {
		// 	#label {
		// 		font-size: 150%;
		// 	}
		// }
	}
	// &.video-renderer {
	// 	.progress-meter { width: 2.3rem; height: 2.3rem; }
	// 	.canvas-progress-meter { font-size: 90%; }
	// 	.svg-progress-meter {
	// 		#label {
	// 			font-size: 133%;
	// 			// 	transform: scale(0.7);
	// 		}
	// 	}
	// }
	
}

// -----------------------------------
// VideoRenderer
// -----------------------------------
.video-renderer {
	.crop-box {
		overflow: hidden;
		video, .poster {
			position: absolute;
			// top: -1px;
			margin-top: -1px;
			// margin-bottom: -1px;
			// left: 0;
			// border-width: 0; margin: 0; padding: 0;
		}
	}
	.poster {
		visibility: hidden;
	}
	.not-played .poster {
		visibility: visible;
	}
}

// -----------------------------------
// SequenceRenderer
// -----------------------------------
.sequence-renderer {
	.sequence {
	// 	position: absolute;
	// 	width: 100%; height: 100%;
		border-radius: inherit;
		overflow: hidden;
	}
	.sequence-step {
		position: absolute;
		top: 0; left: 0;
		width: 100%; height: 100%;
		
		z-index: 0;
		opacity: 0;
		visibility: hidden;
		transition: 
			visibility $duration*3 step-end,
			opacity $duration*3 step-end;
		&.current {
			z-index: 1;
			opacity: 1;
			visibility: visible;
			transition: 
				// visibility $duration * 2 step-start,
				opacity $duration * 1.5 $ease $duration * 0.5;
		}
	}
	.overlay {
		z-index: 2;
	}
}
