// -----------------------------------
// .media-item
// -----------------------------------
.media-item {
	img {
		// object-fit: cover;
		// object-fit: contain;
		&:focus {
			outline: 0 none;
		}
	}
	.sizing {
		position: relative;
		height: 100%;
		box-sizing: border-box;
	}
	.content {
		position: absolute;
		box-sizing: content-box;
		// *** "mutable" properties: must be in the first matching rule
		// border: 0 none;
		// background-color: $background_color;
		// box-shadow: 0 1rem 1rem -0.5rem rgba(0,0,0,0.5);
	}
	.placeholder {
		overflow: hidden;
		// *** "mutable" properties: must be in the first matching rule
		// color: $background_color;
		// background-color: mix($color, $background_color, 7%);
		// border: 1px solid transparent;
		// text-shadow: rgba(0,0,0,0.25) 1px 1px 0;
	}

	.content {
		opacity: 0;
	}
	&.error,
	&.idle {
		.content {
			visibility: hidden;
		}
	}
	&.candidate,
	&.selected,
	.empty-item.selected + & {
		&.ready .content {
			opacity: 1;
			@at-root .carousel.disabled & {
				opacity: 0;
			}
		}
	}

	// .placeholder:before
	// - - - - - - - - - - - - - - - - -
	.placeholder:before {
		font-size: 9rem;
		font-weight: bold;
		line-height: 0.9;
		letter-spacing: -0.01em;
		padding: 3rem;
		position: absolute;
		top: 0;
		left: 0;
	}
	&.pending,
	&.ready {
		.placeholder:before {
			font: 300 12rem/0.9 "FolioFigures", $mono_font;
			letter-spacing: -0.05em;
		}
	}
	.placeholder:before {
		transition: tx(opacity, 1, 1); //$duration $ease $delay + 0.001s;
		opacity: 0;
	}
	&.candidate,
	&.selected,
	.empty-item.selected + & {
		&.pending .placeholder:before {
			opacity: 1;
		}
		&.error .placeholder:before {
			opacity: 1;
		}
	}

	.placeholder:before {
		content: "";
	}
	&.idle .placeholder:before {
		content: "Waiting";
	}
	&.error .placeholder:before {
		content: "Error"; //"☹"
	}
	&.pending .placeholder:before {
		content: "00%";
	}
	&.ready .placeholder:before {
		content: "99%";
	}
	&.candidate,
	&.selected,
	.empty-item.selected + & {
		&.pending .placeholder[data-progress]:before {
			content: attr(data-progress) "%";
			// font-style: normal;
		}
	}
	/*
%
PERCENT SIGN
Unicode: U+0025, UTF-8: 25
﹪
SMALL PERCENT SIGN
Unicode: U+FE6A, UTF-8: EF B9 AA
％
FULLWIDTH PERCENT SIGN
Unicode: U+FF05, UTF-8: EF BC 85
☹
WHITE FROWNING FACE
Unicode: U+2639, UTF-8: E2 98 B9
*/
}

// -----------------------------------
// Mockups
// -----------------------------------

// .browser
// - - - - - - - - - - - - - - - - - -
// $browser_height: 2rem;
$browser_height: 30px;

.media-item {
	.placeholder {
		color: $background_color;
		background-color: mix($color, $background_color, 7%);
	}
	.media-border {
		border: 0 none;
		box-shadow: 0 1rem 1rem -0.5rem rgba(0,0,0,0.5);
		// background-color: $background_color;
	}
	&.browser-generic,
	&.browser-generic-dark,
	&.browser-safari {
		.content,
		.media-border {
			padding-top: $browser_height;
		}
		.media-border,
		.placeholder {
			border-radius: #{$browser_height * 0.1} #{$browser_height * 0.1} 0 0;
		}
		.media-border {
			background-origin: border-box;
			background-size: 100% $browser_height;
			background-position: top;
			background-repeat: no-repeat;
			box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 0 1rem 1rem -0.5rem rgba(0,0,0,0.5);
		}
		.media-border img {
			border-radius: 0 0 0 0;
		}
	}
	&.browser-safari .media-border {
		background-image: image-url("mockup/browser-safari.svg");
	}
	&.browser-generic .media-border {
		background-image: image-url("mockup/browser-generic.svg");
	}
	&.browser-generic-dark .media-border {
		background-image: image-url("mockup/browser-generic-dark.svg");
	}
}

// TEMP
// - - - - - - - - - - - - - - - - - -
.media-item {
	.error-message {
		position: absolute;
		bottom: 0;
		padding: 3rem;
		visibility: hidden;
	}
	:not(.panning) &,
	:not(.scrolling) & {
		&.selected .error-message {
			visibility: visible;
		}
	}
}
