// -----------------------------------
// Filterable
// -----------------------------------

// - - - - - - - - - - - - - - - - - -
// Filterable
// - - - - - - - - - - - - - - - - - -
.list {
	position: relative;
	.list-item, .list-group {
		// position: static;
		position: absolute;
		display: block;
		top: 0; left: 0;
		transform: translate3d(0,0,0);
		transform-style: preserve-3d;
	}
}

#bundle-list {
	.list-item {
		visibility: visible;
		opacity: 1;
//		max-height: 1.5em;
	}
	&.collapsed {
		.list-item {
			max-height: 0;// watch out!!!
		}
		.list-item:not(.selected) {
			visibility: hidden;
			opacity: 0;
			// max-height: 0;
		}
		// .list-item.selected {
		// 	visibility: visible;
		// 	opacity: 1;
		// 	max-height: 1.5em;
		// }
	}
}
#bundle-list {
	.list-item {
		// wait, expand, fadein
		@extend %changing-list;
	}
	&.collapsed {
		.list-item:not(.selected) {
			// fadeout, collapse, wait
			@extend %changing-list-excluded;
		}
	}
	&.skip-transitions {
		.list-group, .list-item {
			&, * {
				@include skip_transitions;
			}
		}
	}
}

// - - - - - - - - - - - - - - - - - -
// Grouped
// - - - - - - - - - - - - - - - - - -
#keyword-list {
	.list-item, .list-group {
		visibility: visible;
		opacity: 1;
		height: auto;
	}
	&.collapsed {
		.list-item.excluded, .list-group.excluded {
			visibility: hidden;
			opacity: 0;
			height: 0;
		}
	}
}

#keyword-list  {
	.list-group, .list-item {
		// wait, expand, fadein
		@extend %changing-list;
	}
	&.collapsed {
		.list-group.excluded, .list-item.excluded {
			// fadeout, collapse, wait
			@extend %changing-list-excluded;
		}
	}
	&.collapsed-changed.collapsed {
		.list-group, .list-item {
			&, &.excluded {
				@extend %entering-list;
			}
		}
	}
	&.skip-transitions {
		.list-group, .list-item {
			&, * {
				@include skip_transitions;
			}
		}
	}
}

// .skip-transitions {
// 	#bundle-list, #keyword-list {
// 		&:not(.collapsed), &.collapsed, &.entering.collapsed {
// 			.list-group, .list-item {
// 				// @include skip_transitions;
// 				&, * {
// 					@include skip_transitions;
// 				}
// 			}
// 		}
// 	}
// }
