
// ///////////////////////////////////
// FilterableListView
// GroupingListView
// ///////////////////////////////////

@import "includes/transitions";

// -----------------------------------
// Definitions
// -----------------------------------

%wait-move-fadein {
	// wait, expand, fadein (3 steps)
	transition: tx(visibility, 3, 0, step-start), tx(opacity, 1, 2), tx(transform, 1, 1);
}
%fadeout-move-wait {
	// fadeout, collapse, wait (3 steps)
	transition: tx(visibility, 3, 0, step-end), tx(opacity, 1, 0), tx(transform, 1, 1, step-end);
}
%move-fadein {
	// expand, fadein (2 steps)
	transition: tx(visibility, 2, 0, step-start), tx(opacity, 1, 1), tx(transform, 1, 0);
}
%fadeout-move {
	// fadeout, collapse (2 steps)
	transition: tx(visibility, 2, 0, step-end), tx(opacity, 1, 0), tx(transform, 1, 1);
}
%skip-fade-move {
	transition: tx(all, 0, 0, none) !important;
}

// -----------------------------------
// common
// -----------------------------------

.list {
	position: relative;
	.list-group, .list-item {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		transform: move(0,0);
		// transform-style: preserve-3d;
	}
}
.skip-transitions {
	&.grouped .list-group,
	&.list .list-item {
		@extend %skip-fade-move;
		// @include skip_transitions;
	}
}

// #bundle-list (FilterableListView)
// ===================================
#bundle-list {
	.list-item {
		visibility: visible;
		opacity: 1;
	}
	&.collapsed {
		.list-item:not(.selected) {
			visibility: hidden;
			opacity: 0;
		}
	}
}

// #keyword-list (GroupingListView)
// ===================================
#keyword-list {
	.list-group,
	.list-item {
		visibility: visible;
		opacity: 1;
	}
	&.collapsed {
		&:not(.has-excluded) .list-group,
		&:not(.has-excluded) .list-item,
		.list-group.excluded,
		.list-item.excluded {
			visibility: hidden;
			opacity: 0;
		}
	}
}

// #bundle-list (FilterableListView)
// ===================================
#bundle-list:not(.skip-transitions) {
	.list-item {
		@extend %wait-move-fadein;
	}
	&.collapsed {
		.list-item:not(.selected) {
			@extend %fadeout-move-wait;
		}
	}
}

// #keyword-list (GroupingListView)
// ===================================
#keyword-list:not(.skip-transitions) {
	.list-group,
	.list-item {
		@extend %wait-move-fadein;
	}
	&.collapsed {
		.list-group,
		.list-item {
			&.excluded {
				@extend %fadeout-move-wait;
			}
		}
	}
	&.collapsed:not(.has-excluded) {
		.list-group,
		.list-item {
			&.excluded {
				@extend %fadeout-move-wait;
			}
		}
	}
}
