// -----------------------------------
// Filterable
// -----------------------------------

// - - - - - - - - - - - - - - - - - -
// .list-item common
// - - - - - - - - - - - - - - - - - -
.list {
	position: relative;
	.list-item, .list-group {
		// position: static;
		position: absolute;
		display: block;
		top: 0; left: 0;
		transform: translate3d(0,0,0);
		transform-style: preserve-3d;
	}
}
// #bundle-list (FilterableListView)
// - - - - - - - - - - - - - - - - - -
#bundle-list {
	.list-item {
		visibility: visible;
		opacity: 1;
		// max-height: 1.5em;
	}
	&.collapsed {
		.list-item {
			max-height: 0;// watch out!!!
		}
		.list-item:not(.selected) {
			visibility: hidden;
			opacity: 0;
			// max-height: 0;
		}
		// .list-item.selected {
		// 	visibility: visible;
		// 	opacity: 1;
		// 	max-height: 1.5em;
		// }
	}
}
// #keyword-list (GroupingListView)
// - - - - - - - - - - - - - - - - - -
#keyword-list {
	.list-item, .list-group {
		visibility: visible;
		opacity: 1;
		height: auto;
	}
	&.collapsed {
		.list-item.excluded, .list-group.excluded {
			visibility: hidden;
			opacity: 0;
			height: 0;
		}
	}
}

// -----------------------------------
// Transitions
// -----------------------------------
%wait-move-fadein {
	// wait, expand, fadein (3 steps)
	transition:
		tx(visibility, 1, 2, step-start),
		tx(opacity, 1, 2),
		tx(transform, 1, 1);
}
%fadeout-move-wait {
	// fadeout, collapse, wait (3 steps)
	transition:
		tx(visibility, 1, 0, step-end),
		tx(opacity, 1, 0),
		tx(transform, 1, 1, step-end);
}
%move-fadein {
	// expand, fadein (2 steps)
	transition:
		tx(visibility, 2, 1, step-start),
		tx(opacity, 1, 1),
		tx(transform, 1, 0);
}
%fadeout-move {
	// fadeout, collapse (2 steps)
	transition:
		tx(visibility, 2, 1, step-end),
		tx(opacity, 1, 0),
		tx(transform, 1, 1);
}

#bundle-list {
	.list-item {
		// background-color: transparentize(blue, 0.75);
		// wait, expand, fadein (3 steps)
		@extend %wait-move-fadein;
	}
	&.collapsed {
		.list-item:not(.selected) {
			// background-color: transparentize(green, 0.75);
			// fadeout, collapse, wait (3 steps)
			@extend %fadeout-move-wait;
		}
	}
	&.collapsed-changed {
		// &:not(.collapsed) {
			// .list-item {
				// &, &.excluded {
					// background-color: transparentize(green, 0.75);
					// @extend %move-fadein;
				// }
			// }
		// }
		&.collapsed {
			.list-item {
				// &, &.excluded {
					// background-color: transparentize(blue, 0.75);
					@extend %fadeout-move;
				// }
			}
		}
	}
	&.skip-transitions {
		.list-item {
			&, * {
				@include skip_transitions;
			}
		}
	}
}

// - - - - - - - - - - - - - - - - - -
// GroupingListView
// - - - - - - - - - - - - - - - - - -

#keyword-list  {
	.list-group, .list-item {
		// background-color: transparentize(blue, 0.75);
		// wait, expand, fadein
		@extend %wait-move-fadein;
	}
	&.collapsed {
		.list-group, .list-item {
			&.excluded {
				// background-color: transparentize(green, 0.75);
				// fadeout, collapse, wait
				@extend %fadeout-move-wait;
			}
		}
	}
	&.collapsed-changed {
		// &:not(.collapsed) {
			// .list-group, .list-item {
				// &, &.excluded {
					// background-color: transparentize(green, 0.75);
					// @extend %move-fadein;
				// }
			// }
		// }
		&.collapsed {
			.list-group, .list-item {
				// background-color: transparentize(blue, 0.75);
				// &, &.excluded {
					@extend %fadeout-move;
				// }
			}
		}
	}
	&.skip-transitions {
		.list-group, .list-item {
			&, * {
				@include skip_transitions;
			}
		}
	}
}
 
#keyword-list  {
	.list-item.selected {
		.name {
			text-decoration: underline;
			// background-color: transparentize($link-color, 0.75);
			// border-bottom: 1px solid currentColor;
		}
	}
}
#bundle-list.has-excluded:not(.collapsed) {
	.list-item:not(.excluded) {
		.name {
			text-decoration: underline;
			// background-color: transparentize($link-color, 0.75);
			// border-bottom: 1px solid currentColor;
		}
	}
}


// Transitions
// - - - - - - - - - - - - - - - - - -
// $collapse_ease: $ease;
// //$collapse_ease: ease-out;
// 
// %wait-move-fadein {
// 	// wait, expand, fadein
// 	// transition-property: visibility, opacity, transform;
// 	// transition-timing-function: step-start, $collapse_ease, $collapse_ease;
// 	/* bundle-style */
// 	// transition-duration: $delay * 2 + $duration - 0.001s, $duration - 0.001s, $duration - 0.001s;
// 	// transition-delay: $delay * 0 + 0.001s, $delay * 2 + 0.001s, $delay * 1 + 0.001s;
// 	/* keyword-style */
// 	transition-duration: $duration - 0.001s, $duration - 0.001s, $duration - 0.001s;
// 	transition-delay: $delay * 2 + 0.001s, $delay * 2 + 0.001s, $delay * 1 + 0.001s;
// }
// %wait-move-fadein-excluded {
// 	// fadeout, collapse, wait
// 	// transition-timing-function: step-end, $collapse_ease, $collapse_ease;
// 	transition-timing-function: step-end, $collapse_ease, step-end;
// 	transition-delay: 0s + 0.001s, 0s + 0.001s, $delay * 1 + 0.001s;
// }
// %wait-move-fadein-shorthand {
// 	transition:
// 		visibility ($duration - 0.001s) step-start ($delay*2 + 0.001s),
// 		opacity ($duration - 0.001s) $collapse_ease ($delay*2 + 0.001s),
// 		transform ($duration - 0.001s) $collapse_ease ($delay*1 + 0.001s);
// }
// %wait-move-fadein-excluded-shorthand {
// 	transition:
// 		visibility ($duration*1 - 0.001s) step-end ($delay*0 + 0.001s) ,
// 		opacity ($duration*1 - 0.001s) $collapse_ease ($delay*0 + 0.001s),
// 		transform ($duration*1 - 0.001s) $collapse_ease ($delay*1 + 0.001s);
// }
// &.collapsed-changed {
// 	.list-group, .list-item {
// 		transition-delay: $delay * 1 + 0.001s, $delay * 1 + 0.001s, $delay * 0 + 0.001s;
// 	}
// }
// %collapsed-changed {
// 	transition-duration: $duration - 0.001s, $duration - 0.001s, $duration - 0.001s;
// 	transition-delay: 0s + 0.001s, 0s + 0.001s, $delay * 1 + 0.001s;
// }
