// @import "includes/_icons";

.pager.folio {
	display: inline-block;
	.button {
		@include small_caps();
		@include font_smoothing();
		@include user_select(none);
		display: inline-block;
		box-sizing: border-box;
		white-space: nowrap;
		cursor: pointer;
		margin-left: 2em;
		&:first-child {
			margin-left: 0;
		}
	}
	.following-button {
		margin-left: 2em;
	}
	.preceding-button:before {
		content: '\e807';
		@include fontello_icon_before();
	}
	.following-button:after {
		content: '\e808';
		@include fontello_icon_after();
	}
}
