// Bulleted text-list-style
.pager.fontello {
	.button {
		font-weight: 600;
		font-size: 115%;
		line-height: 2rem;
	}
	.button,
	.button:link,
	.button:visited {
		color: $color;
	}
	.button:hover {
		color: $link-hover-color;
	}
	.button:active {
		color: $link-down-color;
	}
	// circled icons
	.button:before {
		font-size: 95%;
		@include fontello-icon-before();
	}
	.preceding-button:before {
		content: '\e807';
	}
	.following-button:before {
		content: '\e808';
	}
	.close-button:before {
		content: '\e806';
	}
}
