.text-pager {
	font-size: 150%;
	line-height: 2;

	.button {
		display: block;
		position: relative;
		margin-left: -0.5em;
		padding-left: 2.0em;
		padding-right: 0.5em;
	}
	.button:hover {
		color: white;
		background-color: $link_color;
	}
	.button:active {
		background-color: white;
		color: $link_color;
	}
	.button::before {
		text-align: center;
		display: block;
		position: absolute;
		left: 0.5em;
		width: 1em;
	}
	.preceding-button::before {
		content: "\2190";
	}
	.following-button::before {
		content: "\2192";
	}
	.close-button::before {
		content: "\2715";
	}
}
