// @import "includes/_icons";

// Bulleted text-list-style
.pager.fontello {
	.button {
		font-weight: 600;
		font-size: 115%;
		line-height: 2rem;
	}
	.button,
	.button:link,
	.button:visited {
		color: $color;
	}
	.button:hover {
		color: $link_hover_color;
	}
	.button:active {
		color: $link_down_color;
	}
	// circled icons
	.button:before {
		font-size: 95%;
		@include fontello_icon_before();
	}
	.preceding-button:before {
		content: '\e807';
	}
	.following-button:before {
		content: '\e808';
	}
	.close-button:before {
		content: '\e806';
	}
}
