.dots-fontface .list-item {
	// @include font_smoothing();
	display: inline-block;
	position: static;
	line-height: 1;
	padding: 0 0.5rem;

	// hide if there is only one item;
	&:first-child:last-child {
		visibility: hidden;
		width: 0;
		margin: 0;
		padding: 0;
	}

	// font icons
	// ===================================

	& a:before {
		font: 70%/1.5 "FolioFigures", monospace;
		width: 1.5em;
		display: inline-block;
		text-align: center;
	}

	/*
	U+25A4 	SQUARE WITH HORIZONTAL FILL
	U+25CB 	WHITE CIRCLE
	U+25CC 	DOTTED CIRCLE
	U+25CD 	CIRCLE WITH VERTICAL FILL
	U+25CE 	BULLSEYE
	U+25CF 	BLACK CIRCLE
	*/
	& a:before {
		content: "\25CB";
	}
	&.selected a:before {
		content: "\25CF";
	}
	&.empty-item a:before {
		content: "\25A4";
	}

	// show link cursor, except on selected
	@include user_select(none);
	cursor: pointer;

	&.selected, &.selected a {
		cursor: default;
	}

	.label {
		display: none;
	}
	// .label {
	// 	font-weight: 600;
	// 	letter-spacing: 1px;
	// 	text-transform: uppercase;
	// 	white-space: nowrap;
	// 	display: inline-block;
	// 	position: absolute;
	// 	left: 100%; //width: 0;
	// 	transform: translate3d(0,0,0.1px);
	//
	// 	transition: visibility $duration, opacity $duration;
	// 	visibility: hidden;
	// 	opacity: 0;
	// }
	// &:not(.selected):hover .label {
	// 	visibility: visible;
	// 	opacity: 1;
	// }

	// &.selected .label {
	// 	transition: visibility $duration $duration,
	// 				opacity $duration $duration;
	// 	visibility: visible;
	// 	opacity: 1;
	// }

	// .label.tooltip {
	// 	position: absolute;
	// 	top: -1.5em;
	// 	// transform: translate(-50%, 0);
	// 	display: block;
	// 	left: 0; right: 0;
	// 	text-align: center;
	// }
}
