.dots-border.selectable .list-item,
.dots-border.list-item {
	@include user-select(none);
	cursor: pointer;
	display: inline-block;
	text-align: center;
	margin-right: 0.5rem;
	width: 1.5rem; height: 1.5rem;
	&:first-child { margin-left: -0.5rem; }
	&:last-child { margin-right: -0.5rem; padding-right: 0; }
	a {
		position: relative; display: inline-block;
		overflow: hidden; color: transparent;//line-height: 0; font-size: 0;
		top: 0; width: 7px; height: 7px; border-radius: 7px;
		background-color: $color;
	}
	a:hover {
		top: 1px; width: 9px; height: 9px; border-radius: 9px;
	}
	a:active {
		top: 1px; width: 5px; height: 5px; border-radius: 5px;
		border: 2px solid $color;
		background-color: transparent;
	}
	&.selected a {
		top: 0; width: 5px; height: 5px; border-radius: 5px;
		border: 1px solid $color;
		background-color: transparent;
	}
}
