.selectable.dots-fontello {
	user-select: none;
	.list-item {
		display: inline-block;
		text-align: center;
		padding-right: 0.5rem;
		width: 1.5rem; height: 1.5rem;
		&:first-child { margin-left: -0.25rem; }
		&:last-child { margin-right: -0.25rem; padding-right: 0; }

		a { color: inherit; }
		// label visible on hover
		a { visibility: hidden; }
		&:hover a { visibility: visible; }
 		// show link cursor, except on selected
		cursor: pointer;
		&.selected, &.selected a { cursor: default; }

		&:after {
			@include fontello-icon-base;
			visibility: visible;
		}
		&:after 					{ content: '\e80c'; }
		// &:link:after				{ content: '\e80c'; }
		// &:visited:after			{ content: '\e80c'; }
		&:hover:after				{ content: '\e801'; }
		// &:active:after				{ content: '\e803'; }

		&.selected:after			{ content: '\e80b'; }
		&.selected:hover:after		{ content: '\e80b'; }
	}
}

// .icon-dot-filled:before { content: '\e801'; }
// .icon-dot-empty:before { content: '\e802'; }
// .icon-dot-thin:before { content: '\e803'; }
// .icon-dot-circled:before { content: '\e804'; }
// .icon-small-dot-empty:before { content: '\e80b'; }
// .icon-small-dot-filled:before { content: '\e80c'; }

// .icon-left-small:before { content: '\e807'; }
// .icon-right-small:before { content: '\e808'; }
// .icon-up-small:before { content: '\e809'; }
// .icon-down-small:before { content: '\e80a'; }

// .icon-cancel-circled:before { content: '\e806'; }
// .icon-spinner:before { content: '\e800'; }
