.list-item.image-symbol {
	font-size: 90%;
	line-height: 1.5rem;
	vertical-align: text-top;

	display: inline-block;
	overflow: hidden;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	margin: 0 0.25rem auto;
	cursor: pointer;
}
