// -----------------------------------
// .stack
// -----------------------------------

.stack {
	& > .stack-item {
		display: block;
		position: absolute;
		top: 0; left: 0;
		
		transition: tx(opacity, 1, 0);
		opacity: 0;
		&.current {
			opacity: 1;
		}
	}
	&.skip-transitions > .stack-item {
		&, &.current {
			@include skip_transitions;
			// transition: none 0s ease 0s;
		}
	}
}

// .container-expanded .stack > .stack-item { 
// 	opacity: 0 !important;
// }
// .container-collapsed.container-changing .stack > .stack-item { 
// 	transition: tx(opacity, 1, 2);
// }
