// -----------------------------------
// .stack
// -----------------------------------

.stack {
	& > .stack-item {
		display: block;
		position: absolute;
		top: 0; left: 0;
		
		transition: tx(opacity, 1, 0);
		opacity: 0;
		&.current {
			opacity: 1;
		}
	}
	&.skip-transitions > .stack-item {
		&, &.current {
			@include skip_transitions;
			// transition: none 0s ease 0s;
		}
	}
}
