@font-face {
    font-family: "ITCFranklinGothicStd-Compressed";
    src: url("../fonts/franklin-gothic-itc-cp/ITCFranklinGothicStd-BkCp.eot");
    src: url("../fonts/franklin-gothic-itc-cp/ITCFranklinGothicStd-BkCp.eot?#iefix") format("embedded-opentype"),
         url("../fonts/franklin-gothic-itc-cp/ITCFranklinGothicStd-BkCp.woff") format("woff"),
         url("../fonts/franklin-gothic-itc-cp/ITCFranklinGothicStd-BkCp.ttf") format("truetype"),
         url("../fonts/franklin-gothic-itc-cp/ITCFranklinGothicStd-BkCp.svg#ITCFranklinGothicStd-Compressed") format("svg");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "ITCFranklinGothicStd-Compressed";
    src: url("../fonts/franklin-gothic-itc-cp/ITCFranklinGothicStd-BkCpIt.eot");
    src: url("../fonts/franklin-gothic-itc-cp/ITCFranklinGothicStd-BkCpIt.eot?#iefix") format("embedded-opentype"),
         url("../fonts/franklin-gothic-itc-cp/ITCFranklinGothicStd-BkCpIt.woff") format("woff"),
         url("../fonts/franklin-gothic-itc-cp/ITCFranklinGothicStd-BkCpIt.ttf") format("truetype"),
         url("../fonts/franklin-gothic-itc-cp/ITCFranklinGothicStd-BkCpIt.svg#ITCFranklinGothicStd-Compressed") format("svg");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "ITCFranklinGothicStd-Compressed";
    src: url("../fonts/franklin-gothic-itc-cp/ITCFranklinGothicStd-DmCp.eot");
    src: url("../fonts/franklin-gothic-itc-cp/ITCFranklinGothicStd-DmCp.eot?#iefix") format("embedded-opentype"),
         url("../fonts/franklin-gothic-itc-cp/ITCFranklinGothicStd-DmCp.woff") format("woff"),
         url("../fonts/franklin-gothic-itc-cp/ITCFranklinGothicStd-DmCp.ttf") format("truetype"),
         url("../fonts/franklin-gothic-itc-cp/ITCFranklinGothicStd-DmCp.svg#ITCFranklinGothicStd-Compressed") format("svg");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "ITCFranklinGothicStd-Compressed";
    src: url("../fonts/franklin-gothic-itc-cp/ITCFranklinGothicStd-DmCpIt.eot");
    src: url("../fonts/franklin-gothic-itc-cp/ITCFranklinGothicStd-DmCpIt.eot?#iefix") format("embedded-opentype"),
         url("../fonts/franklin-gothic-itc-cp/ITCFranklinGothicStd-DmCpIt.woff") format("woff"),
         url("../fonts/franklin-gothic-itc-cp/ITCFranklinGothicStd-DmCpIt.ttf") format("truetype"),
         url("../fonts/franklin-gothic-itc-cp/ITCFranklinGothicStd-DmCpIt.svg#ITCFranklinGothicStd-Compressed") format("svg");
    font-weight: 600;
    font-style: italic;
}