.sc {
	@include font-smoothing();
	@include small-caps();
}

/* ---------------------- *
 * View inner elements
 * ---------------------- */
#bundle-detail {
	.name {
		display: none;
	}
	.completed {
		display: none;
	}
	.description {
		p {
			@include text-rendering-legibility;
			@include font-smoothing;
//			font-family: $large-font-family;
			font-size: 1.5rem;
			font-weight: normal;
			// font-style: italic;
			letter-spacing: -0.05em;
			line-height: 1.5rem;
		}
	}
}

#image-detail.item-detail {
	.description {
		p {
			margin-bottom: 0;
		}
	}
}

#footer {
	// color: lighten($color, 35%);
	opacity: 0.65;
	.copyright, {
		padding-top: 3em;
		margin-top: 0;
	}
	a {
		color: inherit;
		&:hover {
			text-decoration: underline;
		}
	}
}
