#content {
	position: relative;
//	margin: -1.5rem 0;
//	padding: 1.75rem 0;
}

/* ---------------------- *
 * Carousel
 * ---------------------- */

/* carousel layout */
.carousel {
	overflow: hidden;
	position: relative;
	width: 100%;
	min-width: $page-width;
//	height: 100%;
//	margin: -1.5rem 0;
	padding: 1.75rem 0;
//	top: 1.75rem;
}
.image-item {
	position: absolute;
	width: $page-width;
	left: calc(50% - #{$page-width/2});
	height: calc(100% - 3rem);
	@media only screen and (min-width: $breakpoint-large) {
		width: $page-width-large;
		left: calc(50% - #{$page-width-large/2});
	}
}


/* ---------------------- *
 * Other content views
 * ---------------------- */

#content-detail {
	position: absolute;
	left: 0; right: 0;
	height: 100%;
}

.images-pager {
    top: -1.5rem;
    height: 1.5rem;
//	margin-top: -3rem;
	position: absolute;
    display: inline-block;
}

#bundle-detail {
	display: none;
	@media only screen and (min-width: $breakpoint-large) {
		display: block;
		float: right;
		margin-top: 1.5rem;
		box-sizing: border-box;
		width: #{$page-width-large - $page-width - $gutter};
	}
}

//#image-detail {
//	display: inline-block;
//	position: relative;
//	transform: translateY(-1.5em);
////	bottom: calc(100% + 1.5rem);
//}

/* ---------------------- *
 * Content inner elements
 * ---------------------- */

.item-detail {
	p {
//		@include paragraph-font($size: 12px, $lead: 15px);
		font-size: 13px;
		line-height: 16px;
		margin-bottom: 1rem;
		margin-top: 0;
	}
}

//#image-detail {
//	p {
//		margin-bottom: 0;
//	}
//}
