// ///////////////////////////////////
// media query : default
// ///////////////////////////////////

// layout variables
// - - - - - - - - - - - - - - - - - -

$hu: 20px;
$m_page_left: $hu;
$m_page_right: $hu;
$m_margin_left: $hu;
$m_margin_right: $hu;
$m_content_left: $hu;
$m_content_right: $hu;

$m_nav_top: 2.5rem;//2.5rem;
$m_nav_height: 22vh;//14rem; //13.5rem;//14.25rem;
// $m_nav_minHeight: 14rem;

$m_page_width: 33 * $hu; //700px;
$m_aside_width: 11 * $hu;
$m_main_width: $m_page_width - $m_aside_width;

$nav_collapse_offset: map-get($temp, collapse_offset) * 1px;

@import "views/default.colors";
@import "views/default.layers";
@import "views/default.mdown";

// ///////////////////////////////////
// Root
// ///////////////////////////////////

html {
	font: 12px/1.5 $base_font;
}

body {
	// line-height: 1.5rem;
	-moz-osx-font-smoothing: grayscale;
}

html {
	position: relative;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: auto;
	overscroll-behavior: none;
}

/*
 * NOTE
 * The scrolling element is BODY, has only one child with relative/static positioning, #container (others are absolute, fixed...).
 */
body {
	position: relative;
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: visible;
	-webkit-overflow-scrolling: auto;
	overscroll-behavior: none;
}

// container navigation content
// - - - - - - - - - - - - - - - - - -

// #container {
	//	position: relative;
	/* allow to grow beyond viewport so that #content can grow too */
	//	min-height: 100%;
	//	width: 100%;
	// 	overflow-x: hidden;
	// 	overflow-y: visible;
// }

#navigation {
	position: relative;
	margin: 0 auto;
	box-sizing: content-box;

	max-width: $m_page_width;
	min-height: $m_nav_height;
	padding-top: $m_nav_top;
	// margin-top: $m_nav_top;
	// max-height: calc(100vh - #{$m_nav_top});
	// overflow-x: hidden;
	// overflow-y: auto;
}
#vpan-group {
	transform: moveY(0);
	// touch-action: none;
	// -webkit-user-drag: none;
	// position: relative;
	// height: inherit;
	// height: 100%;
	// position: absolute;
	// height: calc(100% - #{$m_nav_top});
	// left: 0;
	// right: 0;
 }

#content {
	position: absolute;
	overflow: hidden;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: auto;
	min-height: 100%;
	// margin-top: $m_nav_top;
	padding-top: $m_nav_top;
}

// #content.container-expanded,
// .without-bundle #content{
// 	overflow: visible;
// }

// ///////////////////////////////////
// navigation definitions
// ///////////////////////////////////

// leaf elements
// - - - - - - - - - - - - - - - - - -
%leaf_content {
	box-sizing: border-box;
	padding-left: $m_content_left;
	padding-right: $m_content_right;
	// .label {}
	&, * {
		@include user_select(none);
	}
}

%leaf_content_label {
	@include optical_margins(1rem, 0.08);
}

// block definitions
// - - - - - - - - - - - - - - - - - -
%nav_list {
	position: absolute;
	// will-change: transform;
	display: inline-block;
	@if ($transform_type == "3d") {
		transform-style: preserve-3d;
	}
	// display: block;
	// transform: move();
	// box-sizing: content-box;
}
.skip-transitions %nav_list {
	&, * {
		@include skip_transitions;
	}
}

// ///////////////////////////////////
// navigation children
// ///////////////////////////////////

.transform-wrapper {
	position: absolute;
	will-change: transform;
	display: inline-block;
	// @extend %nav_list;
	// display: block;
	// transform-style: preserve-3d;
}
.skip-transitions .transform-wrapper {
	@include skip_transitions;
}

// Common alignment
// ===================================

#bundle-list, #keyword-list {
	padding-top: $m_nav_height;
	padding-bottom: 1.5rem;
}
.with-article, .with-bundle {
	#bundle-list, #keyword-list {
		padding-top: 1.5rem;
	}
}
.without-bundle.without-article {
	#bundle-list, #keyword-list {
		min-height: 0;
	}
}
#site-name, #about-button {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

// FilterableList
// ===================================
@import "components/filterable";

.list-item {
	@extend %leaf_content;
	white-space: nowrap;
	cursor: pointer;
	a {
		display: inline-block;
		// transition: tx(color, 1, 0);
	}
	.label {
		@extend %leaf_content_label;
		line-height: 0;
		// margin: 0 #{-$hu * 0.75} 0 #{-$hu};
		// padding: 0 #{$hu * 0.75} 0 $hu;
		// display: inline-block;
	}
}
.list-group {
	@extend %leaf_content;
	white-space: nowrap;
	.label {
		@extend %leaf_content_label;
		display: inline-block;
		& > span {
			padding: 0 1ex;
			margin: 0 -1ex;
		}
	}
}

// bundle-list
// ===================================
#bundle-list {
	@extend %char_2_2;
	font-weight: 600;

	@extend %nav_list;
	width: $m_main_width - $m_aside_width;
	min-height: 4.5rem;

	.list-item {
		width: 100%;
		height: 1em;
		.completed {
			display: none;
		}
		em {
			font-style: normal;
			font-weight: 400;
		}
	}
	&.collapsed {
		.list-item {
			a {
				color: inherit;
			}
		}
	}
	&:not(.collapsed) {
		// .list-group,
		.list-item {
			&:not(.selected) a {
				color: inherit;
			}
		}
	}
}
// .with-bundle #bundle-list {
// 	padding-top: 1.5rem;
// }

// bundle-list-wrapper
// - - - - - - - - - - - - - - - - - -
#bundle-list-wrapper {
	left: 0;
	transform: moveX();
}

// keyword-list
// ===================================
#keyword-list {
	font-size: 1.05rem;

	@extend %nav_list;
	width: $m_aside_width;
	// padding-top: $m_nav_height;//#{$m_nav_height - 0.25rem};
	// padding-bottom: 1.5rem;
	.list-item {
		width: 100%;
		// width: $m_aside_width;
		height: 1.5rem;
	}
	.list-group {
		// NOTE: in js, margin-top is ignored when height is zero
		margin-top: 0.5rem;
		white-space: nowrap;
		height: 0;
		/* &:not(.excluded):first-child {
			top: 0;
		} */
		width: $m_aside_width;
		.label {
			@include small_caps($size: 0.85rem, $lead: 0);
			display: inline-block;
			width: $m_aside_width - $hu * 4;
			transform: moveX(-100%);
			box-sizing: border-box;

			// padding: 0 #{0.5*$hu};
			// margin: 0 #{-0.5*$hu};
			// & > span {
			// 	padding: 0.025em 0.35em 0;
			// 	margin: -0.1em 0 0;
			// }
		}
	}
	&:not(.collapsed) {
		.list-item.excluded a {
			color: inherit;
		}
		.list-item.selected a {
			text-decoration: underline;
		}
	}
	@at-root {
		.app-initial &,
		.without-bundle &,
		&.collapsed {
			.list-item a {
				color: inherit;
			}
		}
	}
}
// .with-bundle #keyword-list {
// 	padding-top: 1.5rem;
// }

// keyword-list list-group
// - - - - - - - - - - - - - - - - - -
.without-bundle {
	#bundle-list, #keyword-list {
		// padding-top: 0 !important;
		// padding-bottom: 0;
		// min-height: 0;
		&.collapsed {
			.list-group, .list-item {
				height: 0;
			}
		}
	}
}

// keyword-list-wrapper
// - - - - - - - - - - - - - - - - - -
#keyword-list-wrapper {
	left: $m_main_width;
	transform: moveX();
}

// site-name
// ===================================
#site-name {
	@extend %char_2_2;
	font-weight: 600;
	// @include heading_font(600, 1.9999999rem, 2rem);
	// @include heading_font(600, 1.9999999rem, 1.25); //1.16666666);
	@extend %leaf_content;

	position: absolute;
	display: block;
	top: 0;
	transform: moveX();
	a {
		@extend %leaf_content_label;
		transition: tx(color, 1, 1);
	}
}
// .with-article,
.with-bundle {
	#site-name {
		transform: moveX(-100%);
	}
}

// site-name-wrapper
// - - - - - - - - - - - - - - - - - -
#site-name-wrapper {
	left: 0;
	width: $m_aside_width;
}
// .with-bundle #site-name-wrapper {
// 	transform: moveX(-100%);
// }

// article-list
// ===================================
.article-button {
	@extend %char_2_2;
	// @include heading_font(300, 1.999999999rem, 2rem);
	// @include heading_font(300, 1.9999999rem, 1.25); //1.16666666);
	@extend %leaf_content;

	position: absolute;
	display: block;
	transform: moveX();
	a {
		@extend %leaf_content_label;
		visibility: visible;
		opacity: 1;
		transition: tx(visibility, 3, 0, step-start), tx(opacity, 1, 0), tx(color, 1, 1);
	}
}
.with-bundle .article-button {
	transform: moveX(-100%);
	a {
		visibility: hidden;
		opacity: 0;
		transition: tx(visibility, 3, 0, step-end), tx(opacity, 1, 2), tx(color, 1, 1);
	}
}
// no transition if initial visibility is hidden
.app-initial.with-bundle .article-button {
	a {
		transition: none;
	}
}
.article-button#about-button {
	top: 2rem;
}

// article-list-wrapper (vertical movements)
// - - - - - - - - - - - - - - - - - -
#article-list-wrapper {
	left: 0;
	width: $m_aside_width;
	// transform: moveY(2rem);
}
// .with-article #article-list-wrapper {
// 	transform: move(0, 0);
// }

// nav-graph
// ===================================
#nav-graph {
	// @extend %nav_list;
	// box-sizing: border-box;
	position: absolute;
	box-sizing: content-box;
	width: $m_page_width;
	height: auto;
	top: 0;
	bottom: 0;
	padding: 0;

	opacity: 0;
	visibility: hidden;
	transition: tx(opacity, 1, 0),
		tx(visibility, 1, 0, step-start);

	@at-root {
		.container-collapsed & {
			opacity: 0;
			visibility: hidden;
		}
		.container-expanded:not(.container-changing) & {
			opacity: 1;
			visibility: visible;
		}
		.container-expanded.container-changing & {
			transition: tx(opacity, 1, 0),
				tx(visibility, 1, 0, step-start);
		}
		.container-collapsed.container-changing & {
			transition: tx(opacity, 1, 0),
				tx(visibility, 1, 0, step-end);
		}
		.skip-transitions & {
			@include skip_transitions;
		}
	}
}

// nav-graph unavailable (bundles<>keywords)
// - - - - - - - - - - - - - - - - - -
.no-canvas {
	// keyword-to-bundles
	// - - - - - - - - - - - - - - - - - -
	.with-bundle #keyword-list:not(.collapsed) .list-item.selected .label {
		text-decoration: underline;
	}
	.with-bundle #bundle-list.has-excluded:not(.collapsed) .list-item:not(.excluded) .label {
		text-decoration: underline;
	}
}

// ///////////////////////////////////
// content
// ///////////////////////////////////

// media-carousel
// ===================================

@import "components/carousel";

.media-carousel {
	position: absolute;
	transform: moveY();
	@at-root .container-expanded & {
		transform: moveY($nav_collapse_offset);
		// transform: moveY(calc(#{$nav_collapse_offset} + 3rem));
	}
}

$m_content_top: 4.5rem;
$m_content_bottom: 4.5rem;

.media-carousel {
	overflow: hidden;
	width: 100%;
	min-width: $m_page_width;

	bottom: 0;
	top: calc(#{$m_nav_top} + #{$m_nav_height});
	// top: $m_nav_top + $m_nav_height;
	height: calc(100%
		- #{$m_nav_top}
		- #{$m_nav_height}
		+ #{$m_content_top}
	);
	$m_carousel_item_height: calc(100%
		- #{$m_content_top}
		- #{$m_content_bottom}
	);

	margin-top: -#{$m_content_top};
	padding-top: $m_content_top;
	padding-bottom: $m_content_bottom;

	.carousel-item {
		// padding-top: 1.5rem;
		// padding-bottom: 1.5rem;
		left: calc(50% - #{$m_page_width/2 + $hu});
		// left: $m_page_left;
		// right: $m_page_right;
		margin-left: $m_margin_left;
		margin-right: $m_margin_right;
		.sizing {
			margin-left: $m_content_left;
			margin-right: $m_content_right;
		}
	}
	.empty-item {
		height: auto;
		max-height: $m_carousel_item_height;
		overflow: visible;
		// FIXME: empty-item narrow px adjust
		// width: $m_page_width/2 + $hu - 9px;
		width: $m_main_width;// - 12px;
	}
	.media-item {
		height: $m_carousel_item_height;
		width: $m_page_width;
	}
	.playable-renderer {
		.controls {
			& > .progress-meter,
			& > .fullscreen-toggle {
				position: absolute;

				left: auto;
				right: 0;
				// margin: 1rem;
				// margin-left: auto;
			}
			& > .progress-meter {
				top: auto;
				bottom: 100%;
				margin: 0 0 1.5rem 0;
				// margin-bottom: 1.5rem;
				// margin-left: 1.5rem;
			}
			& > .fullscreen-toggle {
				top: 100%;
				bottom: auto;
				margin: 1rem 0 0 0;
				// margin-top: 1.5rem;
				// margin-left: 1.5rem;
			}
		}

		&[data-fit-dir="height"] .controls {
			& > .progress-meter,
			& > .fullscreen-toggle {
				left: 100%;
				right: auto;
			}
			& > .progress-meter {
				top: 0;
				bottom: auto;
				margin: 0 0 0 1.5rem;
			}
			& > .fullscreen-toggle {
				top: auto;
				bottom: 0;
				margin: 0 0 0 1rem;
			}
		}

		// &[fitDirection='width'] {
		// 	.controls > .fullscreen-toggle {
		// 	}
		// }

		// .overlay {
		// 	& > .fullscreen-toggle {
		// 		position: absolute;
		// 		bottom: 1rem;
		// 		right: 1rem;
		// 		visibility: hidden;
		// 	}
		// 	&:hover > .fullscreen-toggle {
		// 		visibility: visible;
		// 	}
		// }
	}
}

// carousel leaf elements
// - - - - - - - - - - - - - - - - - -=

// .media-item .sizing {
// 	margin-left: $hu;
// 	margin-right: $hu;
// }
// .empty-item .content > * {
// 	@extend %leaf_content;
// }

// NOTE
// Do not fade-out content when removing carousel:
// set delay longer than `.carousel.removing-child`'s
// fade-out duration.
.carousel.removing-child .carousel-item .content {
	transition: tx(opacity, 0, 5, step-end) !important;
	// transition-delay: $delay * 5 !important;
	// transition-timing-function: step-end !important;
}

// media-caption-stack
// ===================================

@import "components/stack";

.media-caption-stack {
	@extend %char_1p2_2f6;
	// @include heading_font(300, 1.666666666rem, 2rem);\

	position: relative;
	width: $m_page_width;
	margin: 0 auto;
	top: $m_nav_height;

	transform: moveY();
	@at-root .container-expanded & {
		transform: moveY($nav_collapse_offset);
	}
	& > .stack-item {
		top: auto;
		bottom: 0;
	}
	&.disabled > .stack-item {
		opacity: 0;
	}
	.content {
		margin: 0;//1.5rem auto;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}
	.content > * {
		@extend %leaf_content;
		margin-left: -0.1ex;
	}
	// .content > p {
	// 	// @include heading_font(300, 20px, 26px);
	// 	// @include heading_font(300, 1.666666666rem, 1.2);
	// 	// @include heading_font(300, 1.999999999rem, 1.166666666);
	// 	// @include heading_font(300, 1.999999999rem, 1.25);
	// 	// margin-left: -1px;
	// }
	// .content *:first-child {
	// 	margin-top: 0.25rem;
	// }
}

// media-dotnav
// ===================================

@import "components/selectable.dots-fontface.scss";

.media-dotnav {
	text-align: center;
	margin: 0 auto;
	padding: 0 $m_margin_right 0 $m_margin_left;

	position: absolute;
	width: $m_page_width;
	// height: 1.5rem;
	bottom: 1rem;
	left: 0;
	right: 0;
	transform: move();

	transition: tx(opacity, 1, 0);
	opacity: 1;
	@at-root .without-media &,
	.container-expanded &,
	.container-changing &,
	.container-changed & {
		opacity: 0;
	}
	.list-item {
		padding: 0 0.5rem;
		a {
			color: inherit !important;
		}
	}
}

// article-view
// ===================================
.article-view {
	// position: relative;
	width: $m_page_width;
	// top: 0;
	margin: 0 auto 1rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	padding-left: $m_margin_left;
	padding-right: $m_margin_right;

	&.mdown {
		& > *:first-child {
			margin-top: 0 !important;
		}
		h1, h2, h3, h4, p {
			// padding-left: $hu;
			// padding-right: $hu;
		}
		// h1, h2, p {
		& > * {
			padding-left: $m_aside_width;
		}
		h3, h4 {
			margin-top: 0;
			padding-left: 0;
			width: $m_aside_width - $hu;
			float: left;
			clear: both;
		}
	}
}

// // media-progress-wrapper
// // - - - - - - - - - - - - - - - - - -
// #media-progress-wrapper {
// 	position: absolute;
// 	transform: move();
//
// 	right: calc(50% - #{$m_page_width/2});
// 	top: 2.5rem;
// 	margin: 0 $hu;
// 	box-sizing: content-box;
// 	// width: 34px; height: 34px;
// 	width: 2.8rem; height: 2.8rem;
//
// 	font-family: "FolioFigures", monospace;
// 	font-weight: normal;
//
// 	transition: tx(opacity, 1, 0);
// 	opacity: 1;
// 	@at-root .without-media &,
// 		.container-expanded &,
// 		.container-changing &,
// 		.container-changed & {
// 		opacity: 0;
// 	}
// }

// #content:after {
// 	position: absolute;
// 	margin: 0 auto;
// 	max-width: $m_page_width;
// 	left: 0; right: 0;
// 	top: $m_nav_top + $m_nav_height;
// 	height: 1px;
// 	background-color: blue;
// 	content: ' ';
// }
