// ///////////////////////////////////
// Colors
// ///////////////////////////////////

// ------------------------------------
//
// ------------------------------------

// html {
// 	color: #666;
// 	background-color: #000;
// }
.app {
	color: $color;
	background-color: $background_color;
}
.color-fg05 {
	color: lighten($color, 40%);
	border-color: lighten($color, 60%);
}
.app,
.color-tx {
	transition: tx(background-color, 1, 1),
	tx(color, 1, 1);
}

// initialize fade-in
// - - - - - - - - - - - - - - - - - -
#navigation, #content {
	transition: tx(opacity, 1, 1),
	tx(visibility, 1, 1, step-start);
}
// .route-initial,
.app-initial {
	#navigation, #content {
		// #container {
		visibility: hidden;
		opacity: 0;
	}
	@include skip_transitions;
}
