// ///////////////////////////////////
// Colors
// ///////////////////////////////////

// ------------------------------------
//
// ------------------------------------

// html {
// 	color: #666;
// 	background-color: #000;
// }
.app {
	color: $color;
	background-color: $background_color;
}
.color-fg05 {
	color: lighten($color, 40%);
	border-color: lighten($color, 60%);
}
.app,
.color-tx {
	transition: tx(background-color, 1, 1),
		tx(color, 1, 1);
}

// initialize fade-in
// - - - - - - - - - - - - - - - - - -
#navigation, #content {
	transition: tx(opacity, 1, 1),
		tx(visibility, 1, 1, step-start);
}
// .route-initial,
.app-initial {
	#navigation, #content {
		// #container {
		visibility: hidden;
		opacity: 0;
	}
	@include skip_transitions;
}

// -----------------------------------
// Layer ordering
// -----------------------------------


#nav-graph {
	z-index: 1;
}
.transform-wrapper {
	z-index: 1;
	&#bundle-list-wrapper {
		z-index: 2;
	}
	&#article-list-wrapper,
	&#site-name-wrapper {
		z-index: 3;
	}
	.list {
		z-index: 1;
	}
}
.media-carousel {
	z-index: 0;
	&.panning,
	&.scrolling {
		z-index: 2;
	}
	.carousel-item {
		z-index: 0;
	}
	&:not(.disabled) .carousel-item.selected {
		z-index: 1;
	}
}
