
// -----------------------------------
// Layer ordering
// -----------------------------------

// .container-expanded {
// 	&#navigation {
// 		z-index: 1;
// 	}
// 	&#content {
// 		z-index: 0;
// 	}
// }
#navigation {
	z-index: 1;
}
#nav-graph {
	z-index: 1;
}

.transform-wrapper {
	z-index: 1;
	&#bundle-list-wrapper {
		z-index: 2;
	}
	&#article-list-wrapper,
	&#site-name-wrapper {
		z-index: 3;
	}
	.list {
		z-index: 1;
	}
}
.media-carousel {
	z-index: 0;
	&.panning,
	&.scrolling {
		z-index: 2;
	}
	.carousel-item {
		z-index: 0;
	}
	&:not(.disabled) .carousel-item.selected {
		z-index: 1;
	}
}
