// ///////////////////////////////////
// media query : desktop-small
// ///////////////////////////////////

// layout variables
// - - - - - - - - - - - - - - - - - -
$large_nav_top: 2rem;
$large_nav_height: 11rem;

$wide_page_width: 44 * $hu; //940px;
$wide_aside_width: 11 * $hu;
$wide_main_width: $wide_page_width - $wide_aside_width;

// ///////////////////////////////////
// Root
// ///////////////////////////////////

// html.desktop-small {}

@include media(desktop-small) {

	/* body */
	// padding-top: $large_nav_top;
	// padding-bottom: $large_nav_top;

	// container navigation content
	// - - - - - - - - - - - - - - - - - -
	// .container {
	// 	min-width: $wide_page_width;
	// }

	#navigation {
		max-width: $wide_page_width;
		min-height: $large_nav_height;
		// margin-top: $large_nav_top;
		padding-top: $large_nav_top;
	}

	#content {
		// margin-top: $large_nav_top;
		// margin-bottom: -$large_nav_top;
		padding-top: $large_nav_top;
	}

	// ///////////////////////////////////
	// navigation definitions
	// ///////////////////////////////////

	// nav_list
	// -----------------------------------
	%nav_list {
		transform: move();
		// transform: move(0, 0.1px);
	}
	// .with-bundle %nav_list {
	// 	transform: move();
	// }

	// ///////////////////////////////////
	// navigation children
	// ///////////////////////////////////

	.transform-wrapper {
		transform: move();
		// transform-style: preserve-3d;
	}

	// Common alignment
	// ===================================
	&.without-article.without-bundle {
		#bundle-list, #keyword-list {
			padding-top: $large_nav_height*0.5;//4.5rem;//$nav_top_without_bundle;
		}
		#site-name-wrapper, #article-list-wrapper {
			transform: moveY(#{$large_nav_height*0.5 - 1.5rem}); //$nav_top_without_bundle);
			// transform: moveY(3.0rem);//$nav_top_without_bundle);
		}
	}

	// bundle-list
	// ===================================
	#bundle-list {
		width: $wide_aside_width;
		// padding-top: $large_nav_height;
	}
	// &.with-bundle #bundle-list {
	// 	padding-top: 1.5rem;
	// }
	// &.without-bundle #bundle-list {
	// 	padding-top: $nav_top_without_bundle;
	// }

	// bundle-list-wrapper
	// - - - - - - - - - - - - - - - - - -
	#bundle-list-wrapper {
		transform: moveX($wide_aside_width);
	}
	&.with-bundle #bundle-list-wrapper {
		transform: moveX();
	}
	&.with-bundle .container-expanded #bundle-list-wrapper {
		transform: moveX($wide_aside_width);
	}

	// keyword-list
	// ===================================
	#keyword-list {
		//NOTE: clearance for .playable-renderer children mouse events
		width: $wide_aside_width;// - $gutter;
		// padding-top: $large_nav_height;// - 0.25rem;
		// transform: moveY(-0.25rem);
		// margin-top: -0.5rem;
	}
	&.with-bundle .container-collapsed #keyword-list {
		padding-top: $large_nav_height - 1rem;
	}
	// &.with-bundle .container-expanded #keyword-list {
	// 	padding-top: 1.5rem;
	// }
	// &.without-bundle #keyword-list {
	// 	padding-top: $nav_top_without_bundle;// - 0.25rem;
	// }

	// keyword-list-wrapper
	// - - - - - - - - - - - - - - - - - -
	#keyword-list-wrapper {
		left: $wide_main_width;
	}
	&.with-media #keyword-list-wrapper {
		transform: moveX(-$wide_main_width);
	}
	&.with-bundle .container-expanded #keyword-list-wrapper {
		transform: moveX();
	}

	// keyword-list list-group
	// - - - - - - - - - - - - - - - - - -
	#keyword-list .list-group {
		//NOTE: compensate for #keyword-list clearance (c.f note above)
		width: 100%;
		height: 0;
	}
	/* NOTE: .list-group .label moves horizontally */
	&.with-bundle .navigation:not(.container-expanded) #keyword-list .list-group {
		height: 1.5rem;
		.label {
			transform: moveX();
		}
	}

	// site-name
	// ===================================
	&.with-bundle .container-expanded #site-name {
		transform: moveX();
	}

	// site-name-wrapper
	// - - - - - - - - - - - - - - - - - -
	#site-name-wrapper {
		width: $wide_aside_width;
		transform: moveY();
	}

	// article-button
	// ===================================
	&.with-bundle .container-expanded .article-button {
		transform: moveX();
		a {
			visibility: visible;
			opacity: 1;
			transition: tx(visibility, 3, 0, step-start),
				tx(opacity, 1, 0),
				tx(color, 1, 1);
		}
	}

	// article-list-wrapper
	// - - - - - - - - - - - - - - - - - -
	#article-list-wrapper {
		// display: inline-block;
		width: $wide_aside_width;
	}
	// &.route-bundle-list,
	// &.route-root {
	// 	#article-list-wrapper {
	// 		transform: moveY(5rem);
	// 	}
	// }

	// nav-graph
	// ===================================
	#nav-graph {
		left: $wide_aside_width;
		width: $wide_main_width;
	}

	// ///////////////////////////////////
	// content
	// //////////////////////////////////

	// media-carousel
	// ===================================

	.media-carousel {
		min-width: $wide_page_width;
		top: $large_nav_top + $large_nav_height;

		.carousel-item {
			left: calc(50% - #{$wide_page_width/2 + $hu});
			width: $wide_page_width;
		}
		// FIXME FIXME FIXME : parallax breaks if item is not 100%;
		$_fixme_empty_adj: 12px;//7px;
		$_fixme_empty_val: $hu*2 + $_fixme_empty_adj;
		.empty-item {
			// width: $wide_main_width;
			width: $wide_page_width - ($hu*2 + $_fixme_empty_adj);
			padding-right: $wide_aside_width - ($hu*2 + $_fixme_empty_adj);
			padding-left: 0;
		}
		.media-item {
			width: $wide_main_width;
			margin-left: $wide_aside_width + $hu;
		}
		// .empty-item .content {
			// font-size: 28px;
			// line-height: 30px;
			// @include heading_font(300, 28px, 36px);
		// }
		// .empty-item .content *:first-child {
		// 	margin-top: -4px;
		// }
	}
	// .media-carousel {
	// 	.carousel-item.media-item {
	// 		margin-left: $wide_aside_width + $hu;
	// 	}
	// }
	// .carousel-item.empty-item p {
	// 	padding-right: $hu*2;
	// }
	// .disabled .empty-item transitions
	.disabled .carousel-item.empty-item .content {
		// transition: tx(transform, 1, 1), tx(opacity, 3, 0);
		transition: tx(transform, 1, 0, step-end), tx(opacity, 0.5, 0) !important;
	}
	:not(.scrolling) .carousel-item.empty-item.selected .content {
		transform: moveX(); //opacity: 1;
	}
	.disabled .carousel-item.empty-item.selected .content {
		transform: moveX($wide_aside_width); //opacity: 0.5;
	}
	.container-changed .carousel-item.empty-item.selected .content {
		opacity: 0 !important;
		// transition: tx(transform, 1, 0, step-end), tx(opacity, 1, 0) !important;
	}

	// overrides carousel.playable.scss
	.playable-renderer {
		&[data-fit-dir] .controls {
		// & > .fullscreen-toggle
			& > .progress-meter {
				top: 0;
				bottom: auto;
				left: auto;
				right: 100%;
				margin: 0 1.5rem 0 0;
			}
		}
		.top-bar {
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			// top: -9.5rem; right: -$hu;
			direction: ltr;
			top: 0;
			right: 100%;
			width: auto;
			height: calc(100% + 1rem);
			margin: -0.5rem 1.25rem;
			& > * {
				padding: 0.5rem 0;
				// &:first-child { padding-inline-start: 0; }
				// &:last-child { padding-inline-end: 0; }
			}
		}
	}

	// media-caption-stack
	// ===================================
	.media-caption-stack {
		@extend %char_2_2;
		// @include heading_font(300, 1.999999999rem, 2rem);

		top: 0; //$large_nav_top;
		margin-top: 0;
		width: $wide_page_width;
		& > .stack-item {
			top: 0;
			bottom: auto;
		}
		.content {
			margin-left: $wide_aside_width;
			width: $wide_main_width;
		}
		// .content p {
		// 	@include heading_font(300, 1.999999999rem, 1.166666666);
		// 	@include heading_font(300, 1.999999999rem, 1.25);
		// }
	}

	// media-dotnav
	// ===================================
	.media-dotnav {
		width: $wide_page_width;
	}

	// article-view
	// ===================================
	.article-view {
		// top: $large_nav_top;
		width: $wide_page_width;
		padding-right: $wide_aside_width;
	}
}
// end media-query
