// ///////////////////////////////////
// media query : fullwidth
// ///////////////////////////////////

// ///////////////////////////////////
// Definitions
// ///////////////////////////////////

// layout variables
// - - - - - - - - - - - - - - - - - -
$nav_top_small: 0rem;
$nav_height_small: 7rem;//6.5rem;
$page_width_max: none;//704px;
$aside_width_small: 50%;


$margin_right: $hu / 3;
$margin_left: $hu / 1.5;
$margin_top: 1.5rem;
$margin_bottom: 3rem;
$ctrl_height: 2.1rem;
$ctrl_width: $hu * 1.05;//2.1rem;

@include media(fullwidth) {
	// block definitions
	// - - - - - - - - - - - - - - - - - -
	%nav_font {
		// @include heading_font(600, 1.25rem, 1.5rem, -0.5px);
		font-size: 1.25rem;
		line-height: 1.5rem;
		letter-spacing: -0.5px;
		@include text_rendering_legibility;
		// @include font_smoothing;
	}

	%list_item {
		width: 100%;
		// .label {
			// text-overflow: ellipsis;
			// overflow: hidden;
		// }
	}

	// leaf elements
	// - - - - - - - - - - - - - - - - - -
	%leaf_content {
		padding-left: $margin_left;
		padding-right: $margin_right;
		.label {
			padding: 0.25em #{$hu/2} 0.25em #{$hu/4};// 0.25em 0.5em;
			margin: -0.25em -#{$hu/2} 0.25em -#{$hu/4};// -0.25em -0.5em;
		}
	}
}

@import "views/mobile.mdown";

// ///////////////////////////////////
// Root
// ///////////////////////////////////

html.fullwidth {

}

@include media(fullwidth) {

	width: 100%;
	overflow: hidden;
	overflow-y: scroll;

	// -----------------------------------
	// Container
	// -----------------------------------

	#container {
		// height: auto;
		min-width: 0;
		max-width: none;
	}

	// ///////////////////////////////////
	// navigation
	// ///////////////////////////////////

	#navigation {
		// position: absolute;
		// overflow-y: hidden;
		max-width: $page_width_max;
		// width: auto;
		// margin-left: 0;
		// margin-right: 0;
		// left: $margin_left*2;
		// right: $margin_right*2;

		width: auto;//calc(100% - #{$margin_left*2+$margin_right*2});
		margin-left: $margin_left*2;
		margin-right: $margin_right*2;
		left: 0;
		right: 0;

		top: $nav_top_small;
		// top: 0;
		min-height: $nav_height_small;
		// padding-top: $nav_top_small;
		// margin-bottom: 3rem;
		box-sizing: content-box;
		padding-top: 0.75rem;
		padding-bottom: 0;

	}
	&.route-article-item,
	&.route-root  {
		#navigation {
			padding-bottom: 1.5rem;
		}
	}

	.transform-wrapper {
		left: 0; right: 0;
		width: auto;
	}

	.list-group, .list-item {}
	// bundle-list
	// ===================================
	#bundle-list {
		// @include heading_font(600, 1.25rem, 1.5rem, -0.5px);
		@extend %nav_font;
		font-weight: 600;

		width: auto;
		left: 0;
		right: calc(50% + #{$hu * 0.5});
		// right: calc(50% + #{$margin_right});
		// min-width: calc(50% - #{$margin_right});

		padding-top: #{$nav_height_small + 0.5rem};
		padding-bottom: 1.5rem;
		.list-item {
			@extend %list_item;
			// width: $main_width - $aside_width_small - (2*$hu);
			// width: calc(100% - #{8*$hu});
			height: 1.5rem;
		}
	}
	&.with-bundle #bundle-list {
		padding-top: 1.5rem;
	}

	// bundle-list-wrapper
	// - - - - - - - - - - - - - - - - - -
	#bundle-list-wrapper {
		// position:static;
	}

	// keyword-list
	// ===================================
	#keyword-list {
		font-size: #{7/8 * 1rem};

		width: auto;
		left: calc(50% + #{$hu * 2});
		// left: calc(50% + #{$margin_left});
		right: 0;

		// min-width: calc(50% - #{$margin_left});
		// width: 50%;//$aside_width_small;

		padding-top: $nav_height_small;
		padding-bottom: 1.5rem;
		.list-item {
			@extend %list_item;
			height: 1.5em;
			text-overflow: ellipsis;
			overflow: hidden;
			.label {
				font-size: inherit;//#{7/8 * 1rem};
				// line-height: 1;//1rem;
			}
		}
		.list-group {
			// height: 0;
			height: 1.5em;
			width: 50%;//$aside_width_small;
			.label {
				transform: moveX();
				// width: $list_group_width_small;
			}
		}

	}
	&.with-bundle #keyword-list {
		padding-top: 0.75rem;
	}
	&.with-media .container-collapsed #keyword-list {
		opacity: 0;
		visibility: 0;
		// .list-group, .list-item {
		// 	height: 0;
		// 	visibility: 0;
		// 	opacity: 0;
		// }
	}

	// keyword-list-wrapper
	// - - - - - - - - - - - - - - - - - -
	#keyword-list-wrapper {
		left: 0;
		// position:static;
	}

	// keyword-list list-group
	// - - - - - - - - - - - - - - - - - -
	// $list_group_width_small: $aside_width_small - $gutter - $hu*2;

	&.with-bundle .navigation:not(.container-expanded) #keyword-list {
		padding-top: 1.5rem;
		.list-group {
			height: 0;
			visibility: hidden;
			opacity: 0;
		}
	}

	// site-name
	// ===================================

	// site-name-wrapper
	// - - - - - - - - - - - - - - - - - -
	#site-name-wrapper {
		width: 100%;//$page_width_small;
	}
	#site-name {
		@extend %nav_font;
		font-weight: 600;
		// @include heading_font(600, 1.5rem, 1.5rem, -0.5px);
	}

	// article-list
	// ===================================

	// article-list-wrapper (vertical movements)
	// - - - - - - - - - - - - - - - - - -
	#article-list-wrapper {
		width: 100%;//$page_width_small;
	}

	// article-button
	// - - - - - - - - - - - - - - - - - -
	.article-button {
		@extend %nav_font;
		font-weight: 400;
		// @include heading_font(400, 1.5rem, 1.5rem, -0.5px);
	}

	.article-button#about-button {
		top: 0.333333333em;
	}

	// NOTE: these elements need symmetrical padding
	#site-name, .article-button {
		padding-right: $margin_left;
	}

	// nav-graph
	// - - - - - - - - - - - - - - - - - -
	#nav-graph {
		width: 100%;//$page_width_small;
	};

	// ///////////////////////////////////
	// content
	// ///////////////////////////////////

	#content {
		// left: 0;
		// right: 0;
		//width: 100%;
		// position: relative;
		// width: 100%;
		// height: 100%;
	}

	// media-carousel
	// ===================================
	// $carousel_item_height: calc(100% - 9rem);
	.media-carousel {
		max-width: $page_width_max;
		min-width: 0;
		width: auto;
		left: 0;
		right: 0;

		top: $nav_top_small + $nav_height_small;
		// top: 0;
		margin-top: #{-$ctrl_height};
		padding-top: #{$margin_top + $ctrl_height};
		// padding-top: $margin_top;
		padding-bottom: $margin_bottom;

		.carousel-item {
			margin-left: $margin_left*2;
			margin-right: $margin_right*2;
			width: auto;
			left: $margin_left*1;
			height: calc(100% - #{$margin_top + $margin_bottom});
			// right: $margin_right*1;
			// width: calc(100% - #{$hu*2})
			// left: calc(50% - #{$page_width_small/2});
			// width: $page_width_small;

			// left: $margin_right*1;
			// right: $margin_right*1;
			// top: $margin_v;
			// bottom: $margin_v;
			// width: auto;
			// height: auto;
			// margin-left: $margin_right*2;
			// margin-right: $margin_right*2;
		}
		.empty-item {
			right: $margin_right * 7;
			// width: 50%;
			// width: calc(100% - #{$margin_left*3 + $margin_right*3});
			// width: $main_width_small - 8px;

			// width: calc(50% - #{$margin_left*2 + $margin_right*2});
			// height: 100%;
			// overflow: hidden;
			.sizing {
				margin-left: -$margin_left;
				margin-right: -$margin_right;
				// margin-left: 0;
				// margin-right: 0;
			}
		}
		.media-item {
			right: $margin_right*1;
			// width: auto;
			// width: calc(100% - #{$margin_left*3 + $margin_right*3});
			// width: $page_width_small;
			.sizing {
				// margin-left: $margin_right;
				// margin-right: $margin_right;
				margin-left: 0;
				margin-right: 0;
			}
			.placeholder:before {
				font-size: 18vw;
				padding: 5%;
			}
			// .placeholder:before,
			.error-message {
				padding: 7%;
			}
		}
	}
	.container-expanded .media-carousel {
		transform: moveY(#{$nav_collapse_offset * 0.6666666});
	}
	.playable-renderer {
		.top-bar {
			// top: 0;
			// direction: ltr;
			z-index: 1;
			height: $ctrl_height;

			// width: $ctrl_width;
			// flex-direction: column;
			// direction: ltr;
			// top: 0;
			// right: 100%;
			// width: auto;
			// height: calc(100% + 1rem);
			// margin: -0.5rem #{$hu / 2};
			// & > * {
			// 	padding: 0.5rem 0;
			// }
		}
		.progress-meter {
			// width: 100%; height: auto;
			width: auto; height: 100%;
			// width: $ctrlbar_height;//2.1rem;
			// height: $ctrlbar_height;//2.1rem;
			font-size: 75%;
			line-height: 1;
		}
	}

	// media-caption-stack
	// ===================================
	.media-caption-stack {
		top: $nav_top_small + 2.25rem;// + $nav_height_small;
		margin: 0 0 0 #{$margin_left*2};
		width: calc(50% - #{$margin_left*2});
		// width: calc(100% - #{$margin_left*2});
		& > .stack-item {
			top: 0;
			bottom: auto;
		}
		.content {
			max-height: 4.5rem;
			overflow: hidden;
		}
		.content p {
			@extend %nav_font;
			margin-left: 0;
		}
	}

	// media-dotnav
	// ===================================
	.media-dotnav {
		padding-left: $margin_left;
		padding-right: $margin_right;
		width: auto;
		bottom: 0.75rem;
		.list-item {
			// padding: 0 0.25rem;
			padding: 0 0.3333333rem;
		}
	}
	// #container {
	// 	transition: tx(height, 1, 0);
	// }

	& {
		overflow-y: scroll;
		#container {
			overflow-y: visible;
		}
	}


	// article-view
	// ===================================
	&.without-bundle {
		// height: auto;
		// overflow: visible;
		overscroll-behavior: none;
		overflow-x: hidden;
		overflow-y: scroll;

		#container {
		// 	position: relative;
			overscroll-behavior: none;
			overflow-x: hidden;
			overflow-y: scroll;
		// 	top: auto;
		// 	bottom: auto;
		// 	height: auto;
		// 	min-height: 0;
		// 	max-height: none;
		}
		#container,
		#container #content {
			position: relative;
			overflow: visible;
			top: auto;
			bottom: auto;
			height: auto;
			min-height: 0;
			max-height: none;
		}
	}

	.article-view {
		width: calc(100% - #{$margin_left*2 + $margin_right*2});
		margin-right: $margin_right;
		margin-left: $margin_left;
		left: $margin_left;
		right: $margin_right;

		/* NOTE: these values depend on #navigation being absolute or relative */
		// overflow: hidden;
		// overflow-y: scroll;
		// position: relative;
		// top: 0;
		// top: $nav_top_small;
		top: auto;
		// top: $nav_top_small + $nav_height_small;
		bottom: auto;
		height: auto;
		min-height: 0;
		max-height: none;
		overflow: visible;

		margin-top: 0;
		margin-bottom: 0;
		padding-top: 0;//$nav_height_small;
		padding-bottom: 4.5rem;
		// margin-top: -1rem;
		// margin-top: $nav_height_small;
		// margin-bottom: 4.5rem;


		&.markdown-html {
			:first-child {
				margin-top: 0;
			}
			h1, h2, h3, h4, p {
				padding-left: $margin_left;
				padding-right: $margin_right;
			}
			h1, h2, p {
				margin-left: 0;//$aside_width_small;
			}
			h3, h4 {
				width: auto;//$aside_width_small;
				float: none;
				clear: none;
			}
		}
	}
}
