// ///////////////////////////////////
// media query : fullwidth
// ///////////////////////////////////

// ///////////////////////////////////
// Definitions
// ///////////////////////////////////

$rhu: 1.666666666rem;
$one_third: 100% * (1/3);
$two_thirds: 100% * (2/3);

// layout variables
// - - - - - - - - - - - - - - - - - -
$small_nav_top: 1.166666666rem;
$small_nav_height: 7rem;//6.5rem;
// $small_page_width: 22 * $hu; //940px;
$small_page_width_max: none;//704px;
// $small_main_width: $small_page_width - $small_aside_width;
$small_main_width: $two_thirds;
// $small_aside_width: 11 * $hu;
$small_aside_width: 100% - $small_main_width;

$margin_left: 1.25rem;//$rhu * (2/3);
$margin_right: 1.25rem;//$rhu * (1/3);
$content_margin_left: 2rem;//$rhu * (2/3);
$content_margin_right: 1rem;//$rhu * (1/3);

// ///////////////////////////////////
// Root
// ///////////////////////////////////

// html.fullwidth {}

// @import "views/mobile.mdown";

@include media(fullwidth) {

	/* body */
	// width: 100%;
	// overflow: hidden;
	// overflow-y: auto;
	// padding-top: $small_nav_top;
	// padding-bottom: $small_nav_top;

	// & {
	// 	overflow-y: scroll;
	// 	#container {
	// 		overflow-y: visible;
	// 	}
	// }

	// container navigation content
	// - - - - - - - - - - - - - - - - - -

	// #container {
	// 	// height: auto;
	// 	width: auto;
	// 	min-width: 0;
	// 	max-width: none;
	// 	min-height: 100%;
	// }

	#navigation {
		width: auto;//calc(100% - #{$margin_left * 4});//auto;
		max-width: $small_page_width_max;
		left: 0;//$margin_left * 2;
		right: 0;//$margin_right * 2;
		margin-left: $margin_left * 2;// + $content_margin_left;
		margin-right: $margin_right * 2;// + $content_margin_right;

		min-height: $small_nav_height;
		// margin-top: $small_nav_top;
		padding-top: $small_nav_top;
		padding-bottom: 3rem;// TODO: whats the best value for this?
	}

	#content {
		// margin-top: $small_nav_top;
		// margin-bottom: -$small_nav_top;
		padding-top: $small_nav_top;
	}

	// ///////////////////////////////////
	// navigation definitions
	// ///////////////////////////////////

	// leaf elements
	// - - - - - - - - - - - - - - - - - -
	%leaf_content {
		padding-left: $content_margin_left;
		padding-right: $content_margin_right;
		.label {
			// padding: 0 $content_margin_right 0 $content_margin_left;
			// margin: 0 -$content_margin_right 0 -$content_margin_left;
			padding: 0 0.5rem;
			margin: 0 -0.5rem;
		}
	}

	// block definitions
	// - - - - - - - - - - - - - - - - - -
	%nav_font {
		@extend %char_1f3_1f5;
		// @include heading_font(600, 1.25rem, 1.5rem, -0.5px);
		// @include heading_font(600, 1.333333333rem, 1.125rem, -0.5px);
		// @include text_rendering_legibility;
		// @include font_smoothing;
	}

	// ///////////////////////////////////
	// navigation children
	// ///////////////////////////////////

	.transform-wrapper {
		left: 0; right: 0;
		width: auto;
	}

	.list-group, .list-item {}

	// bundle-list
	// ===================================
	#bundle-list {
		// @include heading_font(600, 1.25rem, 1.5rem, -0.5px);
		@extend %nav_font;
		font-weight: 600;

		width: auto;
		left: 0;
		right: $two_thirds;

		// padding-top: #{$small_nav_height + 0.5rem};
		// padding-bottom: 1.5rem;
		.list-item {
			// @extend %list_item;
			// width: $default_main_width - $small_aside_width - (2*$hu);
			// width: calc(100% - #{8*$hu});
			height: 1.5rem;
			width: 100%;
		}
	}
	&.with-bundle .container-collapsed #bundle-list {
		padding-top: 1.5rem;
	}

	// bundle-list-wrapper
	// - - - - - - - - - - - - - - - - - -
	// #bundle-list-wrapper {
	// 	position:static;
	// }

	// keyword-list
	// ===================================
	#keyword-list {
		// width: auto; left: $two_thirds; right: 0;
		width: $one_third; left: auto; right: 0;

		//font-size: 0.9166666666rem; //1rem; //#{(7/8)}rem;
		//line-height: 1.5rem;//1.090909091;//1.166666666; //1rem;

		// width: auto;
		// left: calc(#{$small_main_width} - #{$content_margin_left});
		// right: 0;

		// width: 33.333333333%;//calc(100% / 3);
		// width: calc((100% - #{abs($margin_left - $margin_right)}) / 3);
		// width: calc(#{$small_aside_width} + #{$margin_right} + #{$margin_left});

		.list-item {
			// @extend %list_item;
			//height: 1.5rem;
			width: 100%;
			// text-overflow: ellipsis;
			// overflow: hidden;
			.label {
				font-size: inherit;//#{7/8 * 1rem};
				// line-height: 1;//1rem;
			}
		}
		.list-group {
			// margin-top: 0;
			height: 0;
			width: 100%; // width of #keyword-list
			.label {
				width: calc(50% + #{$content_margin_left});
				transform: moveX(-100%);
				// padding: 0; margin: 0;
				// & > span {
				// 	padding: 0 0.25em;
				// 	margin: 0 -0.25em;
				// }
			}
		}

	}
	// &.with-bundle .container-collapsed #keyword-list {
	// 	padding-top: 0.75rem;
	// }
	&.with-media .container-collapsed #keyword-list {
		opacity: 0;
		visibility: 0;
	}

	// keyword-list-wrapper
	// - - - - - - - - - - - - - - - - - -
	#keyword-list-wrapper {
		left: 0;
		// position:static;
	}
	// &.with-media .container-collapsed #keyword-list-wrapper {
	// 	z-index: 0;
	// }

	// keyword-list list-group
	// - - - - - - - - - - - - - - - - - -
	&.with-bundle .navigation:not(.container-expanded) #keyword-list {
		// padding-top: 1.5rem;
		.list-group {
			height: 0;
			visibility: hidden;
			opacity: 0;
		}
	}

	// site-name
	// ===================================
	#site-name {
		@extend %nav_font;
		font-weight: 600;
	}
	&.with-bundle .container-expanded #site-name {
		transform: moveX();
	}

	// site-name-wrapper
	// - - - - - - - - - - - - - - - - - -
	#site-name-wrapper {
		width: 100%;
	}

	// article-button
	// ===================================
	.article-button {
		@extend %nav_font;
		font-weight: 400;
	}
	&.with-bundle .container-expanded .article-button {
		transform: moveX();
		a {
			visibility: visible;
			opacity: 1;
			transition: tx(visibility, 3, 0, step-start),
				tx(opacity, 1, 0),
				tx(color, 1, 1);
		}
	}

	.article-button#about-button {
		top: 1.5rem;//0.333333333em;
	}

	// article-list-wrapper (vertical movements)
	// - - - - - - - - - - - - - - - - - -
	#article-list-wrapper {
		width: 100%;//$small_page_width;
	}

	// NOTE: these elements need symmetrical padding
	#site-name, .article-button {
		padding-right: $margin_left;
	}

	// Common
	// ===================================
	// #bundle-list, #keyword-list {
	// 	padding-top: 4.5rem;
	// }
	#site-name-wrapper, #article-list-wrapper {
		transform: moveY(0rem);
	}
	&.with-bundle .container-expanded {
		#bundle-list, #keyword-list {
			padding-top: 6rem;
		}
		#site-name-wrapper, #article-list-wrapper {
			transform: moveY(0rem);
		}
	}
	&.without-article.without-bundle {
		#bundle-list, #keyword-list {
			padding-top: 6rem;
		}
		#site-name-wrapper, #article-list-wrapper {
			transform: moveY(0rem);
		}
	}

	// nav-graph
	// - - - - - - - - - - - - - - - - - -
	#nav-graph {
		width: 100%;//$small_page_width;
	};

	// ///////////////////////////////////
	// content children
	// ///////////////////////////////////

	// media-carousel
	// ===================================

	$ctrl_height: 2.1rem;
	$ctrl_width: $rhu * 1.05;//2.1rem;

	$margin_top: $small_nav_top + $small_nav_height; //4.5rem; //$ctrl_height + 1rem;
	$margin_bottom: 3rem;

	// $carousel_item_height: calc(100% - #{($margin_top + $margin_bottom)});

	.media-carousel {
		max-width: $small_page_width_max;
		min-width: 0;
		width: auto;
		left: 0;
		right: 0;

		top: $small_nav_top + $small_nav_height;

		margin-top: #{-$margin_top};
		padding-top: $margin_top;
		padding-bottom: $margin_bottom;

		.carousel-item {
			width: auto;
			height: calc(100% - #{$margin_top + $margin_bottom});
			left: $margin_left;
			right: $margin_right;
			margin-left: $margin_left;
			margin-right: $margin_right;
			.sizing {
				margin-left: $content_margin_left;
				margin-right: $content_margin_right;
			}
		}
		.empty-item {
			// FIXME FIXME FIXME : parallax breaks if item is not 100%;
			width: auto;
			right: calc(33.333333% - 3px);
		}
		.media-item {
			.placeholder:before {
				font-size: 18vw;
				padding: 5%;
			}
			// .placeholder:before,
			.error-message {
				padding: 7%;
			}
		}
	}
	.container-expanded .media-carousel {
		transform: moveY(#{$nav_collapse_offset * 0.6666666});
	}
	.playable-renderer {
		.top-bar {
			height: $ctrl_height;
			margin-bottom: 1rem;
		}
		.bottom-bar {
			height: $ctrl_height;
			margin-bottom: 1rem;
		}
		.progress-meter {
			// width: 100%; height: auto;
			// width: auto; height: 100%;
			width: $ctrl_height;//2.1rem;
			height: $ctrl_height;//2.1rem;
			font-size: 75%;
			line-height: 1;
		}
		// .top-bar {
		// 	margin: 1.5rem -0.5rem;
		// 	top: 0;
		// 	direction: ltr;
		// 	z-index: 4;
		//
		// 	width: $ctrl_width;
		// 	flex-direction: column;
		// 	direction: ltr;
		// 	top: 0;
		// 	right: 100%;
		// 	width: auto;
		// 	height: calc(100% + 1rem);
		// 	margin: -0.5rem #{$hu / 2};
		// 	& > * {
		// 		padding: 0.5rem 0;
		// 	}
		// }
	}

	// media-caption-stack
	// ===================================
	.media-caption-stack {
		top: 1.5rem;
		margin: 0;
		// margin-left: #{$margin_left*2};
		// margin-right: 7rem;

		margin-left: $margin_left * 2;// + $content_margin_left;
		margin-right: $margin_right * 2;// + $content_margin_right;

		// space for carousel ctrls: 7rem
		width: auto;//calc(100% - #{$margin_left*2} - 7rem);

		.stack-item {
			top: 0;
			bottom: auto;
		}
		.content {
			max-height: 6rem; //4.5rem;
			overflow: hidden;
		}
		.content p {
			@extend %nav_font;
			margin-left: 0;
		}
	}

	// media-dotnav
	// ===================================
	.media-dotnav {
		padding-left: $margin_left;
		padding-right: $margin_right;
		width: auto;
		bottom: 0.75rem;
		.list-item {
			// padding: 0 0.25rem;
			padding: 0 0.3333333rem;
		}
	}
	// #container {
	// 	transition: tx(height, 1, 0);
	// }

	// article-view
	// ===================================
	/*&.without-bundle {
		// height: auto;
		// overflow: visible;
		overscroll-behavior: none;
		overflow-x: hidden;
		overflow-y: scroll;

		#container {
		// 	position: relative;
			overscroll-behavior: none;
			overflow-x: hidden;
			overflow-y: scroll;
		// 	top: auto;
		// 	bottom: auto;
		// 	height: auto;
		// 	min-height: 0;
		// 	max-height: none;
		}
		#container,
		#container #content {
			position: relative;
			overflow: visible;
			top: auto;
			bottom: auto;
			height: auto;
			min-height: 0;
			max-height: none;
		}
	}*/

	/* NOTE: these values depend on #navigation being absolute or relative */
	/*.article-view {
		// position: relative;
		/*width: calc(100% - #{$margin_left*2 + $margin_right*2});
		left: $margin_left * 2;
		right: $margin_right * 2;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;//$content_margin_left;
		padding-right: 0;//$content_margin_right;

		// overflow: hidden;
		// overflow-y: scroll;
		// position: relative;
		// top: 0;
		top: auto;
		// top: $small_nav_height;
		bottom: auto;
		height: auto;
		min-height: 0;
		max-height: none;
		overflow: visible;

		margin-top: 0;
		margin-bottom: 0;
		padding-top: 0;//$small_nav_height;
		padding-bottom: 4.5rem;
		// margin-top: -1rem;
		// margin-top: $small_nav_height;
		// margin-bottom: 4.5rem;
	}*/

	.article-view {
		width: auto;
		margin-left: $margin_left * 2;
		margin-right: $margin_left * 2;
		padding-top: $small_nav_height;
		padding-left: $content_margin_left;
		padding-right: $content_margin_right;
		&.mdown {
			// :first-child {
			// 	margin-top: 0;
			// }
			h1, h2, h3, h4, p {
				// padding-left: $content_margin_left;
				// padding-right: $content_margin_right;
			}
			// h1, h2, p {
			& > * {
				padding-left: 0;//$small_aside_width;
			}
			h3, h4 {
				padding-left: 0;
				width: auto;//$small_aside_width;
				float: none;
				clear: none;
			}
		}
	}
}
