

$default_page_width_min: 375px;

// ///////////////////////////////////
// Root
// ///////////////////////////////////

html.fullwidth-small {
	font-size:10px;
}

@include media(fullwidth-small) {

	// container navigation content
	// - - - - - - - - - - - - - - - - - -
	// #container {
	// 	min-width: $default_page_width_min;
	// }

	// bundle-list
	// ===================================
	// #bundle-list {
	// 	left: 0;
	// 	right: calc(50% + #{$hu * 0.5});
	// 	width: auto;
	// }

	// keyword-list
	// ===================================
	#keyword-list {
		width: 40%;
		// min-width: ($default_page_width_min * 0.4);
		// width: auto;
		// left: calc(50% + #{$hu * 2});
		// right: 0;
		// padding-top: #{$small_nav_height - 0rem};
		.list-group {
			// height: 0;
			height: 1.5rem;
			.label {
				width: auto;
				transform: moveX();
			}
		}
	}
	&.with-bundle .container-expanded {
		#bundle-list, #keyword-list {
			padding-top: $small_nav_height;
		}
	}
	// &.with-bundle .container-collapsed #keyword-list {
	// 	padding-top: 1.5rem;
	// }
	#keyword-list {
		.list-group {
			margin-top: 0.5rem;
			&:first-child {
				margin-top: 0;
			}
		}
	}

	// keyword-list list-group
	// - - - - - - - - - - - - - - - - - -
	// &.with-bundle .navigation:not(.container-expanded) #keyword-list {
	// 	// padding-top: 1.5rem;
	// 	.list-group {
	// 		height: 0;
	// 		visibility: hidden;
	// 		opacity: 0;
	// 	}
	// }

	// ///////////////////////////////////
	// content
	// ///////////////////////////////////

	// media-carousel
	// ===================================

	.media-carousel {
		.empty-item {
			// FIXME FIXME FIXME : parallax breaks if item is not 100%;
			right: calc(40% - 3px);
		}
	}
}
