// ///////////////////////////////////
// media query : fullwidth
// ///////////////////////////////////

// ///////////////////////////////////
// Definitions
// ///////////////////////////////////

$rhu: 1.666666666rem;
$one_third: 100% * (1/3);
$two_thirds: 100% * (2/3);

// layout variables
// - - - - - - - - - - - - - - - - - -
$nav_top_small: 1.166666666rem;
$nav_height_small: 7rem;//6.5rem;
$page_width_max: none;//704px;
$main_width_small: $two_thirds;
$aside_width_small: 100% - $main_width_small;

$margin_left: 1.75rem;//$rhu * (2/3);
$margin_right: 1.75rem;//$rhu * (1/3);
$content_margin_left: 1rem;//$rhu * (2/3);
$content_margin_right: 1rem;//$rhu * (1/3);

@include media(fullwidth) {
	// block definitions
	// - - - - - - - - - - - - - - - - - -
	%nav_font {
		// @include heading_font(600, 1.25rem, 1.5rem, -0.5px);
		font-size: 1.333333333rem; //1.25rem;
		line-height: 1.125; //1.2;
		letter-spacing: -0.5px;
		@include text_rendering_legibility;
		// @include font_smoothing;
	}

	%list_item {
		width: 100%;
		// .label {
			// text-overflow: ellipsis;
			// overflow: hidden;
		// }
	}

	// leaf elements
	// - - - - - - - - - - - - - - - - - -
	%leaf_content {
		padding-left: $content_margin_left;
		padding-right: $content_margin_right;
		.label {
			// padding: 0 $content_margin_right 0 $content_margin_left;
			// margin: 0 -$content_margin_right 0 -$content_margin_left;
			padding: 0 0.5rem;
			margin: 0 -0.5rem;
		}
	}
}

@import "views/mobile.mdown";

// ///////////////////////////////////
// Root
// ///////////////////////////////////

html.fullwidth {
	// position: absolute;
	// top: 0; bottom: 0; left: 0; right: 0;
}

@include media(fullwidth) {

	/* body */
	// width: 100%;
	// overflow: hidden;
	// overflow-y: auto;

	// -----------------------------------
	// Container
	// -----------------------------------

	#container {
		// height: auto;
		min-width: 0;
		max-width: none;
		min-height: 100%;
	}

	#navigation {
		width: auto;//calc(100% - #{$margin_left * 4});//auto;
		max-width: $page_width_max;
		left: 0;//$margin_left * 2;
		right: 0;//$margin_right * 2;
		margin-left: $margin_left * 2;// + $content_margin_left;
		margin-right: $margin_right * 2;// + $content_margin_right;

		// top: $nav_top_small;
		min-height: $nav_height_small;
		padding-top: 0;
		margin-top: $nav_top_small;
	}

	#content {
		// top: 1rem;
		// padding-top: 1.166666666rem;
		// padding-top: $nav_top_small;
		padding-top: 0;
		margin-top: $nav_top_small;
	}

	// ///////////////////////////////////
	// navigation children
	// ///////////////////////////////////

	.transform-wrapper {
		left: 0; right: 0;
		width: auto;
	}

	.list-group, .list-item {}

	// bundle-list
	// ===================================
	#bundle-list {
		// @include heading_font(600, 1.25rem, 1.5rem, -0.5px);
		@extend %nav_font;
		font-weight: 600;

		width: auto;
		left: 0;
		right: $two_thirds;

		// padding-top: #{$nav_height_small + 0.5rem};
		// padding-bottom: 1.5rem;
		.list-item {
			@extend %list_item;
			// width: $main_width - $aside_width_small - (2*$hu);
			// width: calc(100% - #{8*$hu});
			height: 1.5rem;
		}
	}
	&.with-bundle .container-collapsed #bundle-list {
		padding-top: 1.5rem;
	}

	// bundle-list-wrapper
	// - - - - - - - - - - - - - - - - - -
	// #bundle-list-wrapper {
	// 	position:static;
	// }

	// keyword-list
	// ===================================
	#keyword-list {
		font-size: 0.9166666666rem; //1rem; //#{(7/8)}rem;
		line-height: 1.5rem;//1.090909091;//1.166666666; //1rem;

		// width: auto;
		// left: calc(#{$main_width_small} - #{$content_margin_left});
		// right: 0;

		left: auto;
		right: 0;
		width: 33.333333333%;//calc(100% / 3);
		// width: calc((100% - #{abs($margin_left - $margin_right)}) / 3);
		// width: calc(#{$aside_width_small} + #{$margin_right} + #{$margin_left});

		.list-item {
			@extend %list_item;
			height: 1.5rem;
			text-overflow: ellipsis;
			overflow: hidden;
			.label {
				font-size: inherit;//#{7/8 * 1rem};
				// line-height: 1;//1rem;
			}
		}
		.list-group {
			// margin-top: 0;
			height: 0;
			width: 100%; // width of #keyword-list
			.label {
				width: calc(50% + #{$content_margin_left});
				transform: moveX(-100%);
				padding: 0; margin: 0;
				& > span {
					padding: 0 0.25em;
					margin: 0 -0.25em;
				}
			}
		}

	}
	// &.with-bundle .container-collapsed #keyword-list {
	// 	padding-top: 0.75rem;
	// }
	&.with-media .container-collapsed #keyword-list {
		opacity: 0;
		visibility: 0;
	}

	// keyword-list-wrapper
	// - - - - - - - - - - - - - - - - - -
	#keyword-list-wrapper {
		left: 0;
		// position:static;
	}
	// &.with-media .container-collapsed #keyword-list-wrapper {
	// 	z-index: 0;
	// }

	// keyword-list list-group
	// - - - - - - - - - - - - - - - - - -
	&.with-bundle .navigation:not(.container-expanded) #keyword-list {
		// padding-top: 1.5rem;
		.list-group {
			height: 0;
			visibility: hidden;
			opacity: 0;
		}
	}

	// site-name
	// ===================================
	#site-name {
		@extend %nav_font;
		font-weight: 600;
	}
	&.with-bundle .container-expanded #site-name {
		transform: moveX();
	}

	// site-name-wrapper
	// - - - - - - - - - - - - - - - - - -
	#site-name-wrapper {
		width: 100%;
	}

	// article-button
	// ===================================
	.article-button {
		@extend %nav_font;
		font-weight: 400;
	}
	&.with-bundle .container-expanded .article-button {
		transform: moveX();
		a {
			visibility: visible;
			opacity: 1;
			transition: tx(visibility, 3, 0, step-start), tx(opacity, 1, 0), tx(color, 1, 1);
		}
	}

	.article-button#about-button {
		top: 1.5rem;//0.333333333em;
	}

	// article-list-wrapper (vertical movements)
	// - - - - - - - - - - - - - - - - - -
	#article-list-wrapper {
		width: 100%;//$page_width_small;
	}

	// NOTE: these elements need symmetrical padding
	#site-name, .article-button {
		padding-right: $margin_left;
	}

	// Common
	// ===================================
	// #bundle-list, #keyword-list {
	// 	padding-top: 4.5rem;
	// }
	#site-name-wrapper, #article-list-wrapper {
		transform: moveY(0rem);
	}
	&.with-bundle .container-expanded {
		#bundle-list, #keyword-list {
			padding-top: 6rem;
		}
		#site-name-wrapper, #article-list-wrapper {
			transform: moveY(0rem);
		}
	}
	&.without-article.without-bundle {
		#bundle-list, #keyword-list {
			padding-top: 6rem;
		}
		#site-name-wrapper, #article-list-wrapper {
			transform: moveY(0rem);
		}
	}

	// nav-graph
	// - - - - - - - - - - - - - - - - - -
	#nav-graph {
		width: 100%;//$page_width_small;
	};

	// ///////////////////////////////////
	// content children
	// ///////////////////////////////////

	// media-carousel
	// ===================================

	$ctrl_height: 2.1rem;
	$ctrl_width: $rhu * 1.05;//2.1rem;

	$margin_top: $nav_top_small + $nav_height_small; //4.5rem; //$ctrl_height + 1rem;
	$margin_bottom: 3rem;

	// $carousel_item_height: calc(100% - #{($margin_top + $margin_bottom)});

	.media-carousel {
		max-width: $page_width_max;
		min-width: 0;
		width: auto;
		left: 0;
		right: 0;

		top: $nav_top_small + $nav_height_small;

		margin-top: #{-$margin_top};
		padding-top: $margin_top;
		padding-bottom: $margin_bottom;

		.carousel-item {
			width: auto;
			height: calc(100% - #{$margin_top + $margin_bottom});
			left: $margin_left;
			right: $margin_right;
			margin-left: $margin_left;
			margin-right: $margin_right;
			.sizing {
				margin-left: $content_margin_left;
				margin-right: $content_margin_right;
			}
		}
		.empty-item {
			width: calc((100% - #{abs($margin_left * 2 + $margin_right * 2 + $content_margin_left + $content_margin_right)}) * (2/3));
		}
		.media-item {
			.placeholder:before {
				font-size: 18vw;
				padding: 5%;
			}
			// .placeholder:before,
			.error-message {
				padding: 7%;
			}
		}
	}
	.container-expanded .media-carousel {
		transform: moveY(#{$nav_collapse_offset * 0.6666666});
	}
	.playable-renderer {
		.top-bar {
			height: $ctrl_height;
			margin-bottom: 1rem;
		}
		.bottom-bar {
			height: $ctrl_height;
			margin-bottom: 1rem;
		}
		.progress-meter {
			// width: 100%; height: auto;
			// width: auto; height: 100%;
			width: $ctrl_height;//2.1rem;
			height: $ctrl_height;//2.1rem;
			font-size: 75%;
			line-height: 1;
		}
		// .top-bar {
		// 	margin: 1.5rem -0.5rem;
		// 	top: 0;
		// 	direction: ltr;
		// 	z-index: 4;
		//
		// 	width: $ctrl_width;
		// 	flex-direction: column;
		// 	direction: ltr;
		// 	top: 0;
		// 	right: 100%;
		// 	width: auto;
		// 	height: calc(100% + 1rem);
		// 	margin: -0.5rem #{$hu / 2};
		// 	& > * {
		// 		padding: 0.5rem 0;
		// 	}
		// }
	}

	// media-caption-stack
	// ===================================
	.media-caption-stack {
		top: 1.5rem;
		margin: 0;
		// margin-left: #{$margin_left*2};
		// margin-right: 7rem;

		margin-left: $margin_left * 2;// + $content_margin_left;
		margin-right: $margin_right * 2;// + $content_margin_right;

		// space for carousel ctrls: 7rem
		width: auto;//calc(100% - #{$margin_left*2} - 7rem);

		.stack-item {
			top: 0;
			bottom: auto;
		}
		.content {
			max-height: 6rem; //4.5rem;
			overflow: hidden;
		}
		.content p {
			@extend %nav_font;
			margin-left: 0;
		}
	}

	// media-dotnav
	// ===================================
	.media-dotnav {
		padding-left: $margin_left;
		padding-right: $margin_right;
		width: auto;
		bottom: 0.75rem;
		.list-item {
			// padding: 0 0.25rem;
			padding: 0 0.3333333rem;
		}
	}
	// #container {
	// 	transition: tx(height, 1, 0);
	// }

	& {
		overflow-y: scroll;
		#container {
			overflow-y: visible;
		}
	}


	// article-view
	// ===================================
	&.without-bundle {
		// height: auto;
		// overflow: visible;
		overscroll-behavior: none;
		overflow-x: hidden;
		overflow-y: scroll;

		#container {
		// 	position: relative;
			overscroll-behavior: none;
			overflow-x: hidden;
			overflow-y: scroll;
		// 	top: auto;
		// 	bottom: auto;
		// 	height: auto;
		// 	min-height: 0;
		// 	max-height: none;
		}
		#container,
		#container #content {
			position: relative;
			overflow: visible;
			top: auto;
			bottom: auto;
			height: auto;
			min-height: 0;
			max-height: none;
		}
	}

	.article-view {
		width: calc(100% - #{$margin_left*2 + $margin_right*2});
		left: $margin_left * 2;
		right: $margin_right * 2;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;//$content_margin_left;
		padding-right: 0;//$content_margin_right;

		/* NOTE: these values depend on #navigation being absolute or relative */
		// overflow: hidden;
		// overflow-y: scroll;
		// position: relative;
		// top: 0;
		top: auto;
		// top: $nav_height_small;
		bottom: auto;
		height: auto;
		min-height: 0;
		max-height: none;
		overflow: visible;

		margin-top: 0;
		margin-bottom: 0;
		padding-top: 0;//$nav_height_small;
		padding-bottom: 4.5rem;
		// margin-top: -1rem;
		// margin-top: $nav_height_small;
		// margin-bottom: 4.5rem;


		&.markdown-html {
			:first-child {
				margin-top: 0;
			}
			h1, h2, h3, h4, p {
				padding-left: $content_margin_left;
				padding-right: $content_margin_right;
			}
			h1, h2, p {
				margin-left: 0;//$aside_width_small;
			}
			h3, h4 {
				width: auto;//$aside_width_small;
				float: none;
				clear: none;
			}
		}
	}
}
