// ///////////////////////////////////
// media query : fullwidth-small
// ///////////////////////////////////

// layout variables
// - - - - - - - - - - - - - - - - - -

$default_page_width_min: 375px;

@mixin ss_variables {
	--aw: 38vw;
	--pl: 4vw;
	--ml: 4vw;
	--cml: 1vw;
	--cmr: 1vw;
}

// ///////////////////////////////////
// Root
// ///////////////////////////////////

html.fullwidth-small {
	font-size:10px;
}

@include media(fullwidth-small) {

	@include ss_variables;

	%leaf_content_label {
		@include optical_margins(1ex, 0);
	}

	// container navigation content
	// - - - - - - - - - - - - - - - - - -
	// #container {
	// 	min-width: $default_page_width_min;
	// }

	// bundle-list
	// ===================================
	// #bundle-list {
	// 	left: 0;
	// 	right: calc(50% + #{$hu * 0.5});
	// 	width: auto;
	// }

	// keyword-list
	// ===================================
	#keyword-list {
		.list-group {
			// height: 0;
			height: 1.5rem;
			.label {
				width: auto;
				transform: moveX();
			}
		}
	}
// 	&.with-bundle
	.container-expanded {
		#bundle-list, #keyword-list {
			padding-top: $s_nav_height;
		}
	}
	#keyword-list {
		.list-group {
			margin-top: 0.5rem;
			&:first-child {
				margin-top: 0;
			}
		}
	}

	// ///////////////////////////////////
	// content
	// ///////////////////////////////////

	// media-carousel
	// ===================================

	.media-carousel {
		.empty-item {
			// FIXME FIXME FIXME : parallax breaks if item is not 100%;
			// right: calc(40% - 3px);
		}
	}
}
