// ///////////////////////////////////
// media query : Default
// ///////////////////////////////////

// -----------------------------------
// navigation
// -----------------------------------
#navigation {
	margin: 0 auto;
	max-width: $page_width;
	position: relative;
	top: 0;//$header_height_portrait;
	padding-top: $header_height_portrait;
}

// bundle-list
// - - - - - - - - - - - - - - - - - -
#bundle-list {
	@extend %nav_list;
	width: $main_width - $aside_width;
}

#keyword-list {
	@extend %nav_list;
	width: $aside_width;
	.list-item {
		width: 100%;
		height: 1.5rem;
	}
	.list-group {
		height: 0;
		width: calc(100% - #{$gutter});
		span {
			width: 100%;
			transform: move(-100%, 0);
		}
	}
}

// site-name
// - - - - - - - - - - - - - - - - - -
#site-name {
	margin-left: -1px;
	transform: move(0, 0);
}
.with-bundle #site-name {
	transform: move(-100%, 0);
}

// transform-wrappers
// -----------------------------------
.transform-wrapper {
	position: absolute;
	display: inline-block;
	// top: 0;
	left: 0;
}

// site-name-wrapper
// - - - - - - - - - - - - - - - - - -
#site-name-wrapper {
	width: 100%;
	// height: $nav_height_portrait;
}

// bundle-list-wrapper
// - - - - - - - - - - - - - - - - - -
#bundle-list-wrapper {
}

// keyword-list-wrapper
// - - - - - - - - - - - - - - - - - -
#keyword-list-wrapper {
	left: $main_width;
	transform: move(0, 0);
}

// -----------------------------------
// content
// -----------------------------------
#content {
	overflow: hidden;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	// width: 100%; height: 100%;
}

// image-carousel
// - - - - - - - - - - - - - - - - - -
.media-carousel {
	width: 100%;
	min-width: $page_width;
	top: $nav_height_portrait + $header_height_portrait - 3rem;
	transform: move(0,0);
	@at-root .container-expanded & {
		transform: move(0, $nav_collapse_extra);
	}
	
	.carousel-item {
		left: calc(50% - #{$page_width/2});
		// NOTE: empty-item narrow
		&.empty-item {
			width: $page_width/2 + $hu;
			// width: $main_width - $aside_width + $hu*4 - 9px;
		}
		&.media-item {
			width: $page_width;
		}
	}
	
}
.playable-renderer .progress-meter {
	top: -3.5rem; right: 0;
}

.removing-child.carousel .carousel-item .content {
	// NOTE: do not fade-out content when removing carousel:
	// Set delay longer than `.removing.media-carousel`'s fade-out duration,
	transition-delay: $delay * 5 !important;
	transition-timing-function: step-end !important;
}

// media-caption-stack
// - - - - - - - - - - - - - - - - - -
.media-caption-stack {
	transform: move(0, 0);
	position: relative;
	width: $page_width;
	top: $header_height_portrait + $nav_height_portrait;
	margin: 0 auto;
	margin-top: -3.75rem;
	@at-root .container-expanded & {
		transform: move(0, $nav_collapse_extra);
	}
	// @at-root .container-expanded &, &.removing-child {
	// 	& > .stack-item { opacity: 0; }
	// }
	&.disabled > .stack-item { opacity: 0; }
}

// media-dotnav
// - - - - - - - - - - - - - - - - - -
.media-dotnav {
	position: absolute;
	transform: move(0,0);
	bottom: 0.75em;
	left: 0; right: 0;
	margin: 0 auto;
	padding: 0 $hu;
	width: $page_width;
	font-size: 1.25rem;
	text-align: center;
	
	transition: tx(opacity, 1, 0);
	opacity: 1;
	@at-root .without-media &, .container-expanded &, .container-changing & {
		opacity: 0;
	}
}
