/* ---------------------- *
 * Vertical flow
 * ---------------------- */
// from: folio.scss @import "compass/layout";
// @include sticky-footer( 6em, "#container", "#container-footer", "#footer" );
// compass-core-1.0.1/stylesheets/compass/layout/_sticky-footer.scss
$footer-height: 8rem;

html, body {
	height: 100%;
}
#container {
	clear: both;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -$footer-height;
}
#container #container-footer {
	height: $footer-height;
}
#footer {
	clear: both;
	position: relative;
	height: $footer-height;
}

/* ---------------------- *
 * Wrapper
 * ---------------------- */

#container {
	width: 100%;
	display: block;
}

/* ---------------------- *
 *	View Layout
 * ---------------------- */

#header,
#navigation,
#content-detail,
#container-footer,
#footer {
	margin: 0 auto;
	padding-left: $page-margin-left;
	padding-right: $page-margin-right;
	width: #{$page-width - ($page-margin-right + $page-margin-left)};
	@media only screen and (min-width: $breakpoint-large) {
		width: #{$page-width-large - ($page-margin-right + $page-margin-left)};
	}
}

#content {
	position: relative;
}

/* ---------------------- *
 * Carousel
 * ---------------------- */

#bundle-images {
	position: relative;
}
/* carousel layout */
.image-list {
	overflow: hidden;
	padding: 1.5rem 0; height: 100%;
	margin: -1.5rem 0; width: 100%; min-width: $page-width;
}
.image-item {
	position: absolute;
}

.image-item {
	width: $page-width;
	left: calc(50% - #{$page-width/2});
	height: calc(100% - 3rem);
	@media only screen and (min-width: $breakpoint-large) {
		width: $page-width-large;
		left: calc(50% - #{$page-width-large/2});
	}
}


/* ---------------------- *
 * Content panels
 * ---------------------- */

#content-detail {
	position: absolute;
	left: 0; right: 0;
}

#bundle-detail {
	overflow: hidden;
//	padding: 1.25rem $page-margin-right 1.25rem $page-margin-left;
//
	display: none;
//	// margin: 0 auto;
//	// width: #{$page-width - $page-margin*2};
//	// height: 6rem;
//	// @include box-sizing(border-box);
	@media only screen and (min-width: $breakpoint-large) {
		display: block;
//		position: relative;
		width: #{$page-width-large - $page-width - $gutter};
//		right: calc(50% - #{$page-width-large/2});
//		max-height: calc(100% - 2.5rem);
//		top: 0;
		//---
		margin-left: auto;
	}
}

#image-detail,
#images-pager {
//	box-sizing: border-box;
////	@include box-sizing(border-box);
	display: block;
	position: absolute;
	bottom: 100%;
//	padding: 0 $page-margin-right 0 $page-margin-left;
//	width: $page-width;
//	left: calc(50% - #{$page-width/2});
//	@media only screen and (min-width: $breakpoint-large) {
//		width: $page-width-large;
//		left: calc(50% - #{$page-width-large/2});
//		padding-right: #{$page-width-large - $page-width + $page-margin-right};
//	}
}
#content-detail #image-detail,
#content-detail #images-pager{
	left: $page-margin-left;
	right: $page-margin-right;
	@media only screen and (min-width: $breakpoint-large) {
		padding-right: #{$page-width-large - $page-width};
	}
}


#image-detail {
	text-align: left;
}
#images-pager {
	text-align: right;
}

/*
 * App States
 */
body {
	color: lighten($color, 10%);
	background-color: $background-color;
	transition: color $duration $duration steps(6),
				background-color $duration $duration linear;
}
.text-color-faded {
	color: lighten($color, 40%);
	transition: color $duration $duration steps(6);
}

