// ///////////////////////////////////
// Layout
// ///////////////////////////////////

// - - - - - - - - - - - - - - - - - -
// Abstract rules
// - - - - - - - - - - - - - - - - - -
@import "../includes/media-queries";
@import "../includes/transitions";

// -----------------------------------
// Root container
// -----------------------------------

html, body {
	height: 100%;
}

#container {
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
	min-width: $page_width;
	@include media(desktop-small) {
		min-width: $page_width_large;
	}
}

// - - - - - - - - - - - - - - - - - -
// footer
// - - - - - - - - - - - - - - - - - -
//@import "views/footer";

// ------------------------------------
// Body init
// ------------------------------------
.app-ready #container {
	transition:
		// visibility $duration step-start $delay,
		opacity $duration $ease $delay;
	// visibility: visible;
	opacity: 1;
}
.app-initial #container {
	// visibility: hidden;
	opacity: 0;
}
// body.skip-transitions *,
.app-initial * {
	@include skip_transitions;
}

// ------------------------------------
// Dynamic color
// ------------------------------------
// body default color values specified in "_base.scss"

.color-fg05 {
	color: lighten($color, 40%);
	border-color: lighten($color, 60%);
}
body, .color-tx {
	transition:
		background-color $duration $ease $delay,
		color $duration $ease $delay;
	// transition-property: background-color, color;
	// transition-delay: $delay + 0.001s;
	// transition-duration: $duration - 0.001s;
	// transition-timing-function: $ease;
}

// -----------------------------------
// Layer ordering
// -----------------------------------

#container {
	z-index: 1;
	#navigation {
		// z-index: 1;
		@at-root .transform-wrapper {
			z-index: 1;
			.list {
				z-index: 1;
			}
		}
	}
	#content {
		// z-index: 1;
		@at-root .media-carousel {
			z-index: 0;
			&.scrolling, &.panning {
				z-index: 2;
			}
			.carousel-item {
				z-index: 0;
				&.selected {
					z-index: 1;
				}
			}
		}
	}
}

// ///////////////////////////////////
// Layout utilities
// ///////////////////////////////////

// layout variables
// - - - - - - - - - - - - - - - - - -
$header_height_landscape: 1.25rem;
$header_height_portrait: 2.25rem;
$nav_height_landscape: 9rem;
$nav_height_portrait: 15rem;//13.5rem;//14.25rem;
$nav_height_landscape_right: $nav_height_landscape + 1.5rem;
$footer_height: 3rem;

$nav_collapse_extra: map-get($temp, collapse_offset) * 1px;//28rem;

// translate wrapper function
// - - - - - - - - - - - - - - - - - -
@mixin nav_translate($x, $y) {
	// transform: translate3d($x, $y, 0);
	transform: translate($x, $y);
}

// leaf elements
// - - - - - - - - - - - - - - - - - -
%leaf-content {
	box-sizing: border-box;
	padding-left: $hu;
	padding-right: $hu;
	&, * {
		@include user-select(none);
	}
}

// nav_list
// -----------------------------------
%nav_list {
	position: absolute;
	display: inline-block;
	will-change: transform;
	// transform-style: preserve-3d;
	@include nav_translate(0, #{$nav_height_portrait - 4.5rem});
}
.with-bundle %nav_list {
	// padding-top: 1.5rem;
	@include nav_translate(0, 0);
}

.transform-wrapper {
	will-change: transform;
}

// ///////////////////////////////////
// component defaults
// ///////////////////////////////////

@import "navigation";
@import "content";

// ///////////////////////////////////
// media queries
// ///////////////////////////////////

@import "layout.default";
@import "layout.desktop-small";
