// -----------------------------------
// Layout
// -----------------------------------

// - - - - - - - - - - - - - - - - - -
// Abstract rules
// - - - - - - - - - - - - - - - - - -

@import "../includes/_media-queries";

$header_height: 2.25rem;
$footer_height: 3rem;
$nav_height_landscape: 9rem;
$nav_height_portrait: 14.25rem;

// - - - - - - - - - - - - - - - - - -
// container elements
// - - - - - - - - - - - - - - - - - -

%page_region_static,
%page_region_abs {
	max-width: $page_width;
	@include media($desktop_small) {
		max-width: $page_width_large;
	}
}
%page_region_abs {
	position: absolute;
	left: calc(50% - #{$page_width/2});
	@include media($desktop_small) {
		left: calc(50% - #{$page_width_large/2});
	}
}
%page_region_static {
	margin: 0 auto;
}

// - - - - - - - - - - - - - - - - - -
// leaf elements
// - - - - - - - - - - - - - - - - - -

%leaf-content {
	box-sizing: border-box;
	padding-left: $hu;
	padding-right: $hu;
}

// - - - - - - - - - - - - - - - - - -
// container vertical movement
// - - - - - - - - - - - - - - - - - -

@mixin nav_transition($delay: $delay) {
//	transition: transform #{$duration - 0.001s} $ease #{$delay + 0.001s};
	transition-property: transform;
	transition-duration: #{$duration - 0.001s};
	transition-timing-function: $ease;
	transition-delay: #{$delay + 0.001s};
}
@mixin nav_translate($x, $y) {
	transform: translate3d($x, $y, 0);
}
%nav_list {
	position: absolute;
	display: inline-block;
//	@include nav_transition($delay: $delay * 1);
	@include nav_transition($delay: $delay * 0);
	@include nav_translate(0, #{$nav_height_portrait - 4.5rem});
}
.entering-bundle %nav_list {
	@include nav_transition($delay: $delay * 1);
}
.with-bundle %nav_list {
	@include nav_translate(0, 0);
}
@include media($desktop_small) {
	%nav_list {
		@include nav_translate(0, #{$nav_height_landscape - 1.5rem});
	}
	.with-bundle %nav_list {
		@include nav_translate(0, 0);
	}
}

.transform-wrapper {
//	transform-style: preserve-3d;
//	transform: translate3d(0,0,0) scale3d(1,1,1);
	@include nav_translate(0, 0);
}

// -----------------------------------
// Container, Header, Footer
// -----------------------------------

html, body {
	height: 100%;
}
#container {
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
	min-width: $page_width;
	@include media($desktop_small) {
		min-width: $page_width_large;
	}
}

//#header {
//	@extend %page_region_static;
//	height: 2.25rem;
//	h3 {
//		display: none;
//	}
//}
//
//// Footer rules from: folio.scss @import "compass/layout";
//// @include sticky_footer( 6em, "#container", "#container-footer", "#footer" );
//// compass-core-1.0.1/stylesheets/compass/layout/_sticky-footer.scss
//
//#container {
//	clear: both;
//	min-height: 100%;
//	height: auto !important;
//	height: 100%;
//	margin-bottom: -$footer_height;
//}
//#footer {
//	clear: both;
//	position: relative;
//	overflow: hidden;
//	.copyright {
//		display: none;
//	}
//}
//#container #container-footer, #footer {
//	@extend %page_region_static;
//	height: $footer_height;
//}

//#container {
//	position: relative;
//	height: calc(100% - #{$footer_height});
//}
//#content {
//	position: absolute;
//	top: 11.25rem;
//	bottom: 0rem;
//}

// - - - - - - - - - - - - - - - - - -
// navigation
// - - - - - - - - - - - - - - - - - -

#navigation {
	@extend %page_region_static;
	position: relative;
	top: $header_height;
}
@import "_navigation";

// - - - - - - - - - - - - - - - - - -
// content
// - - - - - - - - - - - - - - - - - -

#content {
	overflow: hidden;
	position: absolute;
//	position: relative;
//	box-sizing: content-box;
	box-sizing: border-box;
	width: 100%;
	top: 0;
	padding-top: $nav_height_portrait + $header_height;
//	padding-bottom: $footer_height;
//	height: 100%;
	height: calc(100% - #{$footer_height});
//	height: calc(100% - #{$nav_height_portrait + $header_height + $footer_height});
	@include media($desktop_small) {
		padding-top: $nav_height_landscape + $header_height;
//		padding-bottom: $footer_height;
//		height: calc(100% - #{$nav_height_landscape + $header_height + $footer_height});
	}
}
@import "_content";

// ------------------------------------
// Body init
// ------------------------------------

.app-ready #container {
	transition:
		visibility $duration $delay step-start,
		opacity $duration $delay $ease;
	visibility: visible;
	opacity: 1;
}

.app-initial #container {
	visibility: hidden;
	opacity: 0;
}

.app-initial *, body.skip-transitions * {
	@include skip_transitions;
}

// ------------------------------------
// Dynamic color
// ------------------------------------
// body default color values specified in "_base.scss"

.mutable-faded {
	color: lighten($color, 40%);
	border-color: lighten($color, 60%);
}

body, .mutable-faded {
	transition:
//		border-color $duration $ease $delay*2,
		background-color $duration $ease $delay*2,
		color $duration $ease $delay*2;
//	transition-timing-function: $ease;
//	transition-property: color, border-color, background-color;
//	transition-duration: $duration;
//	transition-delay: $delay * 2;
}

// -----------------------------------
// Layer ordering
// -----------------------------------
//		#site-name-wrapper, #bundle-list-wrapper, #keyword-list-wrapper
//		#bundle-pager {}

#container {
	z-index: 1;
	#navigation {
//			z-index: 1;
		.transform-wrapper {
			z-index: 1;
			.list {
				z-index: 1;
//				.list-item, .group-item {
//					z-index: 2;
//				}
			}
		}
	}
	#content {
//			z-index: 1;
		.image-carousel {
			z-index: 0;
			&.scrolling, &.panning {
				z-index: 2;
			}
//			.carousel-item {
//				.placeholder, .content {
//					z-index: 3;
//				}
//			}
		}
	}
}
