// ///////////////////////////////////
// media query : $desktop-small
// ///////////////////////////////////

// layout variables
// - - - - - - - - - - - - - - - - - -
$nTopLand: 1.25rem;
$nHeightLand: 9rem;

@include media(desktop-small) {
// #content:after {
// 	top: $nTopLand + $nHeightLand; 
// 	max-width: $page_width_large;
// }

// -----------------------------------
// navigation
// -----------------------------------
#navigation {
	max-width: $page_width_large;
	top: $nTopLand;
	// padding-top: $nTopLand;
}

// nav_list
// -----------------------------------
%nav_list {
	transform: move(0, 0);
	// transform: move(0, 0.1px);
}
// .with-bundle %nav_list {
// 	transform: move(0, 0);
// }

// bundle-list
// - - - - - - - - - - - - - - - - - -
#bundle-list {
	width: $aside_width_large;
	padding-top: $nHeightLand;
}
&.with-bundle #bundle-list {
	padding-top: 1.5rem;
}

// keyword-list
// - - - - - - - - - - - - - - - - - -
#keyword-list {
	width: $aside_width_large;
	padding-top: $nHeightLand - 0.25rem;
}
&.with-bundle #keyword-list {
	padding-top: $nHeightLand - 0.25rem + 1rem;
}
&.with-bundle .container-expanded #keyword-list {
	padding-top: 1.25rem;
}

// keyword-list list-group
// - - - - - - - - - - - - - - - - - -
#keyword-list .list-group {
	width: calc(100% - #{$gutter});
	height: 0;
	// transform-style: flat;
}
&.with-bundle .navigation:not(.container-expanded) #keyword-list .list-group {
	height: 1.5rem;
	span {
		transform: move(0, 0);
	}
}

// site-name
// - - - - - - - - - - - - - - - - - -
&.with-bundle .container-expanded #site-name {
// &.with-bundle .container-expanded #site-name-wrapper {
	transform: move(0, 0);
}

// transform-wrappers
// -----------------------------------
.transform-wrapper {
	transform: move(0, 0);
	// transform-style: preserve-3d;
	// transform-style: flat;
}

// site-name-wrapper
// - - - - - - - - - - - - - - - - - -

// bundle-list-wrapper
// - - - - - - - - - - - - - - - - - -
&.with-bundle .container-expanded #bundle-list-wrapper {
	transform: move($aside_width_large, 0);
}

// keyword-list-wrapper
// - - - - - - - - - - - - - - - - - -
#keyword-list-wrapper {
	left: $main_width_large;
}
&.with-media #keyword-list-wrapper {
	transform: move(-$main_width_large, 0);
}
&.with-bundle .container-expanded #keyword-list-wrapper {
	transform: move(0, 0);
}

// nav-graph
// - - - - - - - - - - - - - - - - - -
#nav-graph {
	left: $aside_width_large;
	width: $main_width_large - $aside_width_large;
}

// -----------------------------------
// content
// -----------------------------------
// #content {}

// image-carousel
// - - - - - - - - - - - - - - - - - -

// FIXME
$_fixme_kw_left: $main_width_large;
$_fixme_empty_width: $page_width_large - ($hu*2 + 7px);
$_fixme_empty_padding: $aside_width_large - ($hu*2 + 7px);

.media-carousel {
	min-width: $page_width_large;
	top: $nTopLand + $nHeightLand - 3rem;
	
	.carousel-item {
		left: calc(50% - #{$page_width_large/2});
		width: $page_width_large;
	}
	.empty-item {
		// width: $main_width_large;
		width: $_fixme_empty_width; // FIXME
		padding-right: $_fixme_empty_padding; // FIXME
		padding-left: 0;
	}
	.media-item {
		width: $main_width_large;
	}
	.empty-item p {
		font-size: 28px;
		line-height: 30px;
		&:first-child { margin-top: -4px; }
	}
}
// overrides carousel.playable.scss
.playable-renderer {
	.top-bar {
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		// top: -9.5rem; right: -$hu; 
		direction: ltr;
		width: auto;
		height: calc(100% + 1rem);
		margin: -0.5rem 1.25rem;
		& > * {
			padding: 0.5rem 0rem;
			// &:first-child { padding-inline-start: 0; }
			// &:last-child { padding-inline-end: 0; }
		}
	}
}

// media-caption-stack
// - - - - - - - - - - - - - - - - - -
.media-caption-stack {
	width: $page_width_large;
	.content {
		width: $main_width_large;
	}
	.content p {
		@include heading_font($weight: 300);//, $lead: 0.990);
	}
}

// media-dotnav
// - - - - - - - - - - - - - - - - - -
.media-dotnav {
	width: $page_width_large;
}

}// end media-query
