// ///////////////////////////////////
// media query : medium-wide-stretch
// ///////////////////////////////////

// vertical layout variables
// - - - - - - - - - - - - - - - - - -
$l_nav_top: 2rem;//2.5rem;
$l_nav_height: 20vh;//11rem;
$nav_collapse_offset: map-get($temp, collapse_offset) * 1px;

// horizontal layout variables
// - - - - - - - - - - - - - - - - - -
// $one_third: 100vw * (1/3);
// $two_thirds: 100vw * (2/3);

// $w_side_width_val: 240px;//20vw;
// $w_page_width_val: 80vw; //700px;
// $w_main_width_val: calc(#{$w_page_width_val} - #{$w_side_width_val});

$w_side_width_val: 18vw;//20vw;//20vw;
$w_main_width_val: 54vw;//40vw; //700px;
$w_page_width_val: #{$w_main_width_val + $w_side_width_val};
$w_page_left_val: 4vw;//2vw;
$w_page_right_val: 4vw;//2vw;
$w_margin_left_val: 28vw;//27vw;//1.25rem;//$rhu * (2/3);
$w_margin_right_val: 10vw;//6vw;//1.25rem;//$rhu * (1/3);
$w_content_left_val: 20px;//2vw;//2rem;//$rhu * (2/3);
$w_content_right_val: 20px;//2vw;//1rem;//$rhu * (1/3);

// $w_side_width: #{var(--sw, $w_side_width_val)};
// $w_page_width: #{var(--pw, $w_page_width_val)};
// $w_main_width: #{var(--mw, $w_main_width_val)};
// $w_page_left: #{var(--pl, $w_page_left_val)};
// $w_page_right: #{var(--pr, $w_page_right_val)};
// $w_margin_left: #{var(--ml, $w_margin_left_val)};
// $w_margin_right: #{var(--mr, $w_margin_right_val)};
// $w_content_left: #{var(--cml, $w_content_left_val)};
// $w_content_right: #{var(--cmr, $w_content_right_val)};

// @include media(medium-wide-stretch) {
// 	--sw: #{$w_side_width_val};
// 	--pw: #{$w_page_width_val};
// 	--mw: #{$w_main_width_val};
// 	--pl: #{$w_page_left_val};
// 	--pr: #{$w_page_right_val};
// 	--ml: #{$w_margin_left_val};
// 	--mr: #{$w_margin_right_val};
// 	--cml: #{$w_content_left_val};
// 	--cmr: #{$w_content_right_val};
// }

$w_side_width: $w_side_width_val;
$w_main_width: $w_main_width_val;
$w_page_width: $w_page_width_val;
$w_page_left: $w_page_left_val;
$w_page_right: $w_page_right_val;
$w_margin_left: $w_margin_left_val;
$w_margin_right: $w_margin_right_val;
$w_content_left: $w_content_left_val;
$w_content_right: $w_content_right_val;


// ///////////////////////////////////
// Root
// ///////////////////////////////////
//
// html {} body {}
@include media(medium-wide-stretch) {

	#navigation {
		max-width: $w_page_width;
		min-height: $l_nav_height;
		// max-height: calc(100vh - #{$l_nav_top});
		padding-top: $l_nav_top;
		// margin-top: $l_nav_top;
	}
	// #vpan-group {
	// 	height: calc(100% - #{$l_nav_top});
	// }

	#content {
		// margin-top: $l_nav_top;
		// margin-bottom: -$l_nav_top;
		padding-top: $l_nav_top;
	}

	// ///////////////////////////////////
	// navigation definitions
	// ///////////////////////////////////

	// nav_list
	// -----------------------------------
	%nav_list {
		transform: move();
		// transform: move(0, 0.1px);
	}

	// ///////////////////////////////////
	// navigation children
	// ///////////////////////////////////

	.transform-wrapper {
		transform: move();
		// transform-style: preserve-3d;
	}

	// Common alignment
	// ===================================
	// #bundle-list, #keyword-list {
	// 	padding-top: $l_nav_height;
	// }
	&.without-article.without-bundle,
	&.route-root {
		#bundle-list, #keyword-list {
			padding-top: $l_nav_height * 0.5;//4.5rem;//$nav_top_without_bundle;
		}
		#site-name-wrapper, #article-list-wrapper {
			// transform: moveY($l_nav_height * 0.5);
			transform: moveY(calc(#{$l_nav_height * 0.5} - 1.5rem));
			// transform: moveY(#{$l_nav_height * 0.5 - 1.5rem}); //$nav_top_without_bundle);
			// transform: moveY(3.0rem);//$nav_top_without_bundle);
		}
	}

	// bundle-list
	// ===================================
	#bundle-list {
		width: $w_side_width;
		// padding-top: $l_nav_height;
	}
	// &.with-bundle #bundle-list {
	// 	padding-top: 1.5rem;
	// }
	// &.without-bundle #bundle-list {
	// 	padding-top: $nav_top_without_bundle;
	// }

	// bundle-list-wrapper
	// - - - - - - - - - - - - - - - - - -
	#bundle-list-wrapper {
		transform: moveX($w_side_width);
	}
	&.with-bundle #bundle-list-wrapper {
		transform: moveX();
	}
	&.with-bundle .container-expanded #bundle-list-wrapper {
		transform: moveX($w_side_width);
	}

	// keyword-list
	// ===================================
	#keyword-list {
		//NOTE: clearance for .playable-item children mouse events
		width: $w_side_width;// - $gutter;
		// padding-top: $l_nav_height;// - 0.25rem;
		// transform: moveY(-0.25rem);
		// margin-top: -0.5rem;
	}
	&.with-bundle .container-collapsed #keyword-list {
		padding-top: ($l_nav_height);// - 1rem);
	}
	// &.with-bundle .container-expanded #keyword-list {
	// 	padding-top: 1.5rem;
	// }
	// &.without-bundle #keyword-list {
	// 	padding-top: $nav_top_without_bundle;// - 0.25rem;
	// }

	// keyword-list-wrapper
	// - - - - - - - - - - - - - - - - - -
	#keyword-list-wrapper {
		left: $w_main_width;
	}
	&.with-media #keyword-list-wrapper {
		transform: moveX(-$w_main_width);
	}
	&.with-bundle .container-expanded #keyword-list-wrapper {
		transform: moveX();
	}

	// keyword-list list-group
	// - - - - - - - - - - - - - - - - - -
	#keyword-list .list-group {
		//NOTE: compensate for #keyword-list clearance (c.f note above)
		width: 100%;
		height: 0;
	}
	/* NOTE: .list-group .label moves horizontally */
	&.with-bundle .navigation:not(.container-expanded) #keyword-list .list-group {
		height: 1.5rem;
		.label {
			transform: moveX();
		}
	}

	// site-name
	// ===================================
	&.with-bundle .container-expanded #site-name {
		transform: moveX();
	}

	// site-name-wrapper
	// - - - - - - - - - - - - - - - - - -
	#site-name-wrapper {
		width: $w_side_width;
		transform: moveY();
	}

	// article-button
	// ===================================
	&.with-bundle .container-expanded .article-button {
		transform: moveX();
		a {
			visibility: visible;
			opacity: 1;
			transition: tx(visibility, 3, 0, step-start),
			tx(opacity, 1, 0),
			tx(color, 1, 1);
		}
	}

	// article-list-wrapper
	// - - - - - - - - - - - - - - - - - -
	#article-list-wrapper {
		// display: inline-block;
		width: $w_side_width;
	}
	// &.route-bundle-list,
	// &.route-root {
	// 	#article-list-wrapper {
	// 		transform: moveY(5rem);
	// 	}
	// }

	// nav-graph
	// ===================================
	#nav-graph {
		left: $w_side_width;
		width: $w_main_width;
	}

	// ///////////////////////////////////
	// content
	// //////////////////////////////////

	$l_content_top: 1.5rem;
	$l_content_bottom: 4.5rem;

		// media-carousel
		// ===================================

		.media-carousel {
			max-width: none;//$w_page_width_max;
			min-width: 0;
			// width: auto; left: 0; right: 0;

			// top: $l_nav_top + $l_nav_height;
			top: calc(#{$l_nav_top} + #{$l_nav_height});
			height: calc(100%
			- #{$l_nav_top}
			- #{$l_nav_height}
			+ #{$l_content_top}
			);
			$l_carousel_item_height: calc(100%
			- #{$l_content_top}
			- #{$l_content_bottom}
			);

			margin-top: -#{$l_content_top};
			padding-top: $l_content_top;
			padding-bottom: $l_content_bottom;

			padding-left: $w_margin_left;
			padding-right: $w_margin_right;

			.carousel-item {
				width: auto;
				left: $w_page_left;
				right: $w_page_right;
				margin-left: $w_margin_left;
				margin-right: $w_margin_right;
				.sizing {
					margin-left: $w_content_left;
					margin-right: $w_content_right;
				}
			}
			.empty-item {
				max-height: $l_carousel_item_height;//calc(100% - #{$w_content_top + $w_content_bottom});
				// FIXME FIXME FIXME : parallax breaks if item is not 100%;
				width: auto;
				right: $w_side_width;
				// right: calc(#{$w_side_width} - #{$w_content_left}});
			}
			.media-item {
				height: $l_carousel_item_height;//calc(100% - #{$w_content_top + $w_content_bottom});
				.placeholder::before {
					font-size: 10vh;
					padding: 5%;
				}
				// .placeholder::before,
				.error-message {
					padding: 7%;
				}
			}
		}
		.container-expanded .media-carousel {
			transform: moveY(#{$nav_collapse_offset * 0.6666666});
		}

		// $ctrl_height: 2.1rem;
		// $ctrl_width: $rhu * 1.05;//2.1rem;

		// .playable-item {
		// 	.top-bar {
		// 		height: $ctrl_height;
		// 		margin-bottom: 1rem;
		// 	}
		// 	.bottom-bar {
		// 		height: $ctrl_height;
		// 		margin-bottom: 1rem;
		// 	}
		//
		// 	.progress-meter {
		// 		width: $ctrl_height;//2.1rem;
		// 		height: $ctrl_height;//2.1rem;
		// 		font-size: 75%;
		// 		line-height: 1;
		// 	}
		// 	// &[data-fit-dir="width"] .controls > .progress-meter {
		// 	// 	margin: 0 0 0 1rem;
		// 	// }
		// 	&[data-fit-dir="height"] .controls > .progress-meter {
		// 		margin: 0 0 0 1rem;
		// 	}
		// }

	// media-caption-stack
	// ===================================
	.media-caption-stack {
		@extend %char_2_2;
		// @include heading_font(300, 1.999999999rem, 2rem);

		top: 0; //$l_nav_top;
		margin-top: 0;
		width: $w_page_width;
		& > .stack-item {
			top: 0;
			bottom: auto;
		}
		.content {
			margin-left: $w_side_width;
			width: $w_main_width;
		}
		// .content p {
		// 	@include heading_font(300, 1.999999999rem, 1.166666666);
		// 	@include heading_font(300, 1.999999999rem, 1.25);
		// }
	}

	// media-dotnav
	// ===================================
	.media-dotnav {
		width: $w_page_width;
	}

	// article-view
	// ===================================
	.article-view {
		// top: $l_nav_top;
		width: $w_page_width;
		padding-right: $w_side_width;
		&.mdown {
			& > *:first-child {
				min-height: $l_nav_height;
			}
			& > * {
				padding-left: $w_side_width;
			}
			h3, h5 {
				margin-top: 0;
				padding-left: 0;
				padding-right: $w_content_left;
				width: $w_side_width;
			}
		}
	}
}
// end media-query
