// ///////////////////////////////////
// media query : medium-wide
// ///////////////////////////////////

// vertical layout variables
// - - - - - - - - - - - - - - - - - -
$l_nav_top: 2rem;
$l_nav_height: 11rem;

// horizontal layout variables
// - - - - - - - - - - - - - - - - - -
$w_page_width: 44 * $hu; //940px;
$w_side_width: 11 * $hu;
$w_main_width: $w_page_width - $w_side_width;

// ///////////////////////////////////
// Root
// ///////////////////////////////////

// html.medium-wide {}

@include media(medium-wide) {
	/* body */
	// padding-top: $l_nav_top;
	// padding-bottom: $l_nav_top;

	// container navigation content
	// - - - - - - - - - - - - - - - - - -
	// .container {
	// 	min-width: $w_page_width;
	// }

	#navigation {
		max-width: $w_page_width;
		min-height: $l_nav_height;
		// max-height: calc(100vh - #{$l_nav_top});
		padding-top: $l_nav_top;
		// margin-top: $l_nav_top;
	}
	// #vpan-group {
	// 	height: calc(100% - #{$l_nav_top});
	// }

	#content {
		// margin-top: $l_nav_top;
		// margin-bottom: -$l_nav_top;
		padding-top: $l_nav_top;
	}

	// ///////////////////////////////////
	// navigation definitions
	// ///////////////////////////////////

	// nav_list
	// -----------------------------------
	%nav_list {
		transform: move();
		// transform: move(0, 0.1px);
	}

	// ///////////////////////////////////
	// navigation children
	// ///////////////////////////////////

	.transform-wrapper {
		transform: move();
		// transform-style: preserve-3d;
	}

	// Common alignment
	// ===================================
	// &.route-article-item, &.with-article,
	&.without-article.without-bundle,
	&.route-root {
		#bundle-list, #keyword-list {
			padding-top: $l_nav_height * 0.5;//4.5rem;//$nav_top_without_bundle;
		}
		#site-name-wrapper, #article-list-wrapper {
			transform: moveY(#{$l_nav_height*0.5 - 1.5rem}); //$nav_top_without_bundle);
			// transform: moveY(3.0rem);//$nav_top_without_bundle);
		}
	}

	// bundle-list
	// ===================================
	#bundle-list {
		width: $w_side_width;
		// padding-top: $l_nav_height;
	}
	// &.with-bundle #bundle-list {
	// 	padding-top: 1.5rem;
	// }
	// &.without-bundle #bundle-list {
	// 	padding-top: $nav_top_without_bundle;
	// }

	// bundle-list-wrapper
	// - - - - - - - - - - - - - - - - - -
	#bundle-list-wrapper {
		transform: moveX($w_side_width);
	}
	&.with-bundle #bundle-list-wrapper {
		transform: moveX();
	}
	&.with-bundle .container-expanded #bundle-list-wrapper {
		transform: moveX($w_side_width);
	}

	// keyword-list
	// ===================================
	#keyword-list {
		//NOTE: clearance for .playable-item children mouse events
		width: $w_side_width;// - $gutter;
		// padding-top: $l_nav_height;// - 0.25rem;
		// transform: moveY(-0.25rem);
		// margin-top: -0.5rem;
	}
	&.with-bundle .container-collapsed #keyword-list {
		padding-top: ($l_nav_height - 1rem);
	}
	// &.with-bundle .container-expanded #keyword-list {
	// 	padding-top: 1.5rem;
	// }
	// &.without-bundle #keyword-list {
	// 	padding-top: $nav_top_without_bundle;// - 0.25rem;
	// }

	// keyword-list-wrapper
	// - - - - - - - - - - - - - - - - - -
	#keyword-list-wrapper {
		left: $w_main_width;
	}
	&.with-media #keyword-list-wrapper {
		transform: moveX(-$w_main_width);
	}
	&.with-bundle .container-expanded #keyword-list-wrapper {
		transform: moveX();
	}

	// keyword-list list-group
	// - - - - - - - - - - - - - - - - - -
	#keyword-list .list-group {
		//NOTE: compensate for #keyword-list clearance (c.f note above)
		width: 100%;
		height: 0;
	}
	/* NOTE: .list-group .label moves horizontally */
	&.with-bundle .navigation:not(.container-expanded) #keyword-list .list-group {
		height: 1.5rem;
		.label {
			transform: moveX();
		}
	}

	// site-name
	// ===================================
	&.with-bundle .container-expanded #site-name {
		transform: moveX();
	}

	// site-name-wrapper
	// - - - - - - - - - - - - - - - - - -
	#site-name-wrapper {
		width: $w_side_width;
		transform: moveY();
	}

	// article-button
	// ===================================
	&.with-bundle .container-expanded .article-button {
		transform: moveX();
		a {
			visibility: visible;
			opacity: 1;
			transition: tx(visibility, 3, 0, step-start),
			tx(opacity, 1, 0),
			tx(color, 1, 1);
		}
	}

	// article-list-wrapper
	// - - - - - - - - - - - - - - - - - -
	#article-list-wrapper {
		// display: inline-block;
		width: $w_side_width;
	}
	// &.route-bundle-list,
	// &.route-root {
	// 	#article-list-wrapper {
	// 		transform: moveY(5rem);
	// 	}
	// }

	// nav-graph
	// ===================================
	#nav-graph {
		left: $w_side_width;
		width: $w_main_width;
	}

	// ///////////////////////////////////
	// content
	// //////////////////////////////////

	// media-carousel
	// ===================================

	$l_content_top: 1.5rem;
	$l_content_bottom: 4.5rem;

	.media-carousel {
		min-width: $w_page_width;

		top: $l_nav_top + $l_nav_height;
		height: calc(100%
		- #{$l_nav_height + $l_nav_top}
		+ #{$l_content_top}
		);
		$l_carousel_item_height: calc(100%
		- #{$l_content_top + $l_content_bottom}
		);

		margin-top: -#{$l_content_top};
		padding-top: $l_content_top;
		padding-bottom: $l_content_bottom;

		.carousel-item {
			left: calc(50% - #{$w_page_width/2 + $hu});
			width: $w_page_width;
		}
		// FIXME FIXME FIXME : parallax breaks if item is not 100%;
		$_fixme_empty_adj: 12px;//7px;
		$_fixme_empty_val: $hu*2 + $_fixme_empty_adj;
		.empty-item {
			// width: $w_main_width;
			max-height: $l_carousel_item_height;
			width: $w_page_width - ($hu*2 + $_fixme_empty_adj);
			padding-right: $w_side_width - ($hu*2 + $_fixme_empty_adj);
			padding-left: 0;
		}
		.media-item {
			width: $w_main_width;
			margin-left: $w_side_width + $hu;
			height: $l_carousel_item_height;
		}
		// .empty-item .content {
		// font-size: 28px;
		// line-height: 30px;
		// @include heading_font(300, 28px, 36px);
		// }
		// .empty-item .content *:first-child {
		// 	margin-top: -4px;
		// }
	}
	// .media-carousel {
	// 	.carousel-item.media-item {
	// 		margin-left: $w_side_width + $hu;
	// 	}
	// }
	// .carousel-item.empty-item p {
	// 	padding-right: $hu*2;
	// }
	// .disabled .empty-item transitions
	.disabled .carousel-item.empty-item .content {
		// transition: tx(transform, 1, 1), tx(opacity, 3, 0);
		transition: tx(transform, 1, 0, step-end), tx(opacity, 0.5, 0) !important;
	}
	:not(.scrolling) .carousel-item.empty-item.selected .content {
		transform: moveX(); //opacity: 1;
	}
	.disabled .carousel-item.empty-item.selected .content {
		transform: moveX($w_side_width); //opacity: 0.5;
	}
	.container-changed .carousel-item.empty-item.selected .content {
		opacity: 0 !important;
		// transition: tx(transform, 1, 0, step-end), tx(opacity, 1, 0) !important;
	}

	// overrides carousel.playable.scss
	.playable-item {
		&[data-fit-dir] .controls {
			// & > .fullscreen-toggle
			& > .progress-meter {
				top: 0;
				bottom: auto;
				left: auto;
				right: 100%;
				margin: 0 1.5rem 0 0;
			}
		}
	}

	// media-caption-stack
	// ===================================
	.media-caption-stack {
		@extend %char_2_2;

		margin-top: 0;
		width: $w_page_width;
		top: 0; //$l_nav_top;
		& > .stack-item {
			top: 0;
			bottom: auto;
		}
		.content {
			margin-left: $w_side_width;
			width: $w_main_width;
		}
		// .content p {
		// 	@include heading_font(300, 1.999999999rem, 1.166666666);
		// 	@include heading_font(300, 1.999999999rem, 1.25);
		// }
	}

	// media-dotnav
	// ===================================
	.media-dotnav {
		width: $w_page_width;
	}

	// article-view
	// ===================================
	.article-view {
		// top: $l_nav_top;
		width: $w_page_width;
		padding-right: $w_side_width;
	}
}
// end media-query
