// ///////////////////////////////////
// media query : medium-wide-stretch
// ///////////////////////////////////

// vertical layout variables
// - - - - - - - - - - - - - - - - - -
$ls_nav_top: 2vh;//2rem;//2.5rem;
$ls_nav_height: 20vh;//11rem;

// horizontal layout variables
// - - - - - - - - - - - - - - - - - -
$ws_side_width_val: 18vw;//20vw;//20vw;
$ws_main_width_val: 54vw;//40vw; //700px;
$ws_page_width_val: #{$ws_main_width_val + $ws_side_width_val};

$ws_page_left_val: 4vw;//2vw;
$ws_page_right_val: 4vw;//2vw;
$ws_margin_left_val: 28vw;//27vw;//1.25rem;//$rhu * (2/3);
$ws_margin_right_val: 10vw;//6vw;//1.25rem;//$rhu * (1/3);
$ws_content_left_val: 20px;//2vw;//2rem;//$rhu * (2/3);
$ws_content_right_val: 20px;//2vw;//1rem;//$rhu * (1/3);

// $ws_side_width: #{var(--sw, $ws_side_width_val)};
// $ws_page_width: #{var(--pw, $ws_page_width_val)};
// $ws_main_width: #{var(--mw, $ws_main_width_val)};
// $ws_page_left: #{var(--pl, $ws_page_left_val)};
// $ws_page_right: #{var(--pr, $ws_page_right_val)};
// $ws_margin_left: #{var(--ml, $ws_margin_left_val)};
// $ws_margin_right: #{var(--mr, $ws_margin_right_val)};
// $ws_content_left: #{var(--cml, $ws_content_left_val)};
// $ws_content_right: #{var(--cmr, $ws_content_right_val)};

// @include media(medium-wide-stretch) {
// 	--sw: #{$ws_side_width_val};
// 	--pw: #{$ws_page_width_val};
// 	--mw: #{$ws_main_width_val};
// 	--pl: #{$ws_page_left_val};
// 	--pr: #{$ws_page_right_val};
// 	--ml: #{$ws_margin_left_val};
// 	--mr: #{$ws_margin_right_val};
// 	--cml: #{$ws_content_left_val};
// 	--cmr: #{$ws_content_right_val};
// }

$ws_side_width: $ws_side_width_val;
$ws_main_width: $ws_main_width_val;
$ws_page_width: $ws_page_width_val;
$ws_page_left: $ws_page_left_val;
$ws_page_right: $ws_page_right_val;
$ws_margin_left: $ws_margin_left_val;
$ws_margin_right: $ws_margin_right_val;
$ws_content_left: $ws_content_left_val;
$ws_content_right: $ws_content_right_val;


// ///////////////////////////////////
// Root
// ///////////////////////////////////
//
// html {} body {}
@include media(medium-wide-stretch) {

	#navigation {
		max-width: $ws_page_width;
		min-height: $ls_nav_height;
		// max-height: calc(100vh - #{$ls_nav_top});
		padding-top: $ls_nav_top;
		// margin-top: $ls_nav_top;
	}
	// #vpan-group {
	// 	height: calc(100% - #{$ls_nav_top});
	// }

	#content {
		// margin-top: $ls_nav_top;
		// margin-bottom: -$ls_nav_top;
		padding-top: $ls_nav_top;
	}

	// ///////////////////////////////////
	// navigation definitions
	// ///////////////////////////////////

	// nav_list
	// -----------------------------------
	%nav_list {
		transform: move();
		// transform: move(0, 0.1px);
	}

	// ///////////////////////////////////
	// navigation children
	// ///////////////////////////////////

	.transform-wrapper {
		transform: move();
		// transform-style: preserve-3d;
	}

	// Common alignment
	// ===================================
	// #bundle-list, #keyword-list {
	// 	padding-top: $ls_nav_height;
	// }
	// &.route-article-item, &.with-article,
	&.without-article.without-bundle,
	&.route-root {
		#bundle-list, #keyword-list {
			padding-top: $ls_nav_height * 0.5;//4.5rem;//$nav_top_without_bundle;
		}
		#site-name-wrapper, #article-list-wrapper {
			// transform: moveY($ls_nav_height * 0.5);
			transform: moveY(calc(#{$ls_nav_height * 0.5} - 1.5rem));
			// transform: moveY(#{$ls_nav_height * 0.5 - 1.5rem}); //$nav_top_without_bundle);
			// transform: moveY(3.0rem);//$nav_top_without_bundle);
		}
	}

	// bundle-list
	// ===================================
	#bundle-list {
		width: $ws_side_width;
		// padding-top: $ls_nav_height;
	}
	// &.with-bundle #bundle-list {
	// 	padding-top: 1.5rem;
	// }
	// &.without-bundle #bundle-list {
	// 	padding-top: $nav_top_without_bundle;
	// }

	// bundle-list-wrapper
	// - - - - - - - - - - - - - - - - - -
	#bundle-list-wrapper {
		transform: moveX($ws_side_width);
	}
	&.with-bundle #bundle-list-wrapper {
		transform: moveX();
	}
	&.with-bundle .container-expanded #bundle-list-wrapper {
		transform: moveX($ws_side_width);
	}

	// keyword-list
	// ===================================
	#keyword-list {
		//NOTE: clearance for .playable-item children mouse events
		width: $ws_side_width;// - $gutter;
		// padding-top: $ls_nav_height;// - 0.25rem;
		// transform: moveY(-0.25rem);
		// margin-top: -0.5rem;
	}
	&.with-bundle .container-collapsed #keyword-list {
		padding-top: calc(#{$ls_nav_height} - 1rem);// - 1rem);
	}
	// &.with-bundle .container-expanded #keyword-list {
	// 	padding-top: 1.5rem;
	// }
	// &.without-bundle #keyword-list {
	// 	padding-top: $nav_top_without_bundle;// - 0.25rem;
	// }

	// keyword-list-wrapper
	// - - - - - - - - - - - - - - - - - -
	#keyword-list-wrapper {
		left: $ws_main_width;
	}
	&.with-media #keyword-list-wrapper {
		transform: moveX(-$ws_main_width);
	}
	&.with-bundle .container-expanded #keyword-list-wrapper {
		transform: moveX();
	}

	// keyword-list list-group
	// - - - - - - - - - - - - - - - - - -
	#keyword-list .list-group {
		//NOTE: compensate for #keyword-list clearance (c.f note above)
		width: 100%;
		height: 0;
	}
	/* NOTE: .list-group .label moves horizontally */
	&.with-bundle .navigation:not(.container-expanded) #keyword-list .list-group {
		height: 1.5rem;
		.label {
			transform: moveX();
		}
	}

	// site-name
	// ===================================
	&.with-bundle .container-expanded #site-name {
		transform: moveX();
	}

	// site-name-wrapper
	// - - - - - - - - - - - - - - - - - -
	#site-name-wrapper {
		width: $ws_side_width;
		transform: moveY();
	}

	// article-button
	// ===================================
	&.with-bundle .container-expanded .article-button {
		transform: moveX();
		a {
			visibility: visible;
			opacity: 1;
			transition: tx(visibility, 3, 0, step-start),
			tx(opacity, 1, 0),
			tx(color, 1, 1);
		}
	}

	// article-list-wrapper
	// - - - - - - - - - - - - - - - - - -
	#article-list-wrapper {
		// display: inline-block;
		width: $ws_side_width;
	}
	// &.route-bundle-list,
	// &.route-root {
	// 	#article-list-wrapper {
	// 		transform: moveY(5rem);
	// 	}
	// }

	// nav-graph
	// ===================================
	#nav-graph {
		left: $ws_side_width;
		width: $ws_main_width;
	}

	// ///////////////////////////////////
	// content
	// //////////////////////////////////

	// media-carousel
	// ===================================

	$ls_content_top: 4.5rem;
	$ls_content_bottom: 4.5rem;

	.media-carousel {
		max-width: none;
		min-width: 0;

		top: $ls_nav_height + $ls_nav_top;
		height: calc(100%
		- #{$ls_nav_height + $ls_nav_top}
		+ #{$ls_content_top}
		);
		$ls_carousel_item_height: calc(100%
		- #{$ls_content_top + $ls_content_bottom}
		);

		margin-top: -#{$ls_content_top};
		padding-top: $ls_content_top;
		padding-bottom: $ls_content_bottom;

		padding-left: $ws_margin_left;
		padding-right: $ws_margin_right;

		.carousel-item {
			width: auto;
			left: $ws_page_left;
			right: $ws_page_right;
			margin-left: $ws_margin_left;
			margin-right: $ws_margin_right;
			.sizing {
				margin-left: $ws_content_left;
				margin-right: $ws_content_right;
			}
		}
		.empty-item {
			max-height: $ls_carousel_item_height;//calc(100% - #{$ws_content_top + $ws_content_bottom});
			// FIXME FIXME FIXME : parallax breaks if item is not 100%;
			width: auto;
			right: $ws_side_width;
			// right: calc(#{$ws_side_width} - #{$ws_content_left}});
		}
		.media-item {
			height: $ls_carousel_item_height;//calc(100% - #{$ws_content_top + $ws_content_bottom});
			.placeholder::before {
				font-size: 10vh;
				padding: 5%;
			}
			// .placeholder::before,
			.error-message {
				padding: 7%;
			}
		}
	}
	.container-expanded .media-carousel {
		transform: moveY(#{$nav_collapse_offset * 0.6666666});
	}

	// $ctrl_height: 2.1rem;
	// $ctrl_width: $rhu * 1.05;//2.1rem;

	// .playable-item {
	// 	.top-bar {
	// 		height: $ctrl_height;
	// 		margin-bottom: 1rem;
	// 	}
	// 	.bottom-bar {
	// 		height: $ctrl_height;
	// 		margin-bottom: 1rem;
	// 	}
	//
	// 	.progress-meter {
	// 		width: $ctrl_height;//2.1rem;
	// 		height: $ctrl_height;//2.1rem;
	// 		font-size: 75%;
	// 		line-height: 1;
	// 	}
	// 	// &[data-fit-dir="width"] .controls > .progress-meter {
	// 	// 	margin: 0 0 0 1rem;
	// 	// }
	// 	&[data-fit-dir="height"] .controls > .progress-meter {
	// 		margin: 0 0 0 1rem;
	// 	}
	// }

	// media-caption-stack
	// ===================================
	.media-caption-stack {
		@extend %char_2_2;
		// @include heading_font(300, 1.999999999rem, 2rem);

		top: 0; //$ls_nav_top;
		margin-top: 0;
		width: $ws_page_width;
		& > .stack-item {
			top: 0;
			bottom: auto;
		}
		.content {
			margin-left: $ws_side_width;
			width: $ws_main_width;
		}
		// .content p {
		// 	@include heading_font(300, 1.999999999rem, 1.166666666);
		// 	@include heading_font(300, 1.999999999rem, 1.25);
		// }
	}

	// media-dotnav
	// ===================================
	.media-dotnav {
		width: $ws_page_width;
	}

	// article-view
	// ===================================
	.article-view {
		// top: $ls_nav_top;
		width: $ws_page_width;
		padding-right: $ws_side_width;
		&.mdown {
			// & > *:first-child {
			// 	min-height: $ls_nav_height;
			// }
			& > * {
				padding-left: $ws_side_width;
			}
			h3, h5 {
				margin-top: 0;
				padding-left: 0;
				padding-right: $ws_content_left;
				width: $ws_side_width;
			}
		}
	}
}
// end media-query
