// -----------------------------------
// Navigation
// -----------------------------------

// - - - - - - - - - - - - - - - - - -
// leaf elements
// - - - - - - - - - - - - - - - - - -

#site-name, .list-item, .list-group {
	@extend %leaf-content;
}

// site-name
// - - - - - - - - - - - - - - - - - -
#site-name {
	@include heading_font();
	position: relative;
	display: inline-block;
	top: 1.5rem;
	min-height: 2rem;
}

#site-name a {
	transition: color $duration $ease $delay * 2;
	color: $link_color;
}
.with-bundle .expanded #site-name a {
	color: inherit;
}

// -----------------------------------
// FilterableList
// -----------------------------------
@import "../components/_filterable";

// bundle-list
// - - - - - - - - - - - - - - - - - -
#bundle-list {
	@include heading_font();
	min-height: 4.5rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	.list-item {
		height: 2rem;
		width: 100%;
		white-space: nowrap;
		a {
			display: inline-block;
			margin-left: -1px;
		}
		.completed {
			display: none;
		}
		em {
			font-style: normal;
			font-weight: 400;
		}
	}
}

// keyword-list
// - - - - - - - - - - - - - - - - - -
#keyword-list {
	// margin-top: -0.25rem;
	padding-top: 1.25rem;
	padding-bottom: 1.5rem;
	.list-item {
		white-space: nowrap;
		a {
			display: inline-block;
			margin-left: -1px;
			font-size: 13px;
		}
	}
	.list-group {
		// NOTE: in js, this value is ignored when height is zero
		margin-top: 0.5rem; 
		.name {//span {
			display: inline-block;
			margin-left: -1px;
			@include small_caps($lead: 1.5rem);
		}
	}
}

// bundle-pager
// - - - - - - - - - - - - - - - - - -
/*@import "components/_pager.folio";
#bundle-pager {
	position: absolute;
	display: inline-block;
	top: -1rem;
	.button {
		position: absolute;
		margin-left: 0 !important;
		opacity: 0;
		.name {
			min-width: $aside_width;
		}
	}
	.following-button {
		left: $main_width;
		@include media(desktop-small) {
			left: $aside_width_large;
		}
	}
}
#bundle-pager .button {
	@extend %leaf-content;
}
*/

// - - - - - - - - - - - - - - - - - -
// TEMP
// - - - - - - - - - - - - - - - - - -

#keyword-list .list-item:before {
	content: "*";
	font-size: 1.25em;
	line-height: 0.75em;
	position: absolute;
	display: inline-block;
	top: 0.375em;
	left: 0;
	width: 0.5em;
	height: 0.5em;
	opacity: 0;
}

.with-bundle {
	#keyword-list {
		.list-item:before {
			transition: tx(opacity, 1, 1);//$duration $ease $delay;
		}
		&:not(.collapsed) .list-item:not(.excluded):before {
			opacity: 1;
		}
	}
	#bundle-list {
		.list-item.selected .name {
			transition: color $duration steps(16);//$ease;// $delay;
		}
		&:not(.collapsed) .list-item.selected .name {
			// transition: color $duration steps(16);//$ease;// $delay;
			color: $link_color;
			// color: hsla(0 ,0% ,100% ,0.75);
			// text-shadow:
			// 	-4px 0px rgba(255, 0, 0, 0.33),
			// 	0px 0px rgba(0, 0, 255, 0.33),
			// 	4px 0px rgba(64, 255, 32, 0.5)
		}
	}
}
