// ///////////////////////////////////
// media query : small-stretch
// ///////////////////////////////////

// ///////////////////////////////////
// Definitions
// ///////////////////////////////////

$rhu: 1.666666666rem;
$one_third: 100vw * (1/3);
$two_thirds: 100vw * (2/3);

// layout variables
// - - - - - - - - - - - - - - - - - -
$s_nav_top: 1.166666666rem;
$s_nav_bottom: 0;
$s_nav_height: 20vh;//25%;// 7rem;//6.5rem;
$s_page_width_max: none;//704px;

$s_aside_width_val: 32vw;
$s_page_left_val: 2vw;
$s_page_right_val: 2vw;
$s_margin_left_val: 6vw;//1.25rem;//$rhu * (2/3);
$s_margin_right_val: 2vw;//1.25rem;//$rhu * (1/3);
$s_content_left_val: 2vw;//2rem;//$rhu * (2/3);
$s_content_right_val: 2vw;//1rem;//$rhu * (1/3);

$s_aside_width: $s_aside_width_val;
$s_page_left: $s_page_left_val;
$s_page_right: $s_page_right_val;
$s_margin_left: $s_margin_left_val;
$s_margin_right: $s_margin_right_val;
$s_content_left: $s_content_left_val;
$s_content_right: $s_content_right_val;

// @if $debug {
// 	$s_aside_width: #{var(--aw, $s_aside_width_val)};
// 	$s_page_left: #{var(--pl, $s_page_left_val)};
// 	$s_page_right: #{var(--pr, $s_page_right_val)};
// 	$s_margin_left: #{var(--ml, $s_margin_left_val)};
// 	$s_margin_right: #{var(--mr, $s_margin_right_val)};
// 	$s_content_left: #{var(--cml, $s_content_left_val)};
// 	$s_content_right: #{var(--cmr, $s_content_right_val)};
//
// 	@include media(small-stretch) {
// 		--aw: #{$s_aside_width_val};
// 		--pl: #{$s_page_left_val};
// 		--pr: #{$s_page_right_val};
// 		--ml: #{$s_margin_left_val};
// 		--mr: #{$s_margin_right_val};
// 		--cml: #{$s_content_left_val};
// 		--cmr: #{$s_content_right_val};
// 	}
// }

// ///////////////////////////////////
// Root
// ///////////////////////////////////

// html.small-stretch {}

// @import "views/mobile.mdown";

@include media(small-stretch) {

	// @if ($debug) { @include s_variables; }
	// @include s_variables;

	/* body */
	 @at-root {
		@media (orientation:landscape){
			#container {
				min-height: calc(100% + 1px);
			}
		}
	}
	// width: 100%;
	// overflow: hidden;
	// overflow-y: auto;
	// padding-top: $s_nav_top;
	// padding-bottom: $s_nav_top;

	// & {
	// 	overflow-y: scroll;
	// }

	// container navigation content
	// - - - - - - - - - - - - - - - - - -
	// #container {
	// 	overflow-y: visible;
	// }
	// .container {
	// 	padding-left: $s_page_left;
	// 	padding-right: $s_page_right;
	// }

	#navigation {
		width: auto;
		max-width: $s_page_width_max;
		margin-left: $s_margin_left;
		margin-right: $s_margin_right;

		min-height: $s_nav_height;
		// max-height: calc(100vh - #{($s_nav_top + $s_nav_bottom)});
		padding-top: $s_nav_top;
		// padding-bottom: $s_nav_bottom;
		// margin-top: $s_nav_top;
		// margin-bottom: $s_nav_bottom;
	}
	// #vpan-group {
	// 	height: calc(100% - #{($s_nav_top + $s_nav_bottom)});
	// }

	#content {
		// margin-top: $s_nav_top;
		// margin-bottom: -$s_nav_top;
		padding-top: $s_nav_top;
	}

	// ///////////////////////////////////
	// navigation definitions
	// ///////////////////////////////////

	// leaf elements
	// - - - - - - - - - - - - - - - - - -
	%leaf_content {
		padding-left: $s_content_left;
		padding-right: $s_content_right;
	}
	%leaf_content_label {
		@include optical_margins(1vw, 0);
	}

	// block definitions
	// - - - - - - - - - - - - - - - - - -
	// %nav_list {}
	%nav_font {
		@extend %char_1f3_1f5;
	}

	// ///////////////////////////////////
	// navigation children
	// ///////////////////////////////////

	.transform-wrapper {
		left: 0;
		right: 0;
		width: auto;
		margin-left: $s_page_left;
		margin-right: $s_page_right;
	}

	// .list-group, .list-item {}

	// bundle-list
	// ===================================
	#bundle-list {
		// @include heading_font(600, 1.25rem, 1.5rem, -0.5px);
		@extend %nav_font;
		font-weight: 600;

		width: $one_third;
		left: 0;
		right: auto;//$two_thirds;

		// padding-top: #{$s_nav_height + 0.5rem};
		// padding-bottom: 1.5rem;
		.list-item {
			// @extend %list_item;
			// width: $default_main_width - $s_aside_width - (2*$hu);
			// width: calc(100% - #{8*$hu});
			//height: 1.5rem;
			width: 100%;
		}
	}
	&.with-bundle .container-collapsed #bundle-list {
		padding-top: 1.5rem;
	}

	// bundle-list-wrapper
	// - - - - - - - - - - - - - - - - - -
	// #bundle-list-wrapper {
	// 	position:static;
	// }

	// keyword-list
	// ===================================
	#keyword-list {
		// width: auto; left: $two_thirds; right: 0;
		// NOTE: adding margins to acct for #navigation's box
		// width: $s_margin_left + $s_content_left + $s_aside_width;
		font-size: 1rem;
		right: 0;
		// width: auto;
		// left: calc(100vw - #{$s_aside_width} - #{$s_page_left} - #{$s_margin_left} - #{$s_content_left});
		// width: calc(#{$s_aside_width} - #{$s_page_right} - #{$s_margin_right} + #{$s_content_left});
		width: #{$s_aside_width - $s_page_right - $s_margin_right + $s_content_left};
		left: auto;

		.list-item {
			// @extend %list_item;
			//height: 1.5rem;
			width: 100%;
			// text-overflow: ellipsis;
			// overflow: hidden;
			.label {
				font-size: inherit;//#{7/8 * 1rem};
				// line-height: 1;//1rem;
			}
		}
		.list-group {
			// margin-top: 0;
			height: 0;
			width: 100%; // width of #keyword-list
			.label {
				width: ($s_aside_width / 2);
				transform: moveX(-100%);
				// padding: 0; margin: 0;
				// & > span {
				// 	padding: 0 0.5ex;
				// 	margin: 0 -0.5ex;
				// }
			}
		}

	}
	// &.with-bundle .container-collapsed #keyword-list {
	// 	padding-top: 0.75rem;
	// }
	&.with-bundle .container-collapsed #keyword-list {
		opacity: 0;
		visibility: 0;
	}

	// keyword-list-wrapper
	// - - - - - - - - - - - - - - - - - -
	#keyword-list-wrapper {
		left: 0;
		// position:static;
	}
	// &.with-media .container-collapsed #keyword-list-wrapper {
	// 	z-index: 0;
	// }

	// keyword-list list-group
	// - - - - - - - - - - - - - - - - - -
	&.with-bundle .navigation:not(.container-expanded) #keyword-list {
		// padding-top: 1.5rem;
		.list-group {
			height: 0;
			visibility: hidden;
			opacity: 0;
		}
	}

	// site-name
	// ===================================
	#site-name {
		@extend %nav_font;
		font-weight: 600;
	}
	&.with-bundle .container-expanded #site-name {
		transform: moveX();
	}

	// site-name-wrapper
	// - - - - - - - - - - - - - - - - - -
	#site-name-wrapper {
		width: 100%;
	}

	// article-button
	// ===================================
	.article-button {
		@extend %nav_font;
		font-weight: 400;
	}
	&.with-bundle .container-expanded .article-button {
		transform: moveX();
		a {
			visibility: visible;
			opacity: 1;
			transition: tx(visibility, 3, 0, step-start),
				tx(opacity, 1, 0),
				tx(color, 1, 1);
		}
	}

	.article-button#about-button {
		top: 1.5rem;//0.333333333em;
	}

	// article-list-wrapper (vertical movements)
	// - - - - - - - - - - - - - - - - - -
	#article-list-wrapper {
		width: 100%;//$s_page_width;
	}

	// NOTE: these elements need symmetrical padding
	#site-name, .article-button {
		padding-right: $s_margin_left;
	}

	// Common
	// ===================================
	// #bundle-list, #keyword-list {
	// 	padding-top: 4.5rem;
	// }
	#site-name-wrapper, #article-list-wrapper {
		transform: moveY(0rem);
	}
	&.with-bundle .container-expanded {
		#bundle-list, #keyword-list {
			padding-top: $s_nav_height;
		}
		#site-name-wrapper, #article-list-wrapper {
			transform: moveY(0rem);
		}
	}
	&.without-article.without-bundle {
		#bundle-list, #keyword-list {
			padding-top: $s_nav_height;
		}
		#site-name-wrapper, #article-list-wrapper {
			transform: moveY(0rem);
		}
	}

	// nav-graph
	// - - - - - - - - - - - - - - - - - -
	#nav-graph {
		width: 100%;
	};

	// ///////////////////////////////////
	// content children
	// ///////////////////////////////////

	$s_content_top: 4rem;
	$s_content_bottom: 3.5rem;

	// media-carousel
	// ===================================

	.media-carousel {
		max-width: $s_page_width_max;
		min-width: 0;
		// width: auto; left: 0; right: 0;

		top: calc(#{$s_nav_top} + #{$s_nav_height});
		// height: calc(100% - #{$s_nav_height});
		height: calc(100%
			- #{$s_nav_top}
			- #{$s_nav_height}
			+ #{$s_content_top}
		);
		$s_carousel_item_height: calc(100%
			- #{$s_content_top}
			- #{$s_content_bottom}
		);

		margin-top: -#{$s_content_top};
		padding-top: $s_content_top;
		padding-bottom: $s_content_bottom;

		padding-left: $s_margin_left;
		padding-right: $s_margin_right;

		.carousel-item {
			width: auto;
			left: $s_page_left;
			right: $s_page_right;
			margin-left: $s_margin_left;
			margin-right: $s_margin_right;
			.sizing {
				margin-left: $s_content_left;
				margin-right: $s_content_right;
			}
		}
		.empty-item {
			max-height: $s_carousel_item_height;//calc(100% - #{$s_content_top + $s_content_bottom});
			// FIXME FIXME FIXME : parallax breaks if item is not 100%;
			width: auto;
			right: $s_aside_width;
			// right: calc(#{$s_aside_width} - #{$s_content_left}});
		}
		.media-item {
			height: $s_carousel_item_height;//calc(100% - #{$s_content_top + $s_content_bottom});
			.placeholder::before {
				font-size: 18vw;
				padding: 5%;
			}
			// .placeholder::before,
			.error-message {
				padding: 7%;
			}
		}
	}
	.container-expanded .media-carousel {
		transform: moveY(#{$nav_collapse_offset * 0.6666666});
	}

	$ctrl_height: 2.1rem;
	$ctrl_width: $rhu * 1.05;//2.1rem;

	.playable-item {
		.top-bar {
			height: $ctrl_height;
			margin-bottom: 1rem;
		}
		.bottom-bar {
			height: $ctrl_height;
			margin-bottom: 1rem;
		}

		.progress-meter {
			width: $ctrl_height;//2.1rem;
			height: $ctrl_height;//2.1rem;
			font-size: 75%;
			line-height: 1;
		}
		// &[data-fit-dir="width"] .controls > .progress-meter {
		// 	margin: 0 0 0 1rem;
		// }
		&[data-fit-dir="height"] .controls > .progress-meter {
			margin: 0 0 0 1rem;
		}
	}

	// media-caption-stack
	// ===================================
	.media-caption-stack {
		top: 1.5rem;
		margin: 0;

		left: $s_page_left;
		right: $s_page_left;
		margin-left: $s_margin_left;
		margin-right: $s_margin_right;

		// space for carousel ctrls: 7rem
		width: auto;

		.stack-item {
			top: 0;
			bottom: auto;
		}
		.content {
			max-height: 6rem; //4.5rem;
			overflow: hidden;
		}
		.content p {
			@extend %nav_font;
			margin-left: 0;
		}
	}

	// media-dotnav
	// ===================================
	.media-dotnav {
		padding-left: $s_margin_left;
		padding-right: $s_margin_right;
		width: auto;
		bottom: 0.75rem;

		.list-item {
			// padding: 0 0.5rem;
			//padding: 0 0.3333333rem;
		}
	}

	// article-view
	// ===================================

	.article-view {
		width: auto;

		margin-left: $s_page_left;
		margin-right: $s_page_right;
		padding-left: $s_margin_left;
		padding-right: $s_margin_right;

		padding-top: $s_nav_height;
		&.mdown {
			// :first-child {
			// 	margin-top: 0;
			// }
			h1, h2, h3, h4, p {
				// padding-left: $s_content_left;
				// padding-right: $s_content_right;
			}
			// h1, h2, p {
			& > * {
				padding-left: $s_content_left;
				padding-right: $s_content_right;
				// padding-left: 0;//$s_aside_width;
			}
			h3, h4 {
				// padding-left: 0;
				width: auto;//$s_aside_width;
				float: none;
				clear: none;
			}
		}
	}
}
