// ------------------------------------
// Body init
// ------------------------------------

.app-ready #container {
	transition: visibility $duration $delay step-start,
		opacity $duration $delay $ease;
	visibility: visible;
	opacity: 1;
}

.app-initial #container {
	visibility: hidden;
	opacity: 0;
}

.app-initial *, body.skip-transitions * {
	@include skip_transitions;
}

// ------------------------------------
// Dynamic color
// ------------------------------------
// body default color values specified in "_base.scss"

.mutable-faded {
	color: lighten($color, 40%);
	border-color: lighten($color, 60%);
}

body, .mutable-faded {
	transition-timing-function: $ease;
	transition-property: color, border-color, background-color;
	transition-duration: $duration;
	transition-delay: $delay * 2;
}
