// ///////////////////////////////////
// media query : unsupported
// ///////////////////////////////////

#unsupported {
	display: none;
}

@include media(unsupported) {
	#container {
		min-width: unset;
		visibility: visible;
		opacity: 1;
	}
	#navigation {
		display: none;
	}
	#content {
		display: none;
	}
	#unsupported {
		display: block;
		box-sizing: content-box;
		width: auto;
		padding: 4rem 20px 1rem;
		margin: 0 auto;
		max-width: 640px;

		h1, h2, h3, h4, h5, h6 {
			@extend %char_2_2;
			font-weight: bold;
			margin-left: unset;
		}
		p {
			@extend %char_1f1_1f6;
			margin-bottom: 1rem;
			margin-left: unset;
		}
	}
}
