
.icon-spinner:before { content: '\e800'; } /* '' */
.icon-dot-filled:before { content: '\e801'; } /* '' */
.icon-dot-empty:before { content: '\e802'; } /* '' */
.icon-dot-thin:before { content: '\e803'; } /* '' */
.icon-dot-circled:before { content: '\e804'; } /* '' */
.icon-play:before { content: '\e805'; } /* '' */
.icon-cancel-circled:before { content: '\e806'; } /* '' */
.icon-left-small:before { content: '\e807'; } /* '' */
.icon-right-small:before { content: '\e808'; } /* '' */
.icon-up-small:before { content: '\e809'; } /* '' */
.icon-down-small:before { content: '\e80a'; } /* '' */
.icon-small-dot-empty:before { content: '\e80b'; } /* '' */
.icon-small-dot-filled:before { content: '\e80c'; } /* '' */
.icon-stop:before { content: '\e80d'; } /* '' */
.icon-pause:before { content: '\e80e'; } /* '' */
.icon-ccw:before { content: '\e80f'; } /* '' */
.icon-to-end:before { content: '\e810'; } /* '' */
.icon-to-start:before { content: '\e811'; } /* '' */
