// ------------------------------------
// Elements
// ------------------------------------

* {
	border-color: inherit;
}

#{elements-of-type(block)} {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

a {
	color: $link_color;
	text-decoration: none;
	-webkit-tap-highlight-color: initial;
	&:focus {
		outline: inherit;
	}
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

code,
pre {
	font-family: courier, monospace;
}

// ------------------------------------
// Misc
// ------------------------------------

*::selection {
	color: $selection_fgcolor;
	background-color: $selection_bgcolor;
}

// @import "compass/css3/_selection";
// * {
// 	@include selection($selection_bgcolor, $selection_fgcolor);
// }
