// ------------------------------------
// Global units
// ------------------------------------

// Size base units
$hu: 20px;
$vu: 12px;

// Time base units (transitions/animations)
$duration: 			0.350s;
$delay-interval: 	0.033s;

$delay: $duration + $delay-interval;
$ease: ease-in-out;

// ------------------------------------
// Layout
// ------------------------------------

$breakpoint-large: 			1024px;
$gutter: 					2 * $hu;
$page-margin-left: 			1 * $hu;
$page-margin-right: 		3 * $hu;

$page-width: 				35 * $hu;//700px;
$page-width-large: 			47 * $hu;//940px;
$aside-width:				11 * $hu;
$aside-width-large: 		13 * $hu;
$main-width:				$page-width - $aside-width;
$main-width-large:			$page-width-large - $aside-width-large;

$page-inner-width:			$page-width - $page-margin-left - $page-margin-right;
$page-inner-width-large:	$page-width-large - $page-margin-left - $page-margin-right;
$aside-inner-width:			$aside-width - $page-margin-right - $gutter/2;
$aside-inner-width-large:	$aside-width-large - $page-margin-right - $gutter/2;
$main-inner-width:			$main-width - $page-margin-left - $gutter/2;
$main-inner-width-large:	$main-width-large - $page-margin-left - $gutter/2;

// ------------------------------------
// Color/Typefaces: private (do not use directly)
// ------------------------------------
$light-fgcolor: 	hsl(47, 5%, 15%);
$light-bgcolor: 	hsl(47, 5%, 92%);

$dark-fgcolor: 		hsl(47, 5%, 95%);
$dark-bgcolor: 		hsl(47, 5%, 25%);

$inverse-color: $dark-fgcolor;
$inverse-background-color: $dark-bgcolor;

// Font fallback lists
$mono-fallback: Consolas, Menlo, "Andale Mono", monospace;
$humanist-fallback: "Lucida Grande","Lucida Sans", Calibri, Tahoma, Verdana, Kalimati, sans-serif;
$modern-fallback: "georgia", sans-serif;

// Webfonts included at compile-time
@import "fonts/_franklin-gothic-fs";
$font-webfont-sans: "Franklin Gothic FS", $humanist-fallback;
//@import "fonts/_old-standard-tt";
//$font-webfont-serif: "Old Standard TT", $modern-fallback;
//@import "fonts/_source-sans-pro";
//$font-webfont-sans: "Source Sans Pro", $humanist-fallback;

$royal-blue-color:	#204980;
$royal-ivory-color:	#FEFCE7;

// ------------------------------------
// Color/Typefaces: public
// ------------------------------------

// colors
$color: $light-fgcolor;
$background-color: $light-bgcolor;

// link-colors
$link-color: hsl(10, 80%, 50%); //scale_color($color, $red: 60%);
$link-hover-color: scale_color($link-color, $lightness: 15%);//hsl(10, 95%, 60%);
$link-down-color: scale_color($link-color, $lightness: -15%);//hsl(10, 95%, 30%);

// selection-colors
$selection-fgcolor: hsl(203, 100%, 50%);
$selection-bgcolor: hsl(203, 100%, 90%);

// font-family
$large-font-family: $font-webfont-sans;
$small-font-family: $humanist-fallback;
$mono-font-family: $mono-fallback;

// font shorthands
$base-font: 12px/1 $font-webfont-sans;

// ------------------------------------
// Typography mixins
// ------------------------------------

// h1 font-size: 3.42857rem; letter-spacing: -2px;
// h2 font-size: 2.14286rem; letter-spacing: -1px;
@mixin heading-font($size: 2rem, $weight: 600, $lead: 2rem) {
	font-family: $large-font-family;
	font-size: $size;
	font-weight: $weight;
	font-kerning: normal;
	line-height: $lead;
	letter-spacing: -1px;
	@include text-rendering-legibility;
	@include font-smoothing;
}

@mixin paragraph-font($size: 1rem, $weight: 400, $lead: 1.5rem) {
	font-size: $size;
	font-weight: $weight;
	line-height: $lead;
}

@mixin small-caps($size: 0.85rem, $weight: 600, $lead: 1.5rem) {
	font-size: $size;
	font-weight: $weight;
	line-height: $lead;
	letter-spacing: 1px;
	vertical-align: baseline;
	text-transform: uppercase;
}

// ------------------------------------
// Elements
// ------------------------------------

html {
	font: $base-font;
}

body {
	color: $color;
	background-color: $background-color;
	line-height: 1.5rem;
	-moz-osx-font-smoothing: grayscale;
}

p {
	@include paragraph-font();
}

h1 {
	@include heading-font();
}

h2 {
	@include heading-font($size: 28px, $weight: 300, $lead: 30px);
}

h3 {
	@include heading-font($size: 20px, $weight: 300, $lead: 24px);
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

a {
	text-decoration: none;
	color: inherit;
	&:focus {
		outline: 0 none;
	}
}

*::selection {
	color: $selection-fgcolor;
	background-color: $selection-bgcolor;
}
//@import "compass/css3/selection";
//* { @include selection($selection-bgcolor, $selection-fgcolor); }

// ------------------------------------
// Definitions helper classes
// ------------------------------------

.sc {
//	@include font-smoothing();
	@include small-caps();
}

div {
	-webkit-tap-highlight-color: transparent;
}
a {
	-webkit-tap-highlight-color: initial;
}
