/**
 * Debug colors
 * @see http://dev.w3.org/csswg/css-color/#named-colors
 * ultralight colors: lavender,seashell,aliceblue,ghostwhite
 */

/* lightblue: 		hsl(195, 53%, 79%) */
$lightblue: 		hsla(195, 75%, 50%, 1);
/* deepbluesky: 	hsl(195, 100%, 50%) */
$deepskyblue: 		hsla(195, 100%, 50%, 1);
/* lightcoral: 		hsl(6, 93%, 71%) */
$lightcoral: 		hsla(6, 93%, 71%, 1);
/* salmon: 			hsl(6, 93%, 71%) */
$salmon: 			hsla(6, 93%, 71%, 1);
/* thistle: 		hsl(300, 24%, 80%) */
$thistle: 			hsla(300, 24%, 80%, 1);
/* darkseagreen:	hsl(120, 25%, 65%) */
$darkseagreen:		hsla(120, 25%, 65%, 1);
/* darkolivegreen:	hsl(???) */
$darkolivegreen:	darkolivegreen;

// -----------------------------------
// .debug-grid
// -----------------------------------

#container.debug-grid-bg {
	background-image: image-url("debug/debug-background.svg");
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: calc(50% + 1px) 1px;
	background-size: $page_width auto;//1600px;
	@include media(desktop-small) {
		background-position: calc(50% + 1px) calc(-1rem + 1px);
		background-size: $page_width_large auto;//1600px;
	}
}

// -----------------------------------
// .debug-blocks
// -----------------------------------

@mixin debug_outline($width: 1px, $style: dashed, $color: inherit) {
	outline: $width $style $color;
	outline-offset: -$width;
}
@mixin debug_outline_thick($style: solid, $color: $thistle) {
	// @include debug_outline($width: 1rem, $style: $style, $color: transparentize($color, 0.8));
	background-color: transparentize($color, 0.8);
}

.debug-blocks {
	*[data-cid] {
		@include debug_outline($width: 0.25rem, $style: solid, $color: transparentize($thistle, 0.5));
	}
	.list-item[data-cid] {
		// @include debug_outline($width: 1px, $style: dashed, $color: transparentize($darkseagreen, 0.2));
		background-color: transparentize($thistle, 0.8);
	}
	
	#navigation {
		#site-name-wrapper, .list {
			@include debug_outline_thick($color: $lightcoral);
		}
		#site-name a, .list .name {
			background-color: transparentize($lightcoral, 0.5);
		}
	}
	#content {
		.stack {
			.content {
				background-color: transparentize($lightblue, 0.7);
				& > * {
					@include debug_outline($color: $deepskyblue);
				}
			}
		}
		.carousel {
			// @include debug_outline_thick($color: $deepskyblue);
			@include debug_outline($width: 1rem, $style: solid, $color: transparentize($deepskyblue, 0.8));
			&.scrolling {
				@include debug_outline($width: 1rem, $style: dashed, $color: transparentize($deepskyblue, 0.5));
			}
		}
		.carousel-item, .empty-item {
			@include debug_outline($color: $deepskyblue);
			// background-color: transparentize($lightblue, 0.7);
			.content {
				background-color: transparentize($lightblue, 0.7);
				// background-color: $lightblue;
			}
		}
		// .empty-item {
		// 	.content {
		// 		background-color: transparentize($lightblue, 0.7);
		// 	}
		// }
		.media-item {
			background-color: transparentize($lightblue, 0.9);
			@include debug_outline($color: $deepskyblue);
			.content {
				background-color: $lightblue;
			}
		}
	}
}

// -----------------------------------
// #debug-toolbar
// -----------------------------------

#debug-toolbar {
	z-index: 999;
	position: fixed;
	top: 0; right: 0;
	// width: 100%;// prevents dotnav mouse events
	.debug-links {
		direction: rtl;
	}
	.toggle-enabled {
		text-decoration: underline;
	}
	&:not(.show-links) {
		#test-results {
			display: none;
		}
		.debug-links > dd {
			display: none;
		}
	}
	
	#test-results {
		font: normal 12px/1 monospace;
		color: #333333;
		background-color: white;
		box-shadow: 0 1rem 1rem -0.5rem rgba(0,0,0,0.5);
		margin: 0 3rem;
		max-height: 75vh;
		overflow-y: auto;
		
		padding: 1rem 0;
		& > * {
			margin: 0.75em 0;
			padding: 0 1.5em;
		}
		h6 {
			font-weight: bold;
		}
		ul {
			column-width: 14em;
		}
		li.failed {
			color: #CC3333;
			text-decoration: line-through;
		}
	}
	&:not(.show-tests) #test-results {
		display: none;
	}
	#toggle-passed {
		// padding: 0 0.25em;
		float: right;
		// font-weight: normal;
		&::before { content: "Hide "; }
		&.toggle-enabled::before { content: "Show "; }
	}
	&.hide-passed {
		#test-results {
			li.passed {
				display: none;
			}
			li.failed {
				text-decoration: none;
			}
		}
	}
}

#debug-toolbar dl {
	line-height: 1rem;
	padding: 0 0.25rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	&, * {
		user-select: none !important;
	}
	& > * {
		-webkit-flex: 0 1 auto;
		flex: 0 1 auto;
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		cursor: pointer;
	}
	dt, dd {
		margin: auto 0;
		padding: 0;
		a, span, svg {
			padding: 1em 0.75em;
			display: inline-block;
			vertical-align: middle;
		}
	}
	dt + dd {
		&:before {
			border-left: none;
		}
	}
	dd {
		&:before {
			content: ' ';
			display: inline-block;
			height: 1em;
			margin: 1em 0;
			border-left: currentColor solid thin;
			vertical-align: middle;
		}
	}
	dt {
		-webkit-flex: 0 0 auto;
		flex: 0 0 auto;
		// span.icon {
		// 	@include fontello_icon_base();
		// 	width: 1em;
		// 	text-align: center;
		// 	display: inline-block;
		// }
		svg.icon {
			width: 1em;
			height: 1em;
			vertical-align: middle;
			display: block;
		}
	}
	&.debug-links dd {
		@include small_caps($lead: inherit);
	}
	&.debug-info dd {
		font-weight: 300;
		& > * {
			margin-top: -0.1rem;
		}
	}
}

.without-media #debug-toolbar {
	#media-info, #toggle-logs {
		display: none;
	}
}
