/**
 * Debug colors
 * @see http://dev.w3.org/csswg/css-color/#named-colors
 * ultralight colors: lavender,seashell,aliceblue,ghostwhite
 */

/* lightblue: 		hsl(195, 53%, 79%) */
$lightblue: 		hsla(195, 75%, 50%, 1);
/* deepbluesky: 	hsl(195, 100%, 50%) */
$deepskyblue: 		hsla(195, 100%, 50%, 1);
/* lightcoral: 		hsl(6, 93%, 71%) */
$lightcoral: 		hsla(6, 93%, 71%, 1);
/* salmon: 			hsl(6, 93%, 71%) */
$salmon: 			hsla(6, 93%, 71%, 1);
/* thistle: 		hsl(300, 24%, 80%) */
$thistle: 			hsla(300, 24%, 80%, 1);
/* darkseagreen:	hsl(120, 25%, 65%) */
$darkseagreen:		hsla(120, 25%, 65%, 1);
/* darkolivegreen:	hsl(???) */
$darkolivegreen:	darkolivegreen;

.debug-grid {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: calc(50% + 1px) 1px;
	background-image: image-url("debug-background-720.svg");
//	background-image: image-url("debug-background.svg#bg720_g");
//	background-size: 719px 1599px;
	@include media(desktop-small) {
		background-image: image-url("debug-background-960.svg");
//		background-image: image-url("debug-background.svg#bg960_g");
//		background-size: 959px 1599px;
	}
}

@mixin debug_outline($width: 1px, $style: dashed, $color: inherit) {
//	outline-color: $color;
//	outline-style: $style;
//	outline-width: $width;
	outline: $width $style $color;
	outline-offset: -$width;
}
@mixin debug_outline_thick($style: solid, $color: $thistle) {
	// @include debug_outline($width: 1rem, $style: $style, $color: transparentize($color, 0.8));
	background-color: transparentize($color, 0.8);
}

.debug-blocks {
	// #header, #footer,
	// #container-footer {
	// 	background-color: transparentize($darkseagreen, 0.9);
	// 	@include debug_outline($color: $darkseagreen);
	// }
	#bundle-pager {
		.button {
			@include debug_outline($color: $darkseagreen);
			.name {
				background-color: transparentize($darkseagreen, 0.7);
			}
		}
	}
	#navigation {
//		@include debug_outline($color: $lightcoral);
//		@include debug_outline_thick($color: $lightcoral);
//		.transform-wrapper > * {
//			@include debug_outline_thick($color: $lightcoral);
//			@include debug_outline($width: 1px, $style: solid, $color: $lightcoral);
//		}
		#site-name-wrapper, .list {
//			background-color: transparentize($lightcoral, 0.9);
//			@include debug_outline($color: $lightcoral);
			@include debug_outline_thick($color: $lightcoral);
		}
		#site-name, .list-group, .list-item {
			// background-color: transparentize($lightcoral, 0.9);
			// @include debug_outline($color: $lightcoral);
//			@include debug_outline($color: transparentize($lightcoral, 0.9), $style: solid);
		}
		#site-name a, .list .name {
			background-color: transparentize($lightcoral, 0.6);
			// @include debug_outline($color: $lightcoral);
		}
	}
	#content {
//		background-color: transparentize($lightblue, 0.9);
		.carousel {
			// @include debug_outline_thick($color: $deepskyblue);
			@include debug_outline($width: 1rem, $style: solid, $color: transparentize($deepskyblue, 0.8));
		}
		.image-item, .leaf-carousel-item, .default-carousel-item, .empty-item {
			@include debug_outline($color: $deepskyblue);
//			background-color: transparentize($lightblue, 0.7);
		}
		.leaf-carousel-item, .default-carousel-item {
			.content {
				background-color: $lightblue;
			}
		}
		.empty-item {
			.content {
				background-color: transparentize($lightblue, 0.7);
			}
		}
//		.selected {
//			&.image-item, &.leaf-carousel-item, &.default-carousel-item, &.empty-item {
//				@include debug_outline($color: $darkolivegreen);
////				background-color: transparentize($darkseagreen, 0.5);
//			}
//			&.leaf-carousel-item, &.default-carousel-item, &.empty-item {
//				.content {
//					background-color: $darkseagreen;
//				}
//			}
//		}
		.nested-carousel-item {
//			@include debug_outline($width: 0.5rem, $style: dashed, $color: transparentize($deepskyblue, 0.25));
			outline: 0 none;
			background-color: transparent;
		}
		.stack {
			.content {
				background-color: transparentize($lightblue, 0.7);
				& > * {
					@include debug_outline($color: $deepskyblue);
				}
			}
		}
	}
}

#debug-toolbar {
	opacity: 0.5;
	color: hsl(245, 2%, 50%);
	border-color: hsl(245, 2%, 50%);
//	background-color: hsla(60, 4%, 5%, 1);
	&, * {
		user-select: none !important;
	}
	z-index: 999;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 1rem 0.5rem;
	dt, dd {
		@include small_caps($lead: 1rem);
		margin: -0.25em 0;
	}
	dt {
		font-weight: 300;
	}
	dd {
		@include font_smoothing();
	}
}

#debug-toolbar.toolbar {
	display: flex;
	flex-direction: row;
	& > * {
		-webkit-flex: 0 1 auto;
    	flex: 0 1 auto;
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		cursor: pointer;
		user-select: none;
		margin: auto 0;
		padding: 0 0.75em;
		border-color: inherit;
		border-right-style: solid;
		border-right-width: thin;
		&:first-child {
			padding-right: 0;
			border-right: 0 none;
		}
		&:last-child {
			border-right: 0 none;
		}
	}
}
