/**
 * Debug colors
 * @see http://dev.w3.org/csswg/css-color/#named-colors
 * ultralight colors: lavender,seashell,aliceblue,ghostwhite
 */

/* lightblue: 		hsl(195, 53%, 79%) */
$lightblue: 		hsla(195, 75%, 50%, 1);
/* deepbluesky: 	hsl(195, 100%, 50%) */
$deepskyblue: 		hsla(195, 100%, 50%, 1);
/* lightcoral: 		hsl(6, 93%, 71%) */
$lightcoral: 		hsla(6, 93%, 71%, 1);
/* salmon: 			hsl(6, 93%, 71%) */
$salmon: 			hsla(6, 93%, 71%, 1);
/* thistle: 		hsl(300, 24%, 80%) */
$thistle: 			hsla(300, 24%, 80%, 1);
/* darkseagreen:	hsl(120, 25%, 65%) */
$darkseagreen:		hsla(120, 25%, 65%, 1);
/* darkolivegreen:	hsl(???) */
$darkolivegreen:	darkolivegreen;

// -----------------------------------
// .debug-grid
// -----------------------------------

#container.debug-grid-bg {
	background-image: image-url("debug/debug-background.svg");
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: calc(50% + 1px) 1px;
	background-size: $page_width auto;//1600px;
	@include media(desktop-small) {
		background-position: calc(50% + 1px) calc(-1rem + 1px);
		background-size: $page_width_large auto;//1600px;
	}
}
// img#debug-grid {
// 	position: absolute;
// 	width: $page_width;
// 	left: calc(50% - #{$page_width/2});
// 	height: 100%;
// 	box-sizing: border-box;
// 	padding-top: 1px;
// 	padding-left: 1px;
// 	@include media(desktop-small) {
// 		// top: calc(1px - 1rem);
// 		// height: calc(100% - 1px);
// 		width: $page_width_large;
// 		left: calc(50% - #{$page_width_large/2});
// 		margin-top: -1rem;
// 		.layout-guide {
// 			stroke: hsl(60, 93%, 71%);
// 		}
// 	}
// }
// :not(.debug-grid-img) > img#debug-grid {
// 	display: none;
// }

// -----------------------------------
// .debug-blocks
// -----------------------------------

@mixin debug_outline($width: 1px, $style: dashed, $color: inherit) {
	outline: $width $style $color;
	outline-offset: -$width;
}
@mixin debug_outline_thick($style: solid, $color: $thistle) {
	// @include debug_outline($width: 1rem, $style: $style, $color: transparentize($color, 0.8));
	background-color: transparentize($color, 0.8);
}

.debug-blocks {
	*[data-cid] {
		@include debug_outline($color: $darkseagreen);
	}
	.list-item[data-cid] {
		background-color: transparentize($darkseagreen, 0.7);
	}
	
	#navigation {
		// @include debug_outline($color: $lightcoral);
		// @include debug_outline_thick($color: $lightcoral);
		// .transform-wrapper > * {
		// 	@include debug_outline_thick($color: $lightcoral);
		// 	@include debug_outline($width: 1px, $style: solid, $color: $lightcoral);
		// }
		#site-name-wrapper, .list {
			// background-color: transparentize($lightcoral, 0.9);
			// @include debug_outline($color: $lightcoral);
			@include debug_outline_thick($color: $lightcoral);
		}
		// #site-name, .list-group, .list-item {
		// 	// background-color: transparentize($lightcoral, 0.9);
		// 	// @include debug_outline($color: $lightcoral);
		// 	//// @include debug_outline($color: transparentize($lightcoral, 0.9), $style: solid);
		// }
		#site-name a,
		.list .name {
			background-color: transparentize($lightcoral, 0.5);
			// @include debug_outline($color: $lightcoral);
		}
	}
	#content {
		.stack {
			.content {
				background-color: transparentize($lightblue, 0.7);
				& > * {
					@include debug_outline($color: $deepskyblue);
				}
			}
		}
		.carousel {
			// @include debug_outline_thick($color: $deepskyblue);
			@include debug_outline($width: 1rem, $style: solid, $color: transparentize($deepskyblue, 0.8));
		}
		.carousel-item, .empty-item {
			@include debug_outline($color: $deepskyblue);
			// background-color: transparentize($lightblue, 0.7);
			.content {
				background-color: transparentize($lightblue, 0.7);
				// background-color: $lightblue;
			}
		}
		// .empty-item {
		// 	.content {
		// 		background-color: transparentize($lightblue, 0.7);
		// 	}
		// }
		.media-item {
			background-color: transparentize($lightblue, 0.9);
			@include debug_outline($color: $deepskyblue);
			.content {
				background-color: $lightblue;
			}
		}
	}
}

// -----------------------------------
// #debug-toolbar
// -----------------------------------

#debug-toolbar {
	// opacity: 0.4;
	// color: inherit;
	// color: hsl(245, 2%, 50%);
	// border-color: hsl(245, 2%, 50%);
	
	z-index: 999;
	position: fixed;
	// width: 100%;// prevents dotnav mouse events
	// bottom: 0;
	
	top: 0; right: 0; direction: rtl;
	
	// &.show-info .debug-links {
	// 	display: none;
	// }
	// &.show-links .debug-info {
	// 	display: none;
	// }
	&:not(.show-links) .debug-links > dd {
		display: none;
	}
	// &.show-links .debug-info {
	// 	display: none;
	// }
}

#debug-toolbar dl {
	line-height: 1rem;
	padding: 0 0.25rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	&, * {
		user-select: none !important;
	}
	& > * {
		-webkit-flex: 0 1 auto;
		flex: 0 1 auto;
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		cursor: pointer;
	}
	dt, dd {
		margin: auto 0;
		padding: 0;
		a, span, svg {
			padding: 1em 0.75em;
			display: inline-block;
			vertical-align: middle;
		}
	}
	dt + dd {
		// a, span, svg {
		// 	padding-left: 0.25em;
		// }
		&:before {
			border-left: none;
		}
	}
	dd {
		&:before {
			content: ' ';
			display: inline-block;
			height: 1em;
			margin: 1em 0;
			border-left: currentColor solid thin;
			vertical-align: middle;
		}
	}
	dt {
		-webkit-flex: 0 0 auto;
		flex: 0 0 auto;
		span.icon {
			@include fontello_icon_base();
			width: 1em;
			text-align: center;
			display: inline-block;
		}
		svg.icon {
			width: 1em;
			height: 1em;
			vertical-align: middle;
			display: block;
		}
		// @include small_caps($lead: 1rem);
	}
	&.debug-links dd {
		@include small_caps($lead: inherit);
	}
	&.debug-info dd {
		font-weight: 300;
		& > * {
			margin-top: -0.1rem;
		}
	}
	a.toggle-enabled {
		// color: red;
		text-decoration: underline;
	}
}

.without-media #debug-toolbar {
	#media-info, #toggle-logs {
		display: none;
	}
}
