// ------------------------------------
// Global units
// ------------------------------------

// Size base units
$hu: 20px;
$vu: 12px;

// Time base units (transitions/animations)
$duration: 			0.375s;
$delay_interval: 	0.025s;
$delay: $duration + $delay_interval;

$ease: ease;
//$ease: linear;
//$ease: ease-in-out;

//$ease_time:	0.200;
//$ease_prop:	0.005;
//$ease:		cubic-bezier($ease_time, $ease_prop, #{1 - $ease_time}, #{1 - $ease_prop});
//$ease_in:		cubic-bezier($ease_time, $ease_prop, 0.5, 0.5);
//$ease_out:	cubic-bezier(0.5, 0.5, #{1 - $ease_time}, #{1 - $ease_prop});
//$ease_in:		cubic-bezier(0.400, 0.000, 0.600, 0.400);
//$ease_out:	cubic-bezier(0.400, 0.600, 0.600, 1.000);

// ------------------------------------
// Layout
// ------------------------------------

$breakpoint_large: 			1024px;
$gutter: 					2 * $hu;
$page_margin_left: 			1 * $hu;
$page_margin_right: 		3 * $hu;

$page_width: 				34 * $hu;//700px;
$page_width_large: 			48 * $hu;//940px;
$aside_width:				11 * $hu;
$aside_width_large: 		12 * $hu;
$main_width:				$page_width - $aside_width;
$main_width_large:			$page_width_large - $aside_width_large;

// ------------------------------------
// Color/Typefaces: private (do not use directly)
// ------------------------------------
$light_fgcolor: 	hsl(47, 5%, 15%);
$light_bgcolor: 	hsl(47, 5%, 95%);

$dark_fgcolor: 		hsl(47, 5%, 95%);
$dark_bgcolor: 		hsl(47, 5%, 25%);

$inverse_color: $dark_fgcolor;
$inverse_background_color: $dark_bgcolor;

// Font fallback lists
$mono_fallback: Consolas, Menlo, "Andale Mono", monospace;
$humanist_fallback: "Lucida Grande","Lucida Sans", Calibri, Tahoma, Verdana, Kalimati, sans-serif;
$grotesque_fallback: "Helvetica", sans-serif;
$modern_fallback: "georgia", sans-serif;

// Webfonts included at compile-time
//@import "fonts/_franklin-gothic-fs";
$font_webfont_sans: "Franklin Gothic FS", $grotesque_fallback;
//@import "fonts/_old-standard-tt";
//$font_webfont_serif: "Old Standard TT", $modern_fallback;

$royal_blue_color:	#204980;
$royal_ivory_color:	#FEFCE7;

// ------------------------------------
// Color/Typefaces: public
// ------------------------------------

// colors
$color: $light_fgcolor;
$background_color: $light_bgcolor;

// link-colors
$link_color: hsl(10, 80%, 50%); //scale_color($color, $red: 60%);
$link_hover_color: scale_color($link_color, $lightness: 15%);//hsl(10, 95%, 60%);
$link_down_color: scale_color($link_color, $lightness: -15%);//hsl(10, 95%, 30%);

// selection-colors
$selection_fgcolor: hsl(203, 100%, 50%);
$selection_bgcolor: hsl(203, 100%, 90%);

// font-family
$large_font_family: $font_webfont_sans;
$small_font_family: $humanist_fallback;
$mono_font_family: $mono_fallback;

$base_font: $font_webfont_sans;

// ------------------------------------
// Typography mixins
// ------------------------------------

// helpers
@mixin text_rendering_legibility {
	-webkit-text-rendering: optimizelegibility;
	        text-rendering: optimizelegibility;
}

@mixin text_rendering_speed {
	-webkit-text-rendering: optimizespeed;
	        text-rendering: optimizespeed;
}

@mixin font_smoothing {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin ellipsis ($display: block) {
	display: $display;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

%heading_base {
//	font-family: $large_font_family;
	letter-spacing: -1px;
	font-kerning: normal;
	@include text_rendering_legibility();
	@include font_smoothing();
}

// h1 font-size: 3.42857rem; letter-spacing: -2px;
// h2 font-size: 2.14286rem; letter-spacing: -1px;

//@mixin heading_font($size: 24px, $weight: 600, $lead: 24px) {
@mixin heading_font($size: 1.99rem, $weight: 600, $lead: 1) {
	font-size: $size;
	font-weight: $weight;
	line-height: $lead;
//	font: $weight #{$size + "/" + $lead} $large_font_family;
//	font: $weight $size/$lead $large_font_family;
	letter-spacing: -1px;
	font-kerning: normal;
	@include text_rendering_legibility();
	@include font_smoothing();
}

@mixin paragraph_font($size: 1rem, $weight: 400, $lead: 1.5) {
//	font: $weight #{$size + "/" + $lead} inherit;
	font-size: $size;
	font-weight: $weight;
	line-height: $lead;
}
// 85% / 1.76470
// 0.85rem / 1.5rem;
@mixin small_caps($size: 85%, $weight: 600, $lead: 1.76470){
	font-size: $size;
	font-weight: $weight;
	line-height: $lead;
	letter-spacing: 1px;
	vertical-align: baseline;
	text-transform: uppercase;
}

%large_text p {
	@include heading_font($size: 28px, $weight: 300, $lead: 30px);
//	@include heading_font($size: 2.5rem, $weight: 300, $lead: 0.960em);
	margin-bottom: 0.5em;
	margin-top: 0;
	&:first-child {
		margin-top: -0.15em;
	}
}

// ------------------------------------
// Other
// ------------------------------------

%skip_transitions {
	transition: none 0s 0s !important;
}

//%skip_transitions_long {
//	transition-property: none !important;
//	transition-timing-function: none !important;
//	transition-duration: 0s !important;
//	transition-delay: 0s !important;
//}
