// ------------------------------------
// Definitions
// ------------------------------------

// helpers
@mixin text-rendering-legibility {
	-webkit-text-rendering: optimizelegibility;
	text-rendering: optimizelegibility;
}

@mixin text-rendering-speed {
	-webkit-text-rendering: optimizespeed;
	text-rendering: optimizespeed;
}

@mixin font-smoothing {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin ellipsis ($display: block) {
	display: $display;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

// ------------------------------------
// Media Queries
// ------------------------------------

@mixin media($query) {
	@media #{$query} {
		@content;
	}
}
						/* Smartphones (portrait and landscape)  */
$smartphone: 			"only screen and (min-device-width : 320px) and (max-device-width : 480px)";
						/* Smartphones (landscape)  */
$smartphone-landscape: 	"only screen and (min-width : 321px)";
						/* Smartphones (portrait)  */
$smartphone-portrait: 	"only screen and (max-width : 320px)";
						/* iPads (portrait and landscape)  */
$ipad: 					"only screen and (min-device-width : 768px) and (max-device-width : 1024px)";
						/* iPads (landscape)  */
$ipad-landscape: 		"only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)";
						/* iPads (portrait)  */
$ipad-portrait: 		"only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)";
						/* Desktops and laptops  */
$desktop-small:			"only screen and (min-width : 1024px)";
						/* Desktops and laptops  */
$desktop-medium:		"only screen and (min-width : 1224px)";
						/* Large screens  */
$desktop-large: 		"only screen and (min-width : 1824px)";
						/* iPhone 4  */
$iphone4: 				"only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5)";
