// ------------------------------------
// Definitions
// ------------------------------------

// helpers
@mixin text-rendering-legibility {
	-webkit-text-rendering: optimizelegibility;
	text-rendering: optimizelegibility;
}
@mixin text-rendering-speed {
	-webkit-text-rendering: optimizespeed;
	text-rendering: optimizespeed;
}
@mixin font-smoothing {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
