
// ///////////////////////////////////
// lowercase
// ///////////////////////////////////

// h1 font-size: 3.42857rem; letter-spacing: -2px;
// h2 font-size: 2.14286rem; letter-spacing: -1px;

%heading_base {
	// letter-spacing: -1px;
	// font-weight: 300;
	// font-kerning: normal;
	@include text_rendering_legibility();
	// @include font_smoothing();
}

%heading_normal {
	// @extend %heading_base;
	text-transform: none;
}

.n5-11 {
	@extend %n5_11;
}
%n5_11 {
	@extend %heading_normal;
	// @include heading_font(300, 91px, 99px, -2px);
	// font-weight: 300;
	font-size: 7.5rem;//90px;
	line-height: 9rem;//99px;
	letter-spacing: -2px;
	&:first-child {
		margin-top: -3rem;
	}
	margin-bottom: 2.25rem;
	// padding-top: 5px; padding-right: 20px; padding-bottom: 13px; padding-left: 13px;
}

.n4f2-10 {
	@extend %n4f2_10;
}
%n4f2_10 {
	@extend %heading_normal;
	// @include heading_font(300, 91px, 99px, -2px);
	// font-weight: 300;
	font-size: 7rem;//84px;
	line-height: 8rem;//90px;
	letter-spacing: -2px;
	&:first-child {
		margin-top: -2.25rem;
	}
	margin-bottom: 2.25rem;
	// padding-top: 2px; padding-right: 20px; padding-bottom: 7px; padding-left: 13px;
}
.n4-9 {
	@extend %n4_9;
}
%n4_9 {
	@extend %heading_normal;
	// font-weight: 300;
	font-size: 6rem;//72px;
	line-height: 7rem;//81px;
	letter-spacing: -2px;
	&:first-child {
		margin-top: -2.25rem;
	}
	margin-bottom: 2.25rem;
	// padding-top: 1px; padding-right: 20px; padding-bottom: 8px; padding-left: 15px;
}
.n4-8 {
	@extend %n4_8;
}
%n4_8 {
	@extend %heading_normal;
	// font-weight: 300;
	font-size: 6rem;//72px;
	line-height: 6rem;//72px;
	letter-spacing: -2px;
	&:first-child {
		margin-top: -2.25rem;
	}
	margin-bottom: 2.25rem;
	// padding-top: 6px; padding-right: 20px; padding-bottom: 12px; padding-left: 15px;
}
.n3f2-8 {
	@extend %n3f2_8;
}
%n3f2_8 {
	@extend %heading_normal;
	font-size: 5.5rem;//67px;
	line-height: 6rem;//72px;
	letter-spacing: -2px;

	&:first-child {
		margin-top: -2.25rem;
	}
	margin-bottom: 1.5rem;
	// padding-top: 7px; padding-right: 20px; padding-bottom: 11px; padding-left: 15px;
}
.n3f2-7 {
	@extend %n3f2_7;
}
%n3f2_7 {
	@extend %heading_normal;
	font-size: 5.5rem;//67px;
	line-height: 5.5rem;//63px;
	letter-spacing: -2px;

	&:first-child {
		margin-top: -1.5rem;
	}
	margin-bottom: 1.5rem;
	// padding-top: 3px; padding-right: 20px; padding-bottom: 6px; padding-left: 15px;
}
.n3-7 {
	@extend %n3_7;
}
%n3_7 {
	@extend %heading_normal;
	font-size: 4.5rem;//55px;
	line-height: 5.5rem;//63px;
	letter-spacing: -2px;

	&:first-child {
		margin-top: -1.75rem;
	}
	margin-bottom: 1.75rem;
	// padding-top: 7px; padding-right: 20px; padding-bottom: 11px; padding-left: 17px;
}
.n3-6 {
	@extend %n3_6;
}
%n3_6 {
	@extend %heading_normal;
	font-size: 4.5rem;//55px;
	line-height: 4.5rem;//54px;
	letter-spacing: -2px;

	&:first-child {
		// margin-top: -17px;
		margin-top: -1.25rem;
	}
	margin-bottom: 1.25rem;
	// padding-top: 2px; padding-right: 20px; padding-bottom: 7px; padding-left: 17px;
}
.n2-5 {
	@extend %n2_5;
}
%n2_5 {
	@extend %heading_normal;
	font-size: 3.5rem;//41px;
	line-height: 4rem;//45px;
	letter-spacing: -1px;

	&:first-child {
		margin-top: -1.333333333rem;
	}
	margin-bottom: 1.5rem;
	// padding-top: 2px; padding-right: 20px; padding-bottom: 3px; padding-left: 17px;
}
.n1f2-4 {
	@extend %n1f2_4;
}
%n1f2_4 {
	@extend %heading_normal;
	font-size: 2.625rem;//31.5px;
	line-height: 3rem;//36px;
	letter-spacing: -1px;

	&:first-child {
		margin-top: -0.75rem;
	}
	margin-bottom: 0.75rem;
	// padding-top: 1px; padding-right: 20px; padding-bottom: 8px; padding-left: 17px;
}
.n1p3-3f3 {
	@extend %n1p3_3f3;
}
%n1p3_3f3 {
	@extend %heading_normal;
	font-size: 2.333333333rem;//28px;
	line-height: 2.5rem;//30px;
	letter-spacing: -1px;

	&:first-child {
		margin-top: -0.75rem;
	}
	margin-bottom: 0.75rem;
	// padding-top: 5px; padding-right: 20px; padding-bottom: 1px; padding-left: 18.5px;
}

.n1p2-2 {
	@extend %n1p2_2;
}
%n1p2_2 {
	@include heading_font(300, 1.999999999rem, 2rem);
}

.n1p2-2f6 {
	@extend %n1p2_2f6;
}
%n1p2_2f6 {
	@extend %heading_normal;
	font-size: 1.833333333rem;//22px;
	line-height: 2rem;//24px;
	letter-spacing: -0.5px;

	&:first-child {
		margin-top: -0.666666666666rem;
	}
	margin-bottom: 0.666666666666rem;
	// padding-top: 0; padding-right: 20px; padding-bottom: 3px; padding-left: 19px;
}

.n1f3-1f5 {
	@extend %n1f3_1f5;
}
%n1f3_1f5 {
	// @extend %heading_normal;
	font-size: 1.333333333rem;
	line-height: 1.5rem;
	letter-spacing: -0.25px;
	margin-bottom: 0.666666666rem;//0.6666666rem;//0.5em;

	// margin-bottom: 0.3333333rem;//0.25em;
	// margin-top: 0.1666666rem;//0.125em;
	// margin-top: 0.3333333rem;//0.25em;

	// padding-top: 4px; padding-right: 20px; padding-bottom: 3px; padding-left: 20px;
}

.n1f1-1f6 {
	@extend %n1f1_1f6;
}
%n1f1_1f6 {
	// @include paragraph_font(400, 1.1rem, 1.3333333rem);
	font-size: 1.1rem;
	line-height: 1.333333333rem;
	letter-spacing: 0;
	// margin-top: 0.25rem;

	&:first-child {
	}
	margin-bottom: 0.75rem;
	// padding-top: 3px; padding-right: 20px; padding-bottom: 3px; padding-left: 20px;
}

// ///////////////////////////////////
// uppercase
// ///////////////////////////////////

%heading_caps {
	text-transform: uppercase;
}

.c7-11 {
	@extend %c7_11;
}
%c7_11 {
	@extend %heading_caps;
	font-weight: 300;
	font-size: 8rem;//96px;
	line-height: 9rem;//99px;
	letter-spacing: -2px;

	&:first-child {
		margin-top: -1.5rem;
	}
	// padding-top: 3px; padding-right: 20px; padding-bottom: 6px; padding-left: 13px;
}
.c5-7 {
	@extend %c5_7;
}
%c5_7 {
	@extend %heading_caps;
	font-size: 5.5rem;//67px;
	line-height: 5.5rem;//63px;
	letter-spacing: -2px;

	&:first-child {
		margin-top: -0.75rem;
	}
	// padding-top: 3px; padding-right: 20px; padding-bottom: 12px; padding-left: 16px;
}
.c4-7 {
	@extend %c4_7;
}
%c4_7 {
	@extend %heading_caps;
	font-size: 4.5rem;//55px;
	line-height: 5.5rem;//63px;
	letter-spacing: -2px;

	&:first-child {
		margin-top: -1.5rem;
	}
	// padding-top: 7px; padding-right: 20px; padding-bottom: 12px; padding-left: 15px;
}
.c3-5 {
	@extend %c3_5;
}
%c3_5 {
	@extend %heading_caps;
	font-size: 3.5rem;//41px;
	line-height: 3.5rem;//45px;
	letter-spacing: -2px;
	&:first-child {
		margin-top: -0.75rem;
	}
	// padding-top: 2px; padding-right: 20px; padding-bottom: 7px; padding-left: 17px;
}
