
// ///////////////////////////////////
// lowercase
// ///////////////////////////////////

// h1 font-size: 3.42857rem; letter-spacing: -2px;
// h2 font-size: 2.14286rem; letter-spacing: -1px;

%heading_base {
	// letter-spacing: -1px;
	// font-weight: 300;
	// font-kerning: normal;
	@include text_rendering_legibility();
	// @include font_smoothing();
}
%heading_normal {
	// @extend %heading_base;
	text-transform: none;
}

%heading_caps {
	text-transform: uppercase;
}


%n5_11 {
	@extend %heading_normal;
	// @include heading_font(300, 91px, 99px, -2px);
	// font-weight: 300;
	font-size: 90px;
	line-height: 99px;
	letter-spacing: -2px;

	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 13px;
	padding-left: 13px;

	&:first-child {
		margin-top: -36px;
	}
	margin-bottom: 27px;
}


%n4f2_10 {
	@extend %heading_normal;
	// @include heading_font(300, 91px, 99px, -2px);
	// font-weight: 300;
	font-size: 84px;
	line-height: 90px;
	letter-spacing: -2px;

	padding-top: 2px;
	padding-right: 20px;
	padding-bottom: 7px;
	padding-left: 13px;

	&:first-child {
		margin-top: -27px;
	}
	margin-bottom: 27px;
}

%n4_9 {
	@extend %heading_normal;
	// font-weight: 300;
	font-size: 72px;
	line-height: 81px;
	letter-spacing: -2px;

	padding-top: 1px;
	padding-right: 20px;
	padding-bottom: 8px;
	padding-left: 15px;

	&:first-child {
		margin-top: -27px;
	}
	margin-bottom: 27px;
}

%n4_8 {
	@extend %heading_normal;
	// font-weight: 300;
	font-size: 72px;
	line-height: 72px;
	letter-spacing: -2px;

	padding-top: 6px;
	padding-right: 20px;
	padding-bottom: 12px;
	padding-left: 15px;

	&:first-child {
		margin-top: -27px;
	}
	margin-bottom: 27px;
}

%n3f2_8 {
	@extend %heading_normal;
	font-size: 67px;
	line-height: 72px;
	letter-spacing: -2px;

	padding-top: 7px;
	padding-right: 20px;
	padding-bottom: 11px;
	padding-left: 15px;

	&:first-child {
		margin-top: -27px;
	}
	margin-bottom: 18px;
}

%n3f2_7 {
	@extend %heading_normal;
	font-size: 67px;
	line-height: 63px;
	letter-spacing: -2px;

	padding-top: 3px;
	padding-right: 20px;
	padding-bottom: 6px;
	padding-left: 15px;

	&:first-child {
		margin-top: -18px;
	}
	margin-bottom: 18px;
}

%n3_7 {
	@extend %heading_normal;
	font-size: 55px;
	line-height: 63px;
	letter-spacing: -2px;

	padding-top: 7px;
	padding-right: 20px;
	padding-bottom: 11px;
	padding-left: 17px;

	&:first-child {
		margin-top: -27px;
	}
	margin-bottom: 18px;
}

%n3_6 {
	@extend %heading_normal;
	font-size: 55px;
	line-height: 54px;
	letter-spacing: -2px;

	padding-top: 2px;
	padding-right: 20px;
	padding-bottom: 7px;
	padding-left: 17px;

	&:first-child {
		// margin-top: -17px;
		margin-top: -9px;
	}
	margin-bottom: 18px;
}

%n2_5 {
	@extend %heading_normal;
	font-size: 41px;
	line-height: 45px;
	letter-spacing: -2px;

	padding-top: 2px;
	padding-right: 20px;
	padding-bottom: 3px;
	padding-left: 17px;

	&:first-child {
		margin-top: -9px;
	}
	margin-bottom: 9px;
}

%n1f2_4 {
	@extend %heading_normal;
	font-size: 31.5px;
	line-height: 36px;
	letter-spacing: -1px;

	padding-top: 1px;
	padding-right: 20px;
	padding-bottom: 8px;
	padding-left: 17px;

	&:first-child {
		margin-top: -9px;
	}
	margin-bottom: 9px;
}

%n1p3_3f3 {
	@extend %heading_normal;
	font-size: 28px;
	line-height: 30px;
	letter-spacing: -1px;

	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 1px;
	padding-left: 18.5px;

	&:first-child {
		margin-top: -9px;
	}
	margin-bottom: 9px;
}

%n1p2_2f6 {
	@extend %heading_normal;
	font-size: 22px;
	line-height: 24px; //2.6666
	letter-spacing: -0.5px;

	padding-top: 0;
	padding-right: 20px;
	padding-bottom: 3px;
	padding-left: 19px;

	&:first-child {
		margin-top: -4.5px;
	}
	margin-bottom: 9px;
}


%n1f3_1f5 {
	// @extend %heading_normal;
	font-size: 1.3333333rem;
	line-height: 1.5rem;
	letter-spacing: -0.25px;

	padding-top: 4px;
	padding-right: 20px;
	padding-bottom: 3px;
	padding-left: 20px;

	// margin-top: 0.1666666rem;//0.125em;
	// margin-top: 0.3333333rem;//0.25em;
	// margin-bottom: 0.3333333rem;//0.25em;
	margin-bottom: 8px;//0.6666666rem;//0.5em;
}


%n1f1_1f6 {
	@include paragraph_font(400, 1.1rem, 1.3333333rem);
	// font-size: 1.1rem;
	// line-height: 1.5rem;
	// margin-top: 0.25rem;

	padding-top: 3px;
	padding-right: 20px;
	padding-bottom: 3px;
	padding-left: 20px;

	&:first-child {}
	margin-bottom: 9px;
}

// ///////////////////////////////////
// uppercase
// ///////////////////////////////////


%c7_11 {
	@extend %heading_caps;
	font-weight: 300;
	font-size: 96px;
	line-height: 99px;
	letter-spacing: -2px;

	padding-top: 3px;
	padding-right: 20px;
	padding-bottom: 6px;
	padding-left: 13px;

	&:first-child {
		margin-top: -18px;
	}
}

%c5_7 {
	@extend %heading_caps;
	font-size: 67px;
	line-height: 63px;
	letter-spacing: -2px;

	padding-top: 3px;
	padding-right: 20px;
	padding-bottom: 12px;
	padding-left: 16px;

	&:first-child {
		margin-top: -9px;
	}
}

%c4_7 {
	@extend %heading_caps;
	font-size: 55px;
	line-height: 63px;
	letter-spacing: -2px;

	padding-top: 7px;
	padding-right: 20px;
	padding-bottom: 12px;
	padding-left: 15px;

	&:first-child {
		margin-top: -18px;
	}
}

%c3_5 {
	@extend %heading_caps;
	font-size: 41px;
	line-height: 45px;

	padding-top: 2px;
	padding-right: 20px;
	padding-bottom: 7px;
	padding-left: 17px;

	letter-spacing: -2px;
	&:first-child {
		margin-top: -9px;
	}
}
