/*
 * Fontello Icons
 */

@import "../fonts/_fontello";

@mixin fontello-icon-base() {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	// content: '\e805';
	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;
}
@mixin fontello-icon-after() {
	@include fontello-icon-base();
	margin-right: -0.1em;
	margin-left: .4em;
}
@mixin fontello-icon-before() {
	@include fontello-icon-base();
	margin-left: -0.1em;
	margin-right: .4em;
}

@mixin spinner-icon {
	content: '\e800';
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-align: center;
	speak: none;
	width: 1em;
	margin-left: .2em;
	display: inline-block;
}
