// ------------------------------------
// Fontello Icons
// ------------------------------------
// @import "../fonts/_fontello";

@mixin fontello_icon_base() {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	speak: none;
}
@mixin fontello_icon_pseudo() {
	@include fontello_icon_base();
	display: inline-block;
	text-decoration: inherit;
	text-align: center;
	width: 1em;
	/* fix buttons height, for twitter bootstrap */
	//line-height: 1em; vertical-align: middle;
}
@mixin fontello_icon_after() {
	@include fontello_icon_pseudo();
	margin-right: -0.1em;
	margin-left: .4em;
}
@mixin fontello_icon_before() {
	@include fontello_icon_pseudo();
	margin-left: -0.1em;
	margin-right: .4em;
}
