/*
 * Fontello Icons
 */
@import "../fonts/_fontello";

@mixin fontello-icon-base() {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	speak: none;
}
@mixin fontello-icon-pseudo() {
	@include fontello-icon-base();
	display: inline-block;
	text-decoration: inherit;
	text-align: center;
	width: 1em;
	/* fix buttons height, for twitter bootstrap */
	//line-height: 1em; vertical-align: middle;
}
@mixin fontello-icon-after() {
	@include fontello-icon-pseudo();
	margin-right: -0.1em;
	margin-left: .4em;
}
@mixin fontello-icon-before() {
	@include fontello-icon-pseudo();
	margin-left: -0.1em;
	margin-right: .4em;
}
