
/* ---------------------- *
 * Dynamic color classes
 * ---------------------- */

.mutable-faded {
	color: lighten($color, 40%);
	border-color: lighten($color, 60%);
}

//.mutable-color {
//	color: inherit;
//}
//
//.mutable-border {
//}
//
//.mutable {
//	color: inherit;
//	background-color: inherit;
//}

.mutable-faded, body {
	// Color values specified in "_base.scss"
	transition-property: color, background-color;
	transition-timing-function: steps(4), $ease;
	transition-duration: $duration * 0.75;
	transition-delay: $delay*3;
}
